[2014-11-07 03:18] juliasolorzano opened #57 "Add LICENSE file"
Please refer to http://choosealicense.com/ for options to choose from for licensing. Would love to hear/see thoughts form @DBNess + @Cara-Jo, in particular, on which route we should go.

[2014-11-11 03:33] #57 closed, assigned to nobody

[2014-11-13 17:14] juliasolorzano opened #58 "Change "locations" route to "chapters""
To stay consistent with the old website, we need to change the routes pointing "locations" to "chapters" to help avoid any linkage breakage to those pages.

[2014-11-13 17:19] juliasolorzano opened #59 "Create admin level for chapter leaders"
Currently, there are only admin roles in active admin. We'd like to create a role for chapter leaders and have the following permissions for those leaders:
- [ ] Permission to add/edit/remove leaders, teachers and volunteers to only their chapter
- [ ] Permission to upload or edit images on their chapter page
- [ ] Permission to add/edit/remove chapter level sponsor logos and links

[2014-11-13 17:22] juliaelman opened #60 "Add SSL certificate and validate"
We need to purchase and validate an SSL cert. @DBNess has a discount code for purchasing one, but there are also free ways to receive the certificate: https://www.startssl.com/

I also did some research and it looks like Heroku will charge us $20/month for SSL: https://addons.heroku.com/ssl

Here are the steps we need to take to move foward:

- [x] Determine whether we purchase a certificate OR we

[2014-11-13 17:29] juliaelman opened #61 "Switch DNS to point to new Heroku instance"

[2014-11-13 17:41] juliaelman opened #62 "Create new donations page"
The current sponsorship page has limited capacity for making custom donation amounts. We'd like to create the ability for companies and individuals to be able to contribute donations more easily. Here are the following steps we'll need to take to help make this happen on the new site:

- [x] Sketch/wireframe the layout for the new page
- [x] Receive updated code from our Amazon account that allows

[2014-11-13 17:45] juliaelman opened #63 "Add updated Google Analytics code"
Pending on #61

[2014-11-13 17:52] #58 closed, assigned to nobody

[2014-11-13 18:09] juliaelman opened #64 "Create new sponsors page"
- [x] Write content for the page
- [x] Create link to email sponsorships@girldevelopit.com to contact us
- [x] Create route to "/sponsors"
- [x] Add link to new "Sponsors" page in navigation structure
- [x] Add new template and styling for sponsors page

[2014-11-13 18:10] juliasolorzano opened #65 "Create "Code of Conduct" page"
- [x] Create route to "/code-of-conduct"
- [x] Add link to new "Code of Conduct" page in navigation structure
- [x] Add new template and styling for code of conduct page

[2014-11-13 18:14] juliaelman opened #66 "Create new curriculum page"
This one is a little trickier, as we need to be thinking about how we maintain links to our official curriculum. Would love to hear thoughts from the curriculum team on the steps we need to take to complete this issue. //cc @Roenok @pamelafox

- [x] Sketch/wireframe the layout for the new page
- [x] Create route to "/materials"
- [x] Add link to new "Curriculum" page in navigation structure
- [x]

[2014-11-13 18:16] juliasolorzano opened #67 "Update "About" page"
After a discussion with @DBNess and @corinnepw, it seems as though we need a newer About page to reflect more of the history of where GDI is at it's current state. We'll need some copywriting help here, as well as design and touch of dev! :sparkles:
- [x] Write new/updated content for the about page
- [ ] Add new template and styling for about page

[2014-11-15 20:29] alohaas opened #68 "Selected State on Navigation"
@alohaas pointed out that the current navigation does not provide a way for folks to know what page they are viewing. Here are some steps that might be useful in resolving this issue:

- [ ] Create a simple layout with the new indication
- [ ] Add the new HTML/CSS to the site

[2014-11-15 20:42] Cara-Jo opened #69 "Update site design to match current brand"
* Update headline & body fonts
* Update photo on homepage to reflect current students.
* Have a repository of photos that can be used for the home page to keep it relevant
* Add photograph of students/leaders for the about page - because photos!

[2014-11-16 17:20] Cara-Jo opened #72 "Add back ability to add Volunteers"
On the current site there is a section of each chapter page to include profiles for Volunteers. Can we get that added back in? Right now in the admin there is only Leaders & Teachers. I'd love to give some love to all my non-teacher/leader team members!

[2014-11-16 22:55] juliasolorzano opened #75 "Clean up merged branches"

[2014-11-17 00:16] juliasolorzano opened #76 "Add favicon.ico file to <head>"
Please use the attached icon here: ![favicon](https://cloud.githubusercontent.com/assets/955558/5063834/ee4d3882-6dc4-11e4-8b56-40e05eaa1bc1.png)

[2014-11-17 02:35] therufs opened #78 "Image sizing for Heroku seed data"
Currently, seeding data relies on ImageMagick. We should figure out how to run it on heroku if possible.  If this doesn't work, we can resize and relink the existing images so seed doesn't rely on ImageMagick.

[2014-11-17 02:58] #75 closed, assigned to therufs

[2014-11-17 15:35] therufs opened #81 "Fix routing and links so everything is /chapters"
so links across the web don't break.

[2014-11-17 16:12] #65 closed, assigned to minamarkham

[2014-11-17 20:00] brendajin opened #82 "Update rake command"
- [ ] Separate db commands for dev, staging, prod envs so that unnecessary commands are reduced for one-time dev setup for those who do not need db
- [ ] Update README.md instructions per changes

[2014-11-17 20:46] kexline4710 opened #83 "[TEMPLATE] - Issue"
**Description**
_Include a high level description of the feature or error here including steps of how to recreate if applicable. Include any benefits, challenges or considerations. Can be short and sweet._

**Ask**
_Describe the desired behavior and what would deem this issue/bug/feature complete._

**To Do**
- [ ] Steps
- [ ] To
- [ ] Complete/Fix

**Additional Info**
_Include any images, steps t

[2014-11-20 04:18] #78 closed, assigned to therufs

[2014-11-20 04:18] #81 closed, assigned to nobody

[2014-11-20 04:38] #72 closed, assigned to minamarkham

[2014-11-22 04:47] #59 closed, assigned to amygori

[2014-11-22 04:55] juliasolorzano opened #86 "Change admin roles naming"
After a discussion on #59, there seems to be some confusion on the roles that are available in Active Admin. Here are the changes that need to be made:

webmistress ==> admin
admin ==> leaders

[2014-11-22 05:04] juliaelman opened #87 "Create a sign-up form for chapter leaders to be ability to sign up for active admin"
A form should be created for chapter leaders to be able to sign up for using Active Admin. Here are the fields that are needed:

- First name [Text field]
- Last name [Test field]
- Email address [must be checked to be a @girldevelopit.com email address]
- City [Drop down]

[2014-11-23 03:24] juliasolorzano opened #88 "Remove /public/assets folder from repo."
@therufs and I were working to solve some issues involving assets compiling. While there might need to still be some new configuration in regards to deployment, we found that removing the /public/assets folder helped avoid these issues. \o/

[2014-11-23 03:28] juliasolorzano opened #90 "Add deploy documentation in README."
We need to be more explicit in keeping in sync with our deployment methods to Heroku. Having it documented in the README makes the most sense and a way to have a reference for anyone to follow.

[2014-11-23 03:59] #76 closed, assigned to nobody

[2014-11-23 03:59] #88 closed, assigned to nobody

[2014-11-23 04:14] #86 closed, assigned to nobody

[2014-11-23 18:43] #90 closed, assigned to juliaelman

[2014-12-19 13:56] #67 closed, assigned to minamarkham

[2014-12-19 20:26] cfarm opened #98 "Body text color is too low-contrast"
The font color for the paragraph text is too light and therefore inaccessible for visually-impaired users. See the WebAIM Color contrast tool here: http://webaim.org/resources/contrastchecker/

Font color is #7a7c7c, on background #ffffff which fails the checker.

Solution would be to choose a darker grey that passes the tests on the color checker tool.

[2015-01-15 04:13] juliaelman opened #100 "Password reset in active admin broken"
Steps to take:

-  Go to /admin/
- Click on "Forgot your password?"
- Fill in your email address
- Click "Reset my password"
- You should get an error message stating that there was a problem. You should also not receive an email with a password reset.

[2015-01-15 04:20] therufs commented on #100
Hmm.  AA says you were sent a token.  I bet our mailer's set up
incorrectly.

On Wed, Jan 14, 2015 at 11:13 PM, Julia Elman <notifications@github.com>
wrote:

[2015-01-15 04:21] juliaelman commented on #100
@therufs thanks for your response! :space_invader: Any ideas on how best to move forward?

[2015-01-15 04:25] therufs commented on #100
In general, "look at server logs" and "check mailer config" :)  I don't
have a great guess at what the actual problem is, but I'm guessing that
it's "the mail has to come from somewhere and right now it doesn't".

On Wed, Jan 14, 2015 at 11:21 PM, Julia Elman <notifications@github.com>
wrote:

[2015-01-15 04:30] juliaelman commented on #100
@therufs yup. Just wanted to get your feedback on where things stood on this from where you all left off! Thanks for responding and hope you are doing well! :rainbow:

[2015-01-15 04:31] therufs commented on #100
'Left off' is probably putting it generously :laughing:

[2015-01-16 03:22] juliaelman opened #105 "Move documentation and to readthedocs.org"
Our documentation is starting to truly outgrow a README and could definetly be moved to a more full blown version on Read the Docs.

[2015-01-24 17:28] #105 closed

[2015-01-24 17:30] juliaelman opened #109 "Meetup API currently not pulling in event data."
After a recent merge/deploy, the Meetup API is currently not pulling in event data for our chapters. See attached a screenshot for reference.
![screen shot 2015-01-24 at 12 28 07 pm](https://cloud.githubusercontent.com/assets/955558/5888235/b962cda4-a3c4-11e4-9a9b-c48529f19415.png)

[2015-01-24 17:39] juliaelman opened #110 "Active Admin currently does not upload or remove chapter leader images"
In the current state, the chapter leader images are statically created at the initial seed. We need to create a way for folks to easily add/remove/update images for their chapter leaders.

[2015-01-24 19:53] snkahn commented on #98
I don't have a copy of the build running, but I suggest #2d2e2e

[2015-01-24 23:43] kstack7 commented on #110
Got this working. Should be included with my Meetup API fix PR.

[2015-01-26 03:04] juliaelman opened #113 "Change local development environment setup to use sqlite instead of Postgres."
One of the biggest hang-ups we find for new contributors is the ability to setup Postgres on their local machine. While others may find this task easy to do, others have a much steeper learning curve.

My proposal is to create a way for contributors to use a sqlite db for their local dev environment instead. There are not as many configurations and will hopefully make it easier for those who want

[2015-01-26 04:00] juliaelman commented on #87
Closing this issue, as we decided to go the manual route for now. Thanks for everyone for your initial help on this! \o/

[2015-01-26 04:00] #87 closed

[2015-01-26 04:07] juliaelman commented on #110
Fixed #112.

[2015-01-26 04:07] #110 closed

[2015-01-26 04:07] juliaelman commented on #109
Fixed #111 by the fantastic @kstack7!

[2015-01-26 04:07] #109 closed

[2015-01-26 04:18] kstack7 commented on #98
want me to apply it to my build? In a new branch of course :)

[2015-01-26 16:15] juliaelman commented on #98
Fixed with PR #114 - thanks @minamarkham!

[2015-01-26 16:15] #98 closed

[2015-01-26 16:38] cfarm commented on #98
Thanks @minamarkham!

[2015-01-26 17:16] juliaelman commented on #69
After a few discussions, we decided to remove this issue and break it down into smaller issues that are easier to handle/review with a single PR. (e.g. #114)

[2015-01-26 17:16] #69 closed

[2015-01-27 00:27] kstack7 commented on #62
Hey there...I have '/donate' routing to a new view in the home folder, but am curious where you'd like the link in the navigation. Is there a designed example for me to reference?

Also, should I create a PR for this new page or can I add the navigation changes to this, too?

[2015-01-27 01:52] juliaelman opened #115 "Remove "home" link in main navigation"
It's most likely un-necessary to have a "home" link in the main navigation of the website. The GDI logo on the left links back to the homepage. Seems to be something most users understand, but am leaning on our UX experts for feedback on this too //cc  @cfarm @snkahn

[2015-01-27 01:57] juliaelman commented on #62
(Keeping a note in here to FTR).

@kstack7 is working on the routing + link addition for the new donation page.

@Cara-Jo there is some config stuff in regards to the Amazon donate config that needs to be implemented on the page. I'll get that in place and then pass off to you to work you design magic! \o/

[2015-01-27 02:16] juliaelman commented on #62
Partial fix here #116.

[2015-01-27 02:41] kstack7 commented on #100
I got this working locally. The email server/settings are not in place thus we were never truly sending emails. Added 'config.action_mailer.delivery_method = :smtp' to the config/environments/development.rb file alongside all my personal gmail smtp settings and successfully received the emails. Note: the password does not change once the email is sent; the user is given a link in the email to go c

[2015-01-27 02:42] kstack7 commented on #100
I'd suggest making an email for this with our "girldevelopit.com" domain name and use google's smtp servers. Definitely easier/reliable!

[2015-01-27 03:12] Cara-Jo commented on #115
I agree with removing it.

[2015-01-27 03:14] Cara-Jo commented on #62
@juliaelman I can wait until the slider and form stuff are in place before working some design magic.

[2015-01-27 04:11] kstack7 commented on #100
Added the free Mandrill add-on for Heroku alongside Sendgrid (MailChimp fangirl here) and tested both. Sendgrid is reeeally slow in comparison. I vote to use Mandrill, but I left the Sendgrid config commented out if anyone wants to tinker.

Mandrill took care of the domain for now, but we'll want to verify the real the gdi domain in order to up the security/improve deliverability. They provide the

[2015-01-28 00:56] corinnepw commented on #62
@juliaelman see content for /donate here: https://docs.google.com/a/girldevelopit.com/document/d/1tjcTUloyxVSSK1pOUHENmRWa2hsOySwJdUsv2PhSzNw/edit?usp=sharing
What additional content is needed for the donate page? Suggested levels? or "this is what x amount supports" on the slider?

[2015-01-28 01:19] juliaelman commented on #62
**UPDATE** HQ decided to change from using Amazon to Paypal for the donation page.

@Cara-Jo I am going to submit a PR that go with #116 and adds the simple "Donate" Paypal that we've used in the past. I'll let you work your :sparkles: to make it look even better (e.g. create custom button image/code).

[2015-01-28 01:20] juliaelman commented on #62
@corinnepw awesome! You rule and thanks for getting that copy together so quickly. I'll leave it to @Cara-Jo to incorporate it into her design for the page.

[2015-01-28 02:04] corinnepw commented on #115
I second that. Also bringing in @alohaas for another UX opinion. :)

[2015-01-28 14:58] alohaas commented on #115
Hey!
I'm for its removal as well.

[2015-01-28 15:00] alohaas commented on #68
I was thinking the simplest solution would be to mirror the hover state.
![screenshot 2015-01-28 09 59 35](https://cloud.githubusercontent.com/assets/4480279/5939754/6a33d756-a6d4-11e4-863b-342b3dc159eb.png)

[2015-01-28 15:05] juliaelman commented on #68
:+1: on this solution @alohaas!

[2015-01-28 15:22] corinnepw commented on #66
Here's a draft of /curriculum intro note: https://docs.google.com/a/girldevelopit.com/document/d/1tjcTUloyxVSSK1pOUHENmRWa2hsOySwJdUsv2PhSzNw/edit#
I would love @Roenok to review/add to that if possible!

[2015-01-28 20:31] coreyd303 commented on #113
Hi! I would love to help around here if I can, I have done some TA work with Rachel and Bree in Denver for GDI at Turing and would love to help with some of these issues. I would be happy to take a look at rolling over to SQLite from postgrSQL if thats cool . . . I would also be happy to take a look at the UX home button issue if thats cool?

[2015-01-28 21:34] coreyd303 commented on #113
In consideration of your comment though keep in mind there are limitations with deployment using SQLite, I am thinking specifically with Heroku . . . It might be work considering using SQLite for development and keeping PostgreSQL for production . . .

[2015-01-28 22:45] DBNess commented on #113
Thanks @coreyd303! The idea @juliaelman so kindly introduced is to change **only development** to make environment setup easier for people unfamiliar with Postgres, not to change the Production settings. Hope that helps clarify. We are also not 100% wed to the idea of SQLite, so if there are any new methods you know of to bypass PostgreSQL install & speed up development environment setup, feel fre

[2015-01-29 04:46] coreyd303 commented on #113
@DBNess I think that SQLite is a sound solution for this, I mean there are other solutions, but SQLite plays well with Rails and development, and it pretty human friendly it seems like a good choice. Plus its a really easy change to make. Sorry I wasn't clear above, but yes for development only; what about test? I put in a PR with sqlite plugged in for development and test . . . I hope that's okay

[2015-01-29 05:04] coreyd303 commented on #113
@DBNess Hey, I think it is a great way to do it. I am noob status so I also don't have much in the way of other ideas. I know there are some other DB options to pick from, but the ones I can think of would probably come with issues much like postgres. Would you and @juliaelman think it would also be a good plan to switch test over to SQLite as well? I typically have kept those two the same, but I

[2015-01-29 12:43] DBNess commented on #113
Thanks, @coreyd303! Switching test over as well is ideal because the test
database gets created locally to run rspec.
On Jan 29, 2015 12:04 AM, "coreyd303" <notifications@github.com> wrote:

[2015-01-29 16:38] corinnepw commented on #64
See some content to use for now here: https://docs.google.com/a/girldevelopit.com/document/d/1tjcTUloyxVSSK1pOUHENmRWa2hsOySwJdUsv2PhSzNw/edit#

[2015-01-30 16:22] juliaelman opened #121 "Add @kstack7 to CONTRIBUTORS.md"
@kstack7 has shown an immense amount of pull requests, reviews and overall support on this project! :fireworks: I propose to add her to our list of official contributors here: https://github.com/girldevelopit/gdi-new-site/blob/master/CONTRIBUTORS.md#contributors-1

- [x] Add Kristen Curtze
- [x] Hyperlink her name to her Github account here: https://github.com/kstack7

[2015-01-30 16:26] juliaelman commented on #121
@corinnepw thanks for making the change! We generally don't close issues until they have a been reviewed by a person other than the PR author.

[2015-01-30 16:27] corinnepw commented on #121
@juliaelman Great - thank you and sorry!

[2015-01-30 16:28] juliaelman commented on #121
No worries @corinnepw! It looks like you went ahead and merged that change in. Next time, please feel free to ping someone in #website to review it. I know it's a minor change, but want to make sure we get in the habit of going through this process :D

[2015-01-30 16:28] #121 closed

[2015-01-30 16:30] corinnepw commented on #121
@juliaelman Awesome! 100% agree. Thanks for implementing these best practices!

[2015-01-30 20:28] juliaelman opened #122 "Update design to use photos and videos from our chapters"
Currently, we're using a generic photo at the top of the homepage. @Cara-Jo made the suggestion of using photos from our chapters instead (YES!). See screenshot below of current homepage image FYR.
![screen shot 2015-01-30 at 3 28 19 pm](https://cloud.githubusercontent.com/assets/955558/5982771/a6471976-a894-11e4-8af2-0e51bc6cb57b.png)

[2015-01-30 20:31] juliaelman opened #123 "Increase font size throughout the website."
A few members have suggested that the font size is a bit small for folks to read. This is throughout the site and will most likely need to be updated and tested throughout.

[2015-01-30 20:35] kstack7 commented on #122
Will this be driven by our site on its own (e.g. uploads in admin) or maybe an API from an image-storing site? Would be nice to automate/simplify the image upload process while dynamically pulling new photos.

[2015-01-30 20:40] juliaelman commented on #122
@kstack7 all great suggestions! What do you think would work best?

@Cara-Jo is there a nice stock pile of GDI images located somewhere?

[2015-01-30 20:57] kstack7 commented on #122
I guess it depends on the comfort level of the contributors. Built-in is always a great choice, but not sure if putting it in the back-end of the site is intuitive enough? Or if it can work alongside AA? That'd rock. Is space an issue?

APIs are tempting, but always leave room for lag/disconnection.

We'd definitely need to have some sort of approval process so you don't have a crap pic of a chair

[2015-01-30 21:00] juliaelman commented on #122
@kstack7 right now we only have one spot where images, other than the chapter leader profile images, are being used: the homepage. I vote that we keep this in mind for future integration, but hold off until we have enough spots,with custom images, to worry about it. Make sense? Sound ok?

[2015-01-30 21:01] kstack7 commented on #122
Oh for sure...just spitballing beyond the designs to see what it could be. I'd be happy to sniff out some options for whenever we are ready to look at it. Def not a pre-launch project!

[2015-01-31 16:52] Cara-Jo commented on #122
I like the idea of having 'hero' images uploadable. It would be great if users could upload an image and then be presented with a way to crop images to the right aspect ratio. I've worked with companies before with uploading images that need to be a specific aspect ratio and found it was helpful for them to have an option to crop on upload.

@juliaelman I don't have a stock pile of GDI images, but

[2015-01-31 16:54] juliaelman commented on #122
@Cara-Jo that is a GREAT idea and love the idea of developing this for future releases. As I mentioned to @kstack7, I think it would be good to keep it simple for now :+1:

Is there a particular newer hero image you'd like to put on the homepage? I think we should just change that in the code and call it a day for now. We're close to release and want to make sure to get this accomplished prior to

[2015-01-31 17:08] Cara-Jo commented on #66
Love how Code School displays their 'tracks' for users. I think something like this for our materails would look slick with the new desing.
![screenshot 2015-01-31 09 58 56](https://cloud.githubusercontent.com/assets/180763/5988904/1e575ad8-a931-11e4-9bff-4a30033c55c4.png)

[2015-01-31 17:10] Roenok commented on #66
Thinking about something like that, but am I not sure if we can get together images/icons. Do you know of any repos, @Cara-Jo?

[2015-01-31 17:10] Cara-Jo commented on #122
Oh, totally down for doing it simple and dirty.

I'll check my photo archives for some awesome student photos.

[2015-01-31 17:14] Cara-Jo commented on #66
I know of this set: http://mfizz.com/oss/font-mfizz @Roenok

[2015-01-31 17:16] Roenok commented on #66
Thanks @Cara-Jo! Those could be helpful.

@juliaelman How much programming complexity will I be adding if I wireframe something with individual landing pages for each course? I want to make something we can actually build out. We can stick to accordions for now, if need be.

[2015-01-31 17:19] Roenok opened #125 "Add document language to HTML element"
Per WCAG 2.0, the W3C's accessibility guidelines, HTML pages should ID their document language:

3.1.1 Language of Page: The default human language of each Web page can be programmatically determined. (Level A)

This makes it easier for assistive tech to pick the right captions, scripts, screenreader voice, etc. Instead of ```<html>```, the header should be ```<html lang="en-US">```.

For more, ht

[2015-01-31 17:20] juliaelman commented on #66
@Roenok I don't think it will be that complex and a fairly simple task. There would only really be two templates: one for a list of curriculum and one for individual curriculum pages. I think it would all depend on the complexity of the layout in general.

Looking forward to seeing your wireframes! :tada:

[2015-01-31 17:24] coreyd303 commented on #115
I would be happy to do this real quick :)

[2015-01-31 17:34] coreyd303 commented on #125
Should be able to just do this in application.html.erb, will do this and submit a PR

[2015-01-31 17:42] coreyd303 commented on #125
PR submitted

[2015-01-31 17:51] Roenok commented on #66
Random thought: Can we preserve that canonical /materials URL for this page, either as the main URL or a redirect? I suspect there are a lot of incoming links out there.

[2015-01-31 17:52] juliaelman commented on #66
@Roenok good point and important to note! Feel free to open another PR for this one, as we want to try to stay focused in scope on this issue. Thanks!

[2015-01-31 17:55] cassiehelms opened #128 ""bundle install" times out while trying to check out active_admin"
Doing "bundle install" during environment set up on Mac OSX 10.7.5 sometimes results in a git timeout on the active_admin repo.  The error looks like the following:

======
fatal: unable to connect to github.com:
github.com[0: 192.30.252.131]: errno=Operation timed out

Git error: command `git clone 'git://github.com/gregbell/active_admin.git'
"/Users/cassie/.rvm/gems/ruby-2.1.2/cache/bundler/git/

[2015-01-31 17:57] cassiehelms commented on #128
I noticed in my environment, this command was successful:
git clone https://github.com/gregbell/active_admin.git
while this one was not:
git clone git://github.com/gregbell/active_admin.git

I got past this Timeout by doing the following git command:
git config --global url."https://".insteadOf git://

[2015-01-31 18:23] cassiehelms commented on #128
We suspect this is related to the guest wifi we are using perhaps filtering ssh packets related to the git clone git:// request with a firewall or similar.

[2015-01-31 18:25] dutchbay commented on #123
I'll be submitting a PR shortly.

[2015-01-31 18:27] coreyd303 opened #129 "Seed breaks when trying to add roles to admin"
Updated seed to create dummy admin before adding roles to activeadmin.roles

[2015-01-31 18:27] coreyd303 commented on #129
PR submitted

[2015-01-31 18:27] #129 closed

[2015-01-31 18:27] cassiehelms opened #130 "Needed to install ImageMagick prior to bundle install"
_NOTE: This is an update from the original issue and is meant to help make the goals of the fix cleaner._

**Description**
_On Mac OSX 10.7.5, bundle install seemed to get hung up on `gem install rmagick`_

**Ask**
_Add to the docs that `imagemagick` should be installed prior to running `bundle install`_

**To Do**
- [ ] Add `brew install imagemagick` to the install documentation.

[2015-01-31 18:29] juliaelman commented on #128
@cassiehelms thank you for submitting this issue! It is most likely the wifi connection, but @kstack7 is going to take a deeper look for confirm. :tada:

[2015-01-31 18:32] juliaelman commented on #125
Tagging #127

[2015-01-31 18:57] AndyLampert commented on #68
I'm gonna work on this this afternoon!

[2015-01-31 18:57] juliaelman commented on #68
Right on @AndyLampert! :dango:

[2015-01-31 19:07] Roenok opened #131 "Add page title to title element"
Currently, all the pages have the same HTML title, Girl Develop It. For better bookmarks/SEO, add the page title to the HTML title.

For example:
Girl Develop It - About
Girl Develop It - Donate

Open to format suggestions.

[2015-01-31 19:20] kstack7 commented on #128
Anyone want to test one line for me? I think I have a solution.

[2015-01-31 19:31] kstack7 commented on #128
K I got a tester and he had a successful install. Going to push my changes in a PR.

[2015-01-31 20:04] kstack7 opened #133 "Update Rails from 4.1.4 to 4.1.9"
@therufs, David (@bayendor in Slack) was mentioning that we should push to 4.1.9 in order to take advantage of some security updates and patches. Is there a reason not to do this? Same question goes for specifying gem versions.

[2015-01-31 20:05] thejinxters commented on #68
Worked on with @AndyLampert, submitted pull request https://github.com/girldevelopit/gdi-new-site/pull/134

[2015-01-31 20:15] Roenok opened #135 "Establish redirect from /materials to /curriculum"
So incoming links to /materials make it to the new page. Same for any page with an old site to new site URL switch.

[2015-01-31 20:16] AndyLampert commented on #131
I'll work on this!

[2015-01-31 20:17] Roenok opened #136 "Create list of curriculum for new site (content)"
As a companion to https://github.com/girldevelopit/gdi-new-site/issues/66, create a list of curriculum for the new site. Each needs:

* Title
* Icon (from http://mfizz.com/oss/font-mfizz for now)
* Long description
* Short description
* Links to slides on git pages
* Links to practice files and homework (optional)
* Link to GitHub repo

[2015-01-31 20:18] Cara-Jo commented on #131
Go @AndyLampert! I'm good with the above format!

[2015-01-31 20:19] Roenok commented on #66
Mockups are here: https://www.dropbox.com/s/8hhy98uihomesry/Curriculum%20Mockups.pdf?dl=0

Or PNGs dumped below:
![course page - desktop](https://cloud.githubusercontent.com/assets/925963/5989658/877a8b54-a95c-11e4-8b76-95e9c58dd15d.png)
![course page - mobile](https://cloud.githubusercontent.com/assets/925963/5989659/877b4698-a95c-11e4-9a5c-31bb199c421a.png)
![curriculum page - desktop](https://c

[2015-01-31 20:42] Roenok commented on #135
Here's another one: /codeofconduct to /code-of-conduct

[2015-01-31 20:43] juliaelman commented on #135
@Roenok can you open another PR for the Code of Conduct routing? Thanks!

[2015-01-31 20:46] juliaelman commented on #68
w00t! Done and closing <3

[2015-01-31 20:46] #68 closed

[2015-01-31 20:48] juliaelman commented on #115
Fixed here #134

[2015-01-31 20:48] #115 closed

[2015-01-31 20:51] Roenok opened #138 "Establish redirect from /codeofconduct to /code-of-conduct"
So incoming links to /codeofconduct make it to the new page.

[2015-01-31 20:51] Roenok commented on #135
@juliaelman Done, as https://github.com/girldevelopit/gdi-new-site/issues/138

[2015-01-31 20:53] juliaelman commented on #135
:dancer: @Roenok

[2015-01-31 20:58] Cara-Jo commented on #122
I'm going to create an issue with the future implementation of a hero image upload in the admin. That way we can bring the focus of this issue back to finding the most perfect image for the home page.

[2015-01-31 20:59] juliaelman commented on #122
@Cara-Jo :+1:

[2015-01-31 21:02] AndyLampert commented on #131
Cool if we do it like this:

About - Girl Develop It
Donate - Girl Develop It

...etc?

Putting the page title first seems to be the the standard for page optimization. Cool?
http://moz.com/learn/seo/title-tag

[2015-01-31 21:03] Cara-Jo opened #142 "Allow admins to upload hero images for the site through an admin"
Instead of having images for the headers (hero images) be static, let's find a way to have admins upload images through the admin.

Acceptance criteria:
- [ ] Create a page for admins to upload hero images.
- [ ] Create a way for admins to crop images to a specific aspect ratio after upload.
- [ ] New image appears on the selected pages.

[2015-01-31 21:03] juliaelman commented on #131
@AndyLampert seems okay, but it seems like we'd want to optimize "Girl Develop It" first and foremost... no?

[2015-01-31 21:03] Cara-Jo commented on #131
I was going to make this same suggestion - glad you pointed it out @AndyLampert

[2015-01-31 21:06] Cara-Jo commented on #131
Alternativly - we could do something like:

GDI: Donate - Girl Develop It
GDI: About - Girl Develop It

Just throwing some ideas out there.

[2015-01-31 21:09] AndyLampert commented on #131
@Cara-Jo @juliaelman

My vote goes for:
About - Girl Develop It
Donate - Girl Develop It

And "GDI: Donate - Girl Develop It" seems a little repetitive to me, but I'm happy to do whichever, lemme know!

[2015-01-31 21:12] coreyd303 commented on #133
From what I know on semantic versioning on these there shouldn't be any down sides. I would be happy to work on this if it is wanted . . .

[2015-01-31 21:13] Cara-Jo commented on #131
Now that I see it - you're totally right. It is a bit redundant

[2015-01-31 21:13] juliaelman commented on #131
@AndyLampert cool! :+1: on your proposed changes. We can test to see how well our hits are in regards to these titles and/or if it's an issue laters.

[2015-01-31 21:16] Cara-Jo commented on #131
Thanks @AndyLampert for doing that research! :+1: :100:

[2015-01-31 21:32] coreyd303 commented on #133
4.1.9 seems to be a-okay. I'll put up a PR for review

[2015-01-31 21:35] thejinxters commented on #131
check out the PR https://github.com/girldevelopit/gdi-new-site/pull/143

[2015-01-31 21:36] thejinxters commented on #131
oh.. and forgot the emoji :womans_hat:

[2015-01-31 21:36] AndyLampert commented on #131
:bow: @Cara-Jo

[2015-01-31 21:50] kstack7 commented on #100
All covered and merged in #117 :)

[2015-01-31 21:50] #100 closed

[2015-01-31 22:09] coreyd303 opened #145 "model testing"
Models can be easily tested to improve coverage based on simplecov coverage report

[2015-01-31 22:16] kstack7 commented on #113
Cleaned up with new PR in #141

[2015-01-31 22:16] #113 closed

[2015-01-31 22:17] coreyd303 commented on #145
I will be working on this, and will list the file I am working on here:

Starting with bio.rb

[2015-01-31 22:22] AndyLampert commented on #138
I'm on it!

[2015-01-31 22:23] #145 closed

[2015-01-31 22:24] coreyd303 opened #146 "Feature testing"
Could use feature testing to help bolster test coverage

[2015-01-31 22:25] AndyLampert opened #148 "Should we make social links open a new tab?"

[2015-01-31 22:31] kstack7 commented on #148
I vote yes!

[2015-01-31 22:31] thejinxters commented on #138
Made PR https://github.com/girldevelopit/gdi-new-site/pull/149
@AndyLampert

[2015-01-31 22:32] AndyLampert commented on #148
Good enough for me! On it!

[2015-01-31 22:32] thejinxters commented on #138
:shipit:

[2015-01-31 22:40] thejinxters commented on #148
@AndyLampert  and I did this PR https://github.com/girldevelopit/gdi-new-site/pull/151

[2015-01-31 22:43] AndyLampert opened #152 ""as seen in" links on home also need to open in a new tab"

[2015-01-31 22:45] AndyLampert opened #153 "Contact us email links on /about need to have mailto: links"
https://www.dropbox.com/s/d16n26ryf100rfs/Screenshot%202015-01-31%2015.44.56.png?dl=0

[2015-01-31 22:48] thejinxters commented on #152
Pull request https://github.com/girldevelopit/gdi-new-site/pull/151 also fixes this now :tongue:

[2015-01-31 22:48] AndyLampert opened #154 "links at the bottom of /code-of-conduct need to have page context as the link instead of the full url"
Contact information for your local Chapter Leader can be found on http://girl-develop-it.herokuapp.com/chapters

=>something like this
Contact information for your local Chapter Leader can be found on <a href="#">our chapter page</a>.

https://www.dropbox.com/s/qbs4svemk5binjs/Screenshot%202015-01-31%2015.46.34.png?dl=0

[2015-01-31 23:01] thejinxters commented on #153
PR https://github.com/girldevelopit/gdi-new-site/pull/155 fixes this @AndyLampert

[2015-01-31 23:02] thejinxters commented on #154
PR #155 fixes this @AndyLampert

[2015-02-01 00:32] mtchem opened #157 "Windows install instructions"
There are no instructions for people with windows to both install ruby on rails and how to use the git hub clone.

[2015-02-01 00:38] bayendor opened #159 "Dual use of image magick / rmagick in gem file"
We seem to have two image compression tools in the gem file.  Unless we are using `jruby` do we need `rmagick`?

[2015-02-01 00:39] mtchem commented on #157
This is what I have so far, but there are still issues.
1. GitHub
  1. Sign-up for GitHub and log-in
b.	Go to https://github.com/girldevelopit/gdi-new-site
c.	Fork the site (button on top right corner), This with create a copy on your github site
d.	Clone your new copy by clicking the “Clone in Desktop” button.  A window will pop up asking where you want to save it (save it wherever you want, I sa

[2015-02-01 01:40] juliaelman opened #160 "Missing state images on /chapters page"
We are currently missing the following state images on the /chapters page:

- Arizona
- Georgia
- Indiana
- Kentucky
- North Dakota
- Virginia

Here are the steps needed to make this happen:

- [x] Created images using the following .eps file: http://cl.ly/ZYSZ/download/us-map.eps
- [x] Size them to the correct fixed proportions of 400px width x 350px height.
- [x] Save them with their correspondi

[2015-02-01 01:42] juliaelman opened #161 "Enable leaders role to edit bios for their chapter"
Currently, Active Admin users with the `leaders` role cannot edit bios for their chapter. We'd like to create the ability for these users to to do and make it easier for them to update, edit and remove information about their leaders in their pages.

[2015-02-01 02:31] juliaelman opened #162 "Add "Fork me on Github" ribbon to website"
In an effort to gain more contributors to this code base, it would nice to have badge that makes folks aware that the website is an open source project.

Here are the steps to take to make it happen:

- [x] Select the code from [https://github.com/blog/273-github-ribbons](https://github.com/blog/273-github-ribbons) with ribbon that matches the color scheme for the new website
- [x] Add the ribbon

[2015-02-01 06:08] kstack7 commented on #128
Woops forgot I didn't merge the changes yet! Anyone wanna review my #137 ??

[2015-02-01 06:09] kstack7 commented on #130
We have another GDI chapter leader that hit this wall too...I'll talk to her and see if that was a similar path she took. Either way it doesn't hurt to add as an extra tip while installing.

[2015-02-01 06:14] kstack7 commented on #138
Merged with #149

[2015-02-01 06:14] #138 closed

[2015-02-01 17:30] juliaelman commented on #62
@Cara-Jo re-assigning to you so that you can work your design :sparkles: to this page! \o/

[2015-02-01 22:15] juliaelman opened #165 "Change Mandrill settings to point to girldevelopit.com"
Currently, we have the DNS as the default Heroku application name (girl-develop-it) for our Mandrill settings. I am pretty sure we'll need to change that once we switch the DNS to points to  girldevelopit.com on #61.

[2015-02-01 22:17] kstack7 commented on #165
Yup! I'd be happy to get those TXT files set in place for when we want them. Just saves one last-minute adjustment for the launch plus gives time to propagate :)

[2015-02-02 01:09] juliaelman commented on #131
Fixed with #143.

[2015-02-02 01:09] #131 closed

[2015-02-02 01:33] juliaelman commented on #128
Fixed with #137

[2015-02-02 01:33] #128 closed

[2015-02-02 01:47] juliaelman commented on #123
Fixed with #150

[2015-02-02 01:47] #123 closed

[2015-02-02 01:54] #148 closed

[2015-02-02 01:55] #152 closed

[2015-02-02 01:59] #153 closed

[2015-02-02 02:00] #154 closed

[2015-02-02 05:20] kstack7 commented on #161
I know how to enable this so any leader can edit ANY chapter/bio, but I'm trying to make it so that you can only edit those tied to your chapter. I can push the wide open edit permissions for the sake of productivity though? Just didn't want to add confusion or have anyone accidentally overwrite others' details.

[2015-02-02 05:57] kstack7 commented on #161
@juliaelman I may need to talk about the db with you soon. I created a leader-level user and changed the permissions so they can only manage/view records related to the chapter ID#...this definitely simplifies the dashboard/navigation, but I want to make sure this is the direction we'd like to go.

[2015-02-02 16:09] Cara-Jo opened #166 "Add space between map & next event on Chapter pages"
Right now, the space between the map and the next event is too small. It gives the appearance that the map is associated with the event AFTER the image, when it is in fact not. By increasing the margin on the bottom of the map, this will help eliminate that confusion.

See screenshot:
![screenshot 2015-02-02 09 07 07](https://cloud.githubusercontent.com/assets/180763/6003741/246bd9e0-aabb-11e4-824

[2015-02-02 18:42] kstack7 commented on #166
Do you think we should reduce the space between the RSVP and map, too? or just keep that spacing as-is an just add the space below the map? Not sure if that'll make too much white space going on...

[2015-02-02 18:55] Roenok commented on #166
Reduce the space between RSVP and the map, I think. We need to make it clear that the map belongs to that event.

[2015-02-02 18:57] kstack7 commented on #166
Yeah I agree with that. It was getting too out in the middle on it's own.

[2015-02-02 19:14] kstack7 commented on #66
Was just talking to @Roenok about building this page. She brought up a good point about shifting from 'curriculum' to 'materials' just to make it easier for folks to link/type/spell. We could still route all curriculum/materials links to the same page, but just have 'materials' as the primary name. This would knock out #135 as well. Thoughts?

[2015-02-02 19:16] kstack7 commented on #159
rmagick requires imagemagick to run, I thought?

[2015-02-02 19:47] kstack7 commented on #125
Now PR #167

[2015-02-02 20:25] staceyturnage commented on #161
I would like to edit bios & rearrange the information on my chapter page....HELP!  Need a crash course on "how to" do that. Currently my new page indicates we have 3 chapter leaders and that's incorrect...HELP!!

[2015-02-02 20:48] kstack7 commented on #161
@staceyturnage: @juliaelman and I are going over this tonight and I may push some changes that will greatly simplify this ordeal. I can follow-up with you afterwards to see how your chapter is looking. Sound good?

[2015-02-02 20:51] staceyturnage commented on #161
Sounds great!

Let me know what my next steps are!

Thanks,

Stacey

On Mon, Feb 2, 2015 at 2:48 PM, kstack7 <notifications@github.com> wrote:

--
STACEY TURNAGE | Founder | Girl Develop It Houston |
stacey@girldevelopit.com | girldevelopit.com | Houston Meetup | @gdihouston
| @staceyyturnage

[2015-02-02 22:05] Roenok commented on #66
+1 on the URL change. The current curriculum page has pretty good SEO authority and a few hundred incoming links. Maintaining a canonical URL is good practice.

[2015-02-02 22:13] Roenok opened #168 "Add Google Analytics to site"
From our current production site, the UA-code is UA-19096645-1

[code]

[2015-02-02 22:20] kstack7 commented on #168
Tying to #63

[2015-02-02 23:42] DBNess commented on #168
Yay analytics!! Can we set this up using an environment variable, so that
only the production site's visits are recorded to this tracking code? That
way people developing the site locally won't falsely affect our Google
Analytics numbers.

Here's a code example of how to set this up:

Frontend code references GOOGLE_ANALYTICS_TRACKING_CODE variable:
https://github.com/CodeMontageHQ/codemontage/blo

[2015-02-03 00:53] bayendor commented on #159
@kstack7, my apologies, you are of course correct.  What I meant to call out was the apparent redundant requirement of both `MiniMagick` and `RMagick` in the gem file.

According to the carrier wave documentation: "Some documentation refers to RMagick instead of MiniMagick but MiniMagick is recommended."  And the gem spec for carrier wave only require  rMagick  for `jruby`.

It's not critical, but

[2015-02-03 00:58] kstack7 commented on #159
Ah got it! :+1: We will likely encounter this while improving our installation process (Ex: #130 ) so thank you @bayendor for bringing it to our attention :) Always helps to keep things simple and straight-forward.

[2015-02-03 02:46] Roenok commented on #160
I can grab this one; it will be good to practice my Illustrator skills

[2015-02-03 03:40] Roenok commented on #66
Hey, @kstack7! More mockups, this time with confusing annotations. Field list is here:
https://docs.google.com/spreadsheets/d/1doNd2Q7qLKTd2rAx_0ZzSQdkpXWf44z1xW-HNfxeyJM/edit?usp=sharing

Annotated mockups are below
![course page - annotated](https://cloud.githubusercontent.com/assets/925963/6014116/819894d4-ab2c-11e4-980d-0e4ff996a897.png)
![Uploading Curriculum Page - Annotated.png . . .]()

[2015-02-03 04:02] kstack7 commented on #66
ooOOOoo thankya, @Roenok ! super helpful...I'll take a swing :)

[2015-02-03 06:34] pamelafox commented on #66
FYI, for our SF curriculum on teaching-materials.org, I often have a "View teachers info" toggle at the top, that shows more detailed instructions, teacher notes, in-class examples, etc. You can see an example here: http://www.teaching-materials.org/htmlcss-1day/
That was how I resolved the tension between the 2 different audiences for the materials.

[2015-02-03 08:26] kstack7 commented on #66
Submitted PR #170 which includes ActiveAdmin role-related capabilities, routing, link added to navigation, and redirects for 'curriculum' or whichever...

I'm STILL getting a bit snarled up by seeing the designs say "curriculum" in the urls and discussing how the old site is at "materials"...which do we prefer? I'll need to swap up the database if we were hoping for curriculum haha because I devel

[2015-02-03 14:11] juliaelman commented on #125
Fixed with #167!

[2015-02-03 14:11] #125 closed

[2015-02-03 14:14] juliaelman commented on #168
Thanks for the notes ladies! #63 already has a focus on this, but will add these notes to the issue.

[2015-02-03 14:15] juliaelman commented on #63
From @Roenok:

From our current production site, the UA-code is UA-19096645-1

[code]

[2015-02-03 14:16] juliaelman commented on #63
From @DBNess:

Yay analytics!! Can we set this up using an environment variable, so that
only the production site's visits are recorded to this tracking code? That
way people developing the site locally won't falsely affect our Google
Analytics numbers.

Here's a code example of how to set this up:

Frontend code references GOOGLE_ANALYTICS_TRACKING_CODE variable:
https://github.com/CodeMontageHQ/

[2015-02-03 14:16] #168 closed

[2015-02-03 14:22] juliaelman commented on #64
@corinnepw awesome! Thank you for getting the copywriting completed.

@minamarkham are you able to help out with the layout still? If so, let me know and will re-assign to ya!

[2015-02-03 14:26] juliaelman commented on #66
@kstack7 we're wanting to stick with /materials to be consistent with the past linkage on the old site. Dis-regard the url in the mock-ups.

@Roenok are you planning on tackling the layout? Also, would it be possible to remove the mockups that say "Curriculum" with new one's that say "Materials"? Might help avoid any future confusion.

@pamelafox that is brilliant! Want to open an issue with this

[2015-02-03 14:28] juliaelman commented on #159
Seems like #130 is a duplicate issue to this? @kstack7 @bayendor if so, please let me know so we can mark correctly and move forward.

[2015-02-03 14:29] juliaelman commented on #161
PR #169 noted.

[2015-02-03 14:31] Roenok commented on #66
@juliaelman Yep, I'm on front-end, once I get the dev environment up.

[2015-02-03 14:32] kstack7 commented on #66
@juliaelman  gladly! :) No changes then...

[2015-02-03 14:36] kstack7 commented on #159
@juliaelman they're slightly different. We could merge the two concepts for general installation improvements like using homebrew to get imagemagick etc.

[2015-02-03 14:42] juliaelman opened #171 "Add chapter level sponsors to chapter pages."
Currently, chapter sponsors do not show up on the chapter level pages. This will take a bit of design help for layout + template additions to be able to make this work. Very design friendly!

[2015-02-03 14:47] bayendor commented on #130
Please see #159.  `Carrierwave` appears to only need `rmagick` gem for` jruby`. The recommended gem is `mini_magick` installed as a `carrierwave` dependency.  In turn `mini_magick` requires `imagemagick` be installed on the user machine.

[2015-02-03 14:52] bayendor commented on #159
@juliaelman They are related, I cross-commented in #130 regarding this.  I've been working on a clean install / upgrade path related to #133, and `rmagick` is not installed or required when bundling with `carrier wave`, `mini_magick` gets loaded instead.

[2015-02-03 14:52] juliaelman commented on #159
@bayendor right on! Looking fwd to reviewing your PR and let us know if you need anything else \o/

[2015-02-03 15:03] juliaelman commented on #161
Fixed with #169 by the amazing @kstack7! \o/

[2015-02-03 15:18] Cara-Jo commented on #135
Can I ask why changing the URL to curriculum? I have a hard time spelling it, as I'm sure others do as well. I would hate for that to be a barrier for those looking to get materials from us.

[2015-02-03 15:19] kstack7 commented on #135
We're not :) I checked this multiple times too outta confusion. We're doing '/materials'

[2015-02-03 15:20] Cara-Jo commented on #135
GOOD. I can't spell that word to save my life.

[2015-02-03 15:21] kstack7 commented on #135
Haha yeah i was telling @juliaelman I'd have to open an issue solely for error-checking the spelling throughout the code haha

[2015-02-03 15:25] Roenok commented on #135
Wrong button there, sorry. Ignore the close.

[2015-02-03 15:27] Roenok commented on #135
There, that's the label I wanted. Now closing. We have updated #66 to use materials, so this redirect is no longer needed.

[2015-02-03 15:27] #135 closed

[2015-02-03 15:30] Roenok commented on #157
Going to try a Windows install tonight, so I'll see about some docs as well.

[2015-02-03 15:31] kstack7 commented on #66
yes, @Roenok , the pending changes include that curriculum redirect :)

[2015-02-03 16:32] juliaelman opened #173 "Converting from Cedar to Cedar-14 stack"
We are currently hosting on the Cedar stack on Heroku and are needing to migrate over to their updated Cedar-14 stack. Instructions are located here: https://devcenter.heroku.com/articles/cedar-14-migration

[2015-02-03 17:05] Roenok commented on #157
@kstack7 No idea! I'll find out tonight. I suspect it is the part highlighted in red.

[2015-02-03 19:16] Roenok commented on #171
30 second mockup! We can place logos and names in an aside below the chapter name on desktop:
![image](https://cloud.githubusercontent.com/assets/925963/6027225/bb36b2ca-abae-11e4-94bc-d620f07bb15d.png)

Then small-tile logo on mobile, dropping the name for space:
![image](https://cloud.githubusercontent.com/assets/925963/6027314/256540e4-abaf-11e4-96cd-2fd28b0355fb.png)

Anyone else have suggesti

[2015-02-03 19:58] juliaelman commented on #161
Issue was with Heroku being down today and had nothing to to with our code base. :wink:

[2015-02-03 19:58] #161 closed

[2015-02-04 02:42] juliaelman commented on #66
@Roenok we just merged, deployed and migrated the new changes to the new materials page: https://girl-develop-it.herokuapp.com/materials You should be able to start adding materials into the DB now and can worry about styling once that data is in there.

Thanks for @kstack7 again for kicking :rocket:!

[2015-02-04 02:54] Roenok opened #174 "Remove kgio to allow Windows dev environments"
**Description**
The kgio gem is part of the initial bundle install. However, there is no Windows version of kgio, preventing Windows users from setting up a dev environment.

**Ask**
Figure out an alternative so Windows users can set up a dev environment

**To Do**
- [x] Determine which package is requiring kgio
- [x] Determine is kgio is required for site function
- [x] If kgio is not required, e

[2015-02-04 02:56] Roenok commented on #66
Thanks @juliaelman and @kstack7. Content is under #136, so all that is left here is the front-end code. I'll write up some simple CSS. Any designers are invited to make it better.

[2015-02-04 04:26] kstack7 commented on #66
Just a heads up that I have PR #175 in the wings so you can pull down the views with db data in place (likely tomorrow) :+1:

[2015-02-04 05:07] kstack7 commented on #60
@juliaelman did we purchase?

[2015-02-04 05:11] kstack7 commented on #63
@DBNess sure! @juliaelman & @Roenok do we have access to the analytics to get/create these two codes? I'd be happy to put this together if so...

[2015-02-04 14:24] juliaelman commented on #60
@kstack7 we got a free one and will be happy to fwd you the information if you'd like to tackle this!

[2015-02-04 14:29] juliaelman commented on #63
@kstack7 done!

[2015-02-05 01:31] kstack7 commented on #157
Taking Kristi's lead in Slack by downloading Vagrant to try out the Windows route.

[2015-02-05 02:50] kstack7 commented on #166
![screen shot 2015-02-04 at 9 49 23 pm](https://cloud.githubusercontent.com/assets/6612770/6054150/bb4192d0-acb7-11e4-85f9-247489fa568d.png)

Does this make more sense? I just moved the map below the time/address so that the RSVP can immediately follow the description. The RSVP button has a 55px bottom margin thus I think it should be at the very end to help space between the next events. Any take

[2015-02-05 02:53] Roenok commented on #166
@kstack7 How does it look on mobile view? I am okay with it if the map doesn't push the descriptions too far off the screen

[2015-02-05 03:01] Roenok opened #176 "Add Meetup links and IDs to all chapters"
To fetch IDs, login to Meetup, then go to https://secure.meetup.com/meetup_api/console/?path=/:urlname

Paste the Meetup URL slug (e.g., Girl-Develop-It-Ann-Arbor) in the urlname box, then select Show Response. The ID will be at the top.

[2015-02-05 03:01] kstack7 commented on #166
I didn't change any of the div structures or CSS so I'd assume it'll just rearrange/stack as nicely as it does now on the heroku version. The map and the description are both in their own p tags, which should keep them stacking nicely (we could always remove the float otherwise but I haven't seen anything go crazy yet).

Here's how it looks when resizing on desktop:

![screen shot 2015-02-04 at 9

[2015-02-05 03:01] Roenok commented on #176
Mostly adding this one to document the process; I'll knock them out in the next hour or so.

[2015-02-05 03:03] Roenok commented on #166
@kstack7 I like it! Let's pull the trigger for now.

[2015-02-05 03:12] kstack7 commented on #166
Gladly :)

[2015-02-05 03:36] Roenok opened #178 "Broken links in no events fallback"
On chapter pages, there is a fallback paragraph for chapters with no scheduled events:
Sadly, no meetups are currently scheduled for this Chapter. Join our meetup group to be notified when a new meetup is happening. Thanks for visiting us!

"Join our meetup group" should link to the meetup group, same as the Join us link in the aside. Instead, it links to "http://meetup.%20com/chapter-slug"

Knock

[2015-02-05 03:37] kstack7 commented on #178
On it :)

[2015-02-05 03:39] Roenok opened #179 "Miami link is incorrect on Chapters page"
On the homepage map, Miami links to https://girl-develop-it.herokuapp.com/chapters/miami, which works. However, on the Chapters page, the link points to https://girl-develop-it.herokuapp.com/chapters/miami-fort-lauderdale, which throws a 404.

[2015-02-05 03:50] kstack7 commented on #179
hmmmm @juliaelman I bet this is another db thing. I bet the name changed after the first creation because my local files have "Miami" as the chapter name. That slug is an index soooo may have to run that again?

[2015-02-05 03:50] kstack7 commented on #179
Or set it back to Miami in the db hahah ::easy button::

[2015-02-05 03:55] Roenok commented on #176
All chapters in the DB now have a Meetup ID; verified by manual check.

[2015-02-05 03:55] #176 closed

[2015-02-05 05:06] Roenok commented on #160
Added in pull request #181

[2015-02-05 05:25] Roenok commented on #157
General note: Native Windows install currently appears to be impossible due to Unix-only gems. See #174 for more. Windows users may be able to use a virtual machine with Linux.

[2015-02-06 00:22] kstack7 commented on #178
PR #180

[2015-02-06 00:23] kstack7 commented on #166
PR #177

[2015-02-06 03:31] tnbKristi commented on #159
Awesome @bayendor  - tried to do a fresh install tonight to help out, and got held up on this config issue. Look forward to that merge. :)

[2015-02-06 04:06] Cara-Jo commented on #62
PR #183. :muscle: :sparkles:

[2015-02-06 04:11] kstack7 commented on #62
Merged PR #183, but curious if we have anyone on deck to tackle the copy? @corinnepw @juliaelman ?

[2015-02-06 04:11] Cara-Jo commented on #162
On it! :muscle: :sparkles: :penguin:

[2015-02-06 04:18] Cara-Jo commented on #162
SEe PR #184 :penguin:

[2015-02-06 05:03] kstack7 commented on #160
Merged the new files, but Kentucky caught us off guard. I submitted PR #185 to fix the typo. All set otherwise! They look great. Nice job, @Cara-Jo

[2015-02-06 16:51] juliaelman commented on #178
Fixed! :football:

[2015-02-06 16:51] #178 closed

[2015-02-06 16:58] juliaelman commented on #162
Fixed!

[2015-02-06 16:58] #162 closed

[2015-02-06 17:01] juliaelman commented on #160
DONEZ! Thanks everyone for your contributions and making sure we have all states covered.

[2015-02-06 17:01] #160 closed

[2015-02-06 17:02] kstack7 commented on #160
:+1:

[2015-02-06 17:09] juliaelman commented on #62
@kstack7 I assumed @Cara-Jo would do something with that in her design work on this issue.

Does that sound right @Cara-Jo?

[2015-02-06 17:09] Cara-Jo commented on #62
Pretty sure I was just supposed to style the button? I’m not a copywriter and there is no copy for this page. 

-- 
CARA JO MILLER | Co-founder | Girl Develop It Boulder/Denver | 248.230.0910 | carajo@girldevelopit.com | girldevelopit.com | @GDIboulder | @GDIDenver | @corrinajo

On February 6, 2015 at 10:09:04 AM, Julia Elman (notifications@github.com) wrote:

@kstack7 I assumed @Cara-Jo would do

[2015-02-06 17:11] juliaelman commented on #62
@Cara-Jo bah! Sorry for the confusion. @corinnepw created copy around 10 days ago (see comment above) and you can find it here:

https://docs.google.com/a/girldevelopit.com/document/d/1tjcTUloyxVSSK1pOUHENmRWa2hsOySwJdUsv2PhSzNw/edit

[2015-02-06 17:12] kstack7 commented on #62
I actually talked to @corinnepw about this earlier this morning...she linked me here: https://docs.google.com/a/girldevelopit.com/document/d/1tjcTUloyxVSSK1pOUHENmRWa2hsOySwJdUsv2PhSzNw/edit

[2015-02-06 17:13] kstack7 commented on #62
Haha jinx @juliaelman ... @corinnepw and I went over what makes sense so she updated the paragraphs to reflect the page as it is right now. I can add the copy in if we're all cool with it?

[2015-02-06 17:14] juliaelman commented on #62
@kstack7 cool :penguin:

[2015-02-06 18:56] juliaelman commented on #179
@kstack7 I think the best solution would be to set the route up correctly. Not sure why it is using "miami" instead of "miami-fort-lauderdale" and/or/how/why that changed. We have a few chapters which are similar to this and seem to work fine.

[2015-02-06 18:59] kstack7 commented on #179
Yeah that makes sense. I just figured it was a name change after the migration or something that didn't settle right. I still want to see where it's coming from, as it seems almost cached or like old data.

[2015-02-06 20:05] staceyturnage opened #186 "Menu of upcoming & recent classes/events"
Description
A menu of the upcoming &/or past classes/events. Where the user can click on the hyperlink and get a short blurb on the class instead of a link taking you to the meet up page.

Ask
I would like the user to be able to click on the hyperlink next to the upcoming &/or past classes to get a quick blurb of the description of the class. Not a link taking the user to Meet up.

To Do
- [ ] Cre

[2015-02-06 20:39] staceyturnage opened #187 "Fix sizing for maps on the Chapter Pages"
Description
The maps appear to be large

Ask
Can the maps be smaller?

To Do
- [x] Don't eliminate the maps make them smaller

Additional Info
I get a map is helpful however the map appears to take up a lot of room on the chapter page.

[2015-02-06 20:48] staceyturnage opened #188 "Alphabetical Order"
Description
The chapter cities are not in alphabetical order for Ohio and Texas

Ask
Reflect the chapter cities in alphabetical order for Ohio and Texas

To Do
- [x] Ohio - Cincinnati, Columbus, Toledo
- [x] Texas - Austin, Dallas/FW, Houston

Additional Info
The other chapters appear to be in alphabetical order under each state.

[2015-02-06 20:52] staceyturnage commented on #187
Or put the map below the class description.  It appears that the map is the focus when the class should be the focus.

[2015-02-06 20:55] kstack7 commented on #187
We actually just swapped this over night...the map was out of place unless under the address...and then the RSVP button would be on it's own if not by the description...things to consider for sure!

[2015-02-06 20:58] kstack7 commented on #188
@staceyturnage I'm exploring this one alongside the miami slug issue in #179 ...will keep you posted

[2015-02-06 23:58] kstack7 commented on #63
Thanks for the input @DBNess ... This is set at PR #189

[2015-02-07 00:50] staceyturnage opened #190 "Updating computing related stat on the main homepage"
**Description**
The women in tech stats on the home page require updating. It is currently at 25%, but has since changed since the original stat from 2011.

**Ask**
There are more current statistics from the Bureau of Labor Department.

**Additional Info**
The stats on the page are from 2011 there are more recent stats from 2013.
http://www.bls.gov/cps/cpsaat11.htm
![screen shot 2015-02-06 at 6 44

[2015-02-07 00:53] staceyturnage commented on #190
I posted the second screen shots so the column headings on the page. Here's the link to the Bureau of Labor website http://www.bls.gov/cps/cpsaat11.htm

[2015-02-07 01:34] staceyturnage commented on #190
Computer Programmers 23.0%
Software Developers, applications & systems software 19.7%
Web Developers 39.5%

[2015-02-07 04:07] kstack7 commented on #179
So I ended up deleting the old Miami and creating a new one. The URL now works with miami-fort-lauderdale, but it's now out of alphabetical order in the Florida list. I'm thinking this is something with the database and I'll have to dig deeper to see how to "refresh" things.

[2015-02-07 05:02] kstack7 commented on #179
Got it! PR coming...

[2015-02-07 05:05] kstack7 commented on #188
Fixed in PR #191

[2015-02-07 05:05] kstack7 commented on #179
Fixed in PR #191

[2015-02-07 15:11] juliaelman commented on #173
Completed after deploy at 10:09pm EST, February 6th, 2015.

[2015-02-07 15:11] #173 closed

[2015-02-08 18:39] #188 closed

[2015-02-08 18:39] #179 closed

[2015-02-09 00:34] juliaelman commented on #66
Fixed #175

[2015-02-09 00:34] #66 closed

[2015-02-09 00:42] juliaelman opened #193 "Add further styling to /materials/<material-detail/ page"
**Description**
Currently, the detail page for materials is not well styled and could use some design :heart:

**Ask**
Create a better designed responsive layout for material detail page (see attached screenshot for reference)

**To-Do**
- [ ] Add new styling to app/assets/materials.css.scss
- [ ] Create responsive styling too. \o/

**Additional Info**
Check out #175 for the current state and/or o

[2015-02-09 17:01] juliaelman commented on #62
#192 completes a simple version of the donations page. We should definitely keep track of this issue to help build out this page a bit more!

[2015-02-09 17:01] #62 closed

[2015-02-09 17:32] staceyturnage opened #194 "Typos & Sentence Structure"
Description
Typo & sentence structure "You are free tos hare and adapt these materials."

Ask
Reword this sentence "you are free to adapt these materials". https://girl-develop-it.herokuapp.com/materials

To Do
-  [ ] Reword the sentence

Additional Info
The type on this page needs to be formatted.

[2015-02-09 17:35] breethomas opened #195 "Separate Boulder/Denver Chapters"
Description
The Boulder and Denver chapters are currently listed as one chapter, "Boulder/Denver". The Boulder/Denver team would like to give each of Boulder and Denver their own individual listings within the new website.

Ask
Update the Boulder chapter with a slug that reads just 'boulder' instead of 'boulder-denver'.
Add the Denver chapter to the website.

To Do
- [x] Revise the current Boulder

[2015-02-09 18:07] Roenok commented on #194
Bonus fix, while you are in the template: add this link to "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)" https://creativecommons.org/licenses/by-nc-sa/4.0/

The formatting would be improved by switching to either left align or a single paragraph.

[2015-02-09 18:38] staceyturnage opened #196 "Move the Donate Link"
Description
Donate link

Ask
The Donate link shouldn't be the first thing a user sees.

To Do
Move the donate link to the end of the menu.

Reword the sentence
Here's the new order: About, Chapters, Materials, Donate

Additional Info
The donate link shouldn't be the first thing a user sees. They need to know about GDI before they are asked to date.

[2015-02-09 18:48] staceyturnage opened #197 "Update Language on Donate Page"
Description
Reword the verbiage on the donate page

Ask
The wording is choppy & inconsistent.

To Do
Update the donate page

Reword the sentence
If you want to contribute to the success of women in technology and women transitioning into technology careers today, your contribution will help us improve the technology’s industry’s diversity problem, NOW!
Girl Develop It appreciates all contributions

[2015-02-09 18:59] Roenok commented on #197
@corinnepw Copying you so HQ can review this language.

[2015-02-09 19:01] staceyturnage commented on #197
There also needs to be some consistency throughout the site.  Some places the word "technology" is used other places the word it shortened to "tech".  Use one or the other not both.

[2015-02-09 23:51] Roenok opened #198 "Incorrect URL for LinkedIn links on chapter pages"
Description
On chapter pages, the LinkedIn links all 404. See Kristen's profile here: https://girl-develop-it.herokuapp.com/chapters/rochester

Ask
Right now, links go to https://www.linkedin.com/username. They need to point to https://www.linkedin.com/in/username

To Do
[ ] - Add /in to URL in template

[2015-02-10 00:02] juliaelman commented on #82
Closing this after talking with @mathemagica and agreed that this is no longer relevant (since we now use the awesome Read the Docs)!

[2015-02-10 00:02] #82 closed

[2015-02-10 00:36] #198 closed

[2015-02-10 08:32] jwala1506 opened #201 "San Diego Chapter not listed on the main site"
Meetup URL: http://www.meetup.com/Girl-Develop-It-San-Diego/
Twitter: https://twitter.com/GDISD
Facebook: https://www.facebook.com/GDIInSD

[Please remove April from Chapter Leader. She left GDI last year.]
Chapter Leader:
Full Name: Jyoti Wadhwani
GDI email address: jyoti@girldevelopit.com
Twitter: @wadhwanijyoti
Github: jwala1506

Bio: She is passionate about technology and wants to bring more w

[2015-02-10 15:03] juliaelman commented on #201
@jwala1506 I've updated you page with the above request: https://girl-develop-it.herokuapp.com/chapters/san-diego Please verify that the changes have been made and everything looks good! :+1:

[2015-02-11 18:33] corinnepw commented on #64
@minamarkham awesome! Wanted to check in if you think you'll have time to help with layout before Friday (soft launch)? Thanks much! cc: @juliaelman

[2015-02-11 18:34] minamarkham commented on #64
@corinnepw Yes I will. I'll submit a PR in tonight or tomorrow + @juliaelman

[2015-02-11 18:38] corinnepw commented on #64
@minamarkham beautiful! Let me know if you need anything on my end - happy to provide any guidance. In fact, I can probably add some more language that I think will help...

[2015-02-11 18:54] Roenok opened #202 "Enhancement: Provide a way to sort curriculum"
**Description**
Currently, the classes on the curriculum page are sorted by enter date (I believe). We need a way to manually sort them.

**Ask**
Add a method to sort classes in the Active Admin interface. This could be a numerical sort-order field, a drag-and-drop, or whatever else the tool allows.

**To Do**
- [x]  Investigate possible sorting methods
- [x] Add appropriate fields to DB
- [x] Add

[2015-02-11 19:43] Cara-Jo opened #203 "Chapter names and Admin names are not parsing correctly in the admin."
**Description**
When navigating to the bios section of the admin page, the names are displayed wrong. They should be displayed with human readable names like "Boulder, Philadelphia" for the chapter names or "Cara Jo, Kristen" for the admin names.

 **Ask**
Please fix this so we can sort through all the bios! Many people!

 **To Do**
 - [ ] Fix Admin name display
 - [ ] Fix Chapter Name Display
 -

[2015-02-11 19:57] gorork commented on #193
@juliaelman Will the structure of the detail page be the same:
- header
- description
- list of slides
- list of links
- link to github
?

[2015-02-12 01:57] juliaelman commented on #190
@staceyturnage I think we need to be a bit more specific on the numbers you think need to be changed on the homepage. I am going to list the numbers below and would appreciate you specifying what exactly needs to be swapped out where - thanks!

- Women hold only **25%** of the **3,816,000**
- Women obtain **58% of bachelor’s degrees** in the U.S, but less than **18% of those degrees** are in compu

[2015-02-12 02:10] Cara-Jo commented on #193
I've put on my SASS pants and I'm on the case. :jeans: :sparkles:

[2015-02-12 02:12] juliaelman commented on #193
@gorork I think that would be a good start, but is really up to the designers opinion. Also, check out the following repo + style guide for reference too:

- https://github.com/girldevelopit/gdi-website-styleguide
- http://girldevelopit.github.io/gdi-website-styleguide/

[2015-02-12 02:12] juliaelman commented on #193
@Cara-Jo assigning to you and your :jeans:

[2015-02-12 02:28] Cara-Jo commented on #194
On this as well, since I'm in the template now. :jeans: :sparkles:

[2015-02-12 02:29] kstack7 commented on #194
2 :bird: 1 :moyai: (that's as close to stone as it gets, people)

[2015-02-12 02:29] kstack7 commented on #194
:bird: :bird: :boom: :moyai:

[2015-02-12 02:36] juliaelman commented on #195
@breethomas Thanks for submitting this issue! :+1:

It will most likely take a bit more work than updating the chapter name in the admin (e.g. running a database migration). Not sure that we'll be able to accomplish prior to launch and have switched the name of the Boulder chapter back to Boulder/Denver for now. Hang tight!

[2015-02-12 02:44] Cara-Jo opened #204 "Update link color to increase contrast and legibility"
**Description**

I care about the usability of the website and find the 'gold' links hard to read. Especially for the users who do not have 20/20 vision.

They should also be underlined so that users know they are a link.

 **Ask**
Let's change the links to either the standard blue or green! I'm open to discussion about this - but think the links should be blue.

Of course these colors will be GDI

[2015-02-12 02:57] juliaelman commented on #196
@staceyturnage not entirely sure we want to move forward with this and move the donate button to the end. Would be good to get some direct examples and/or studies that prove that we *need* to move to the end of the nav links.

@corinnepw what are your thoughts on the importance of where the donate link is in the main nav? I feel like you have the best perspective on how easily people are able to f

[2015-02-12 03:04] juliaelman opened #205 "Large white space at the bottom of /donate"
**Description**
*There is currently a large blank white space at the bottom of the donate page.*

**Ask**
*Remove that white space and make the footer flush to the bottom most box.*

**Additional Info**
![screen shot 2015-02-11 at 10 02 41 pm](https://cloud.githubusercontent.com/assets/955558/6161095/ecb973f0-b239-11e4-9aff-6af0dd059ba7.png)

[2015-02-12 03:22] #205 closed

[2015-02-12 03:27] staceyturnage commented on #196
Here's are a few nonprofit technology group that has "support" at the end
of their menu!

http://www.nten.org

http://www.techsoup.org

Code.org has their donate button at the bottom of the page

http://code.org

Stacey

On Wed, Feb 11, 2015 at 8:57 PM, Julia Elman <notifications@github.com>
wrote:

--
STACEY TURNAGE | Founder | Girl Develop It Houston |
stacey@girldevelopit.com | girldevelopit.co

[2015-02-12 04:14] breethomas commented on #195
Maybe I didn't fully understand the format of the "To Do" part in the issue. I realize it will take more than what is listed there, although I'm not familiar enough with the code base to list out the specific technical tasks step-by-step. I'd happily pair with someone on it if that is an option. Let me know.

[2015-02-12 04:40] corinnepw commented on #196
@staceyturnage I think case studies/research from reputable sources on the placement of the donate button versus examples of NPO sites are more informative. See some below.
@juliaelman basically all of the research I've done over the past couple months has been to include it prominently on the main nav and to even make it a different color to help it stand out.
I believe @Cara-Jo may have some tho

[2015-02-12 04:43] staceyturnage commented on #196
It was a simply a suggestion it can remain where it is.

As a potential donor I would want to know about the organization before I
was asked to donate, just my opinion.

Stacey

On Wed, Feb 11, 2015 at 10:40 PM, Corinne <notifications@github.com> wrote:

--
STACEY TURNAGE | Founder | Girl Develop It Houston |
stacey@girldevelopit.com | girldevelopit.com | Houston Meetup | @gdihouston
| @staceyytur

[2015-02-12 04:50] kstack7 commented on #196
This makes for a good discussion, @staceyturnage, and I'm glad you brought it up. It's good that we're all posting examples to help decide this direction. I checked out other organizations similar to ours and noticed a pattern in very loud DONATE buttons, which can be fitting for groups that aren't backed by giant companies or even the government.

Let's get through launch and keep tabs on immedia

[2015-02-12 04:50] staceyturnage commented on #196
I'm not asking for it to be removed from the page I'm simply asking can it
be repositioned. I have no problem with it being prominently displayed but
the first thing a potential donor sees I don't know if that's a good thing.

As I mentioned before I'm coming from a user's prospective and what better
way to see that is to look @ other nonprofit's websites (end result of the
development process).

[2015-02-12 04:56] staceyturnage commented on #196
---------- Forwarded message ----------
From: Stacey Turnage <stacey@girldevelopit.com>
Date: Wed, Feb 11, 2015 at 10:50 PM
Subject: Re: [gdi-new-site] Move the Donate Link (#196)
To: girldevelopit/gdi-new-site <
reply@reply.github.com

I'm not asking for it to be removed from the page I'm simply asking can it
be repositioned. I have no problem with it being prominently displayed but
the first thi

[2015-02-12 06:02] kstack7 commented on #203
I have to double-check the db relationships to see if I can easily pull all the admin names, but I can definitely snag the chapters for now...this looking better?

![screen shot 2015-02-12 at 1 01 45 am](https://cloud.githubusercontent.com/assets/6612770/6162534/dd34e9c8-b252-11e4-96da-28af007c0d0d.png)

[2015-02-12 18:03] Cara-Jo commented on #136
I've got a large collection of svg icons for all the techs - just curious which one's were going to have on the page. Do you have a list started so I can start plugging away at the icons?

[2015-02-12 18:04] kstack7 commented on #136
you can always upload the icons for the class in the admin side

[2015-02-12 18:08] Roenok commented on #136
@Cara-Jo Minimum list:

Introduction to Web Concepts
Web Accessibility
Intro to Git and Github
Introduction to HTML/CSS
Intermediate HTML/CSS
Introduction to JavaScript
Introduction to jQuery

Hoping to get the Python and WordPress libraries cleaned up and posted as well, but it may be a few days post-launch. I have some simple PNGs for everything if needed, but more beautiful options are always a

[2015-02-12 18:11] Cara-Jo opened #208 "Make icons for all the classes listed on Materials page"
**Description**
Make icons for each class listed on the materials page so that they are consistent across the page.

 **Ask**
Create .png files that are 512x512 pixels with a navy blue icon that represents that class.

 **To Do**

- [ ] Make the icons
- [ ] Load them into images/materials so that they are accesable by all.
- [ ] Include source file in .ai or .pdf format

**Additional Info**
Exampl

[2015-02-12 18:12] Cara-Jo commented on #208
I've started on this as apart of #193

[2015-02-12 18:12] kstack7 commented on #208
:+1: nice!

[2015-02-12 18:15] Cara-Jo commented on #136
Yeah I just want to have the icons available for people to upload. :) Thanks for the list!

[2015-02-12 20:29] bayendor commented on #159
I believe this issue was resolved with PR #172. Should we close it out?

[2015-02-12 20:30] bayendor commented on #133
This issue was resolved with PR #172.  Should we close it out?

[2015-02-12 21:32] kstack7 commented on #133
YES! Thank you. I was watching the latest deploy and didn't come back here. We appreciate your help, @bayendor

[2015-02-12 21:32] #133 closed

[2015-02-12 21:32] kstack7 commented on #159
Yes! Thanks again, @bayendor :)

[2015-02-12 21:32] #159 closed

[2015-02-12 22:50] jwala1506 commented on #201
Hey! the website looks good. thank you @juliaelman :+1:

[2015-02-12 22:52] Roenok commented on #204
I vote blue, for maximum color blind friendliness. Also, we want to shoot for a 3:1 contrast ratio with our regular text color, if possible, per WCAG 2.0 guidelines

http://www.w3.org/TR/WCAG20-TECHS/G183.html

[2015-02-12 22:53] Roenok commented on #201
Approved and closed.

[2015-02-12 22:53] #201 closed

[2015-02-12 23:08] Roenok opened #210 "Add skip navigation link, for accessibility"
**Description**
Right now, keyboard and screen reader users need to tab through the entire navigation menu to get to the content. We want to provide a way to skip the navigation menu.

**Ask**
Add a hidden anchor link that skips to the main content. This link should appear on focus. Some suggested code below.

**To Do**
- [x] Add anchor link to header file, right below opening body tag
- [x] Add c

[2015-02-12 23:14] juliaelman opened #211 "Add Kristen and Sylvia as Project Leads in CONTRIBUTORS.md"
**Description**
*Include a high level description of the feature or error here including steps of how to recreate if applicable. Include any benefits, challenges or considerations. Can be short and sweet.*

**Ask**
*Kristen and Sylvia are now website administrators for the Girl Develop It website. We need to add them to the list of folks in that category.*

**To Do**
- [x] Remove Kristen from Cont

[2015-02-12 23:17] juliaelman opened #212 "Add David Bayendor to CONTRIBUTORS.md"
**Description**
*@bayendor has provided numerous contributions to the new code base for the Girl Develop It website and should be added to our Contributors list.*

**Ask**
*Add David Bayendor as one of the contributors on the Girl Develop It website for his continuous support of our website development.*

**To Do**
- [x] Add [David Bayendor](https://github.com/bayendor) to the Contributor(s) list

[2015-02-13 00:09] juliaelman commented on #64
@corinnepw can you provide a list of sponsors that should be included on the page? Wanting to make sure that @minamarkham has the correct information in that regard.

[2015-02-13 02:40] kstack7 commented on #193
Set in #209 :)

[2015-02-13 02:40] #193 closed

[2015-02-13 02:40] kstack7 commented on #208
Yes!

[2015-02-13 02:45] kstack7 commented on #208
Wait...are we missing a few here? I'll leave for post-launch if more time is needed. We do have place-holders on the site for nwo

[2015-02-13 02:46] juliaelman commented on #196
@staceyturnage thank you for your thoughtful feedback and for initially posting this issue! While I see your point of view as the user, I also see @corinnepw point and the articles of evidence she provided to support this decision.

I am going to close this issue, but the website team will definitely keep their ears to the ground to hear what our users think post launch. It might help putting spec

[2015-02-13 02:46] #196 closed

[2015-02-13 03:02] minamarkham commented on #171
I like the mockup. Once you've settled on a design, feel free to assign this to me :grin:

[2015-02-13 03:04] Roenok commented on #171
I think this is the only idea so far. If you think you can run with it, please do!

[2015-02-13 03:33] minamarkham opened #214 "Create custom 404 page"
**Description**
There is currently a generic 404 page appearing on the site. I think the a branded 404 page to match the rest of the site is a better experience for users, and is more engaging.

**Ask**
Create new custom 404 error page to match new branding.

**To Do**
- [x] Write content for the page
- [x] Create design/layout
- [x] Create route exceptions
- [x] Add new template and styling

**Ad

[2015-02-13 03:35] Roenok commented on #214
Awesome idea, @minamarkham!

[2015-02-13 03:38] minamarkham opened #215 "Fix margins on the "our story" section of /about"
**Description**
The "our story" section of the about page currently runs into the text surrounding it.

**Ask**
Add margins to the "our story" section.

**Additional Info**
![Fix it :)](https://cloud.githubusercontent.com/assets/876210/6181848/44582672-b2ff-11e4-8c74-16f8e1779f08.png)

[2015-02-13 03:39] kstack7 commented on #215
Yeah would be really helpful to isolate the .support{} class to the donation page, as that is why this spacing got wacked...

[2015-02-13 03:49] kstack7 commented on #215
@minamarkham are you taking this or just setting the issue? I can tackle if you'd like

[2015-02-13 04:03] minamarkham commented on #215
I can do it.

[2015-02-13 04:03] kstack7 commented on #215
Okay! Didn't wanna overlap if you were on it :+1:

[2015-02-13 04:37] juliaelman commented on #215
@minamarkham I am going to re-assign this to @kstack7, as we need to get this wrapped up before launch! thanks for offering to help <3

[2015-02-13 04:38] #211 closed

[2015-02-13 04:38] #212 closed

[2015-02-13 04:59] kstack7 commented on #215
Better, right?

![screen shot 2015-02-12 at 11 58 12 pm](https://cloud.githubusercontent.com/assets/6612770/6182507/293642fc-b313-11e4-8161-5e405bb57230.png)

[2015-02-13 05:00] juliaelman commented on #215
@kstack7 much! :sparkler:

[2015-02-13 06:02] minamarkham commented on #214
Coded something up real quick. What do we think?

![Error page](https://cloud.githubusercontent.com/assets/876210/6182954/866e4ae6-b313-11e4-8b90-bfc9ec3d9a60.png)

[2015-02-13 13:32] juliaelman commented on #61
DONE! :rocket:

[2015-02-13 13:32] #61 closed

[2015-02-13 13:35] juliaelman commented on #214
Love it @minamarkham!

[2015-02-13 14:32] #63 closed

[2015-02-13 14:36] Roenok commented on #208
@Cara-Jo You can email the files when you have them ready, and I'll drop them in via the admin. Thanks!

[2015-02-13 15:51] mmcelaney opened #217 "Provide some way to reorder instructors/volunteers lists on chapter pages"
Description
I've got one male volunteer who is defaulting to the top of the list and I don't know how to get his bio moved down a bit! Just seems weird, is all. Screenshot of what I mean: http://grab.by/ELaW

Ask
Can functionality be added in the heroku app to reorder the volunteers and/or instructors on the chapters page? I'm not equipped to offer the best/right way to do this!

To Do
I am not th

[2015-02-13 15:52] juliaelman commented on #217
@mmcelaney thanks for the issue! Would you mind re-formatting it to fit this template in #83?

[2015-02-13 16:02] juliaelman commented on #215
Fixed #216.

[2015-02-13 16:02] #215 closed

[2015-02-13 16:04] mmcelaney commented on #217
Thanks @juliaelman! reformatting it now...

[2015-02-13 16:08] juliaelman commented on #60
Done and verified! :rocket:

[2015-02-13 16:08] #60 closed

[2015-02-13 16:25] staceyturnage commented on #190
@juliaelman Ok I confirmed the following number should be:

Women hold only 35.2% of web development jobs.

I couldn't find a total number of jobs.

[2015-02-13 16:27] staceyturnage commented on #190
I got the information from the Bureau of Labor Stats. The link is above.

[2015-02-13 16:30] staceyturnage commented on #190
Here's where the current information is located, so you maybe able to have the all up number remain the same but the percentage changed...http://www.ncwit.org/blog/did-you-know-demographics-technical-women

[2015-02-13 16:32] juliaelman commented on #190
@staceyturnage hrmmm... I doubt that the number of jobs has stayed the same and don't want to assume anything. We need to find another source with the official numbers that we can post on the homepage.

@DBNess would love you input on this and what is a good reliable source to find these numbers (when you get a chance)!

[2015-02-13 16:34] staceyturnage commented on #190
Baffles me why the Bureau of Labor stats doesn't have an total number and maybe it does and I may have missed it but that was my point earlier if the percentage has changed surely the number of jobs has changed as well they go hand in hand.

[2015-02-13 16:39] juliaelman opened #218 "Change out all `http` references to `https`"
**Description**
*Currently, we have added SSL to the website and need to swap out our http requests around the site to https.*

**Ask**
*Swap out all `http` requests for `https` requests instead.*

**To Do**
- [x] View all places where `http` references live > [https://github.com/girldevelopit/gdi-new-site/search?utf8=%E2%9C%93&q=http](https://github.com/girldevelopit/gdi-new-site/search?utf8=%E2%

[2015-02-13 16:52] Cara-Jo commented on #208
Will do @Roenok. Sorry @kstack7 I didn't upload them with the PR.

[2015-02-13 19:14] kstack7 commented on #218
Will have done by official launch :+1:

[2015-02-13 19:15] kstack7 commented on #208
No big! Easy fix, @Cara-Jo :)

[2015-02-13 19:30] corinnepw opened #219 "Update About page bios"
1. Update Corinne's bio to:
Corinne is a passionate advocate for community-centered movements and their power to change the world. She is the Executive Director of Girl Develop It. For two years prior to becoming the first ED of Girl Develop It, she co-lead the organization’s Philadelphia chapter to become one of the largest and most active.<br>Previously she worked with the [Technical.ly](http://

[2015-02-13 19:30] corinnepw commented on #219
@DBNess any updates needed for your bio?

[2015-02-13 20:37] juliaelman commented on #64
Done #207

[2015-02-13 20:37] #64 closed

[2015-02-13 20:39] juliaelman commented on #210
I got this one!

[2015-02-13 21:11] juliaelman commented on #214
Fixed #220

[2015-02-13 21:11] #214 closed

[2015-02-13 23:10] nahurst opened #221 "Header navigation hover state overflows the header"
The black hover state you see when hovering over header navigation links is bigger than the header. This happens on the latest Chrome and Firefox on OS X.
![header-hover](https://cloud.githubusercontent.com/assets/270532/6196892/8782809e-b3ab-11e4-984d-a92a7fe47acb.png)

[2015-02-13 23:13] juliaelman commented on #221
@nahurst thanks for pointing this out! I believe this is an intentional design decision by the original creator, hence the drop-shadow effect around the button.

@minamarkham @Cara-Jo thoughts on this? Is this something we want to change?

[2015-02-13 23:17] kstack7 commented on #221
I also thought this was intentional
On Feb 13, 2015 6:13 PM, "Julia Elman" <notifications@github.com> wrote:

[2015-02-13 23:20] minamarkham commented on #221
Pretty sure it's intentional, but just in case, here's what it looks like "fixed":

![Hover](https://cloud.githubusercontent.com/assets/876210/6197011/8d7a585c-b3a4-11e4-8d55-6c704f22bc29.png)

[2015-02-13 23:23] minamarkham opened #222 "Email links broken on /sponsors"
**Description**
Email links on the sponsor page go to a 404.

**Ask**
Change links to mailto links.

[2015-02-13 23:25] minamarkham commented on #222
Fixing now cause it's my fault :(

[2015-02-13 23:25] juliaelman commented on #222
@minamarkham this is not just your fault! It's mine too for not catching during the PR.

[2015-02-14 00:02] gorork opened #224 "On Materials page make the whole area of .material-container to be clickable"
**Description**
Currently **.material-container** section is being highlighted on hover (check the screenshot below).
However, users can click only on its title and icon, which are not being changed on hover. This might feel a bit confusing for users.

![screen shot 2015-02-12 at 20 06 50](https://cloud.githubusercontent.com/assets/6679057/6182135/ce6acd9a-b2f2-11e4-906d-589458963f06.png)

**Ask**

[2015-02-14 00:04] juliaelman commented on #224
Thank you for submitting this issue @gorork! Would you mind re-formatting your issue in the following templated format? #83

[2015-02-14 01:59] gorork commented on #224
@juliaelman Done!

[2015-02-14 02:02] juliaelman commented on #224
@gorork thank you!

[2015-02-14 02:32] gorork commented on #224
@juliaelman I'd take care of it, but I don't have environment installed yet ;)

[2015-02-14 04:06] juliaelman commented on #222
Had to do some finagling in order to fix some commit history issues, but the commit is in there now! :dancer:

[2015-02-14 04:06] #222 closed

[2015-02-14 04:10] juliaelman commented on #219
Fixed with #227

[2015-02-14 04:10] #219 closed

[2015-02-14 04:52] kstack7 commented on #165
We are verified with Mandrill yaaaayy!

![screen shot 2015-02-13 at 11 52 06 pm](https://cloud.githubusercontent.com/assets/6612770/6198609/6738eb86-b3db-11e4-89e4-6b37f20dea59.png)

[2015-02-14 04:53] kstack7 commented on #165
The DKIM/SPF need a bittle to propagate, but we won't notice a change :)

[2015-02-14 04:53] #165 closed

[2015-02-14 05:01] kstack7 opened #228 "Forgot password email links back to herokuapp vs. girldevelopit"
**Description**
*The "Forgot password" emails link back to the herokuapp location instead of the girldevelopit domain.*

**Ask**
*Swap the default url and any reference of "herokuapp" in the production environment file*

**To Do**
- [x] Change default_url_options and mandrill info to "girldevelopit.com"

[2015-02-14 06:28] kstack7 opened #232 "Animate.css getting lost"
**Description**
*The animate.css is throwing a GET error while we only have an animate.css.scss in assets*

**Ask**
*To either link the animate.css.scss or include an animate.css file as needed*

**To Do**
- [x] Understand which file is actually needed for our code/designs
- [x] Link the proper file to squish the GET error

**Additional Info**
![screen shot 2015-02-14 at 1 22 59 am](https://cloud.

[2015-02-14 06:45] kstack7 commented on #217
I think we'll need a "rank" or "position" type of field in the database for the areas needing this type of sort. @DBNess (or any other db'ers) what do you think?

[2015-02-14 15:47] Roenok commented on #217
Linking this one to https://github.com/girldevelopit/gdi-new-site/issues/202; whatever solution works here should work for classes too.

[2015-02-14 17:40] Cara-Jo commented on #221
It is an intentional design decision. H0wever, the drop shadow is not consistent with any other branding guidelines that we have in place. So I'm up for removing the drop shadow, but I kind of like the tab look.

[2015-02-14 18:07] Cara-Jo commented on #136
Here's a folder with a bunch of icons in SVG and then exported in the navy color in .PNG format: https://www.dropbox.com/s/h008rmsup2x6r5r/materials-icons.zip?dl=0

@Roenok I can also e-mail this to you if it doesn't work for you. Excuse my poor artboard layout on materials.ai :P

[2015-02-14 19:09] Cara-Jo commented on #187
How about we reduce the height of the map by about 200px?
![screenshot 2015-02-14 12 06 25](https://cloud.githubusercontent.com/assets/180763/6200735/4c8dddfc-b442-11e4-809d-318731957902.png)

[2015-02-14 19:11] kstack7 commented on #187
Ooo I like that! Beats reducing the width...
On Feb 14, 2015 2:09 PM, "Cara Jo" <notifications@github.com> wrote:

[2015-02-14 19:20] Cara-Jo commented on #187
Alternate layout entirely, gets all the content right there in one spot:

![screenshot 2015-02-14 12 19 51](https://cloud.githubusercontent.com/assets/180763/6200770/d94f1e62-b443-11e4-9b4a-f32886d61bdb.png)

[2015-02-14 19:23] Cara-Jo commented on #187
Optionally, we could zoom the map out to 14 instead of 16 and get more of the surrounding area.
![screenshot 2015-02-14 12 21 37](https://cloud.githubusercontent.com/assets/180763/6200779/40d66d7e-b444-11e4-8718-b6f1bff7ff20.png)

[2015-02-14 19:30] kstack7 commented on #187
May want to view a few examples of those side-by-side/new suggestion...could start to look uneven as descriptions and addresses change in length.

[2015-02-14 20:49] staceyturnage commented on #187
I like the 14 @Cara-Jo

[2015-02-14 20:50] staceyturnage commented on #187
The alternate layout with all the information in one shot.

[2015-02-16 01:11] minamarkham commented on #171
Assign to me please :smiley:

[2015-02-16 01:13] juliaelman commented on #171
@minamarkham assigned!

[2015-02-16 01:18] beckysingson commented on #217
+1 priority on this one, pls & thank you lovelies

[2015-02-16 01:52] #228 closed

[2015-02-16 01:52] beckysingson opened #233 "Do not display closed/sold out classes on chapter page"
**Description**
Closed & sold out classes currently appear in the available class list at top of Chapter Page template.

**Ask**
Not sure if the Meetup API has the appropriate endpoint but it would be awesome if closed or sold out classes did not appear on available classes list on the chapter pages. For example, our page currently displays a Wordpress workshop that is already sold out (meanwhile

[2015-02-16 01:53] juliaelman commented on #233
@beckysingson thanks for adding your issue! Would you mind re-formatting it to follow the structure on #83?

[2015-02-16 02:02] beckysingson commented on #233
@juliaelman you got it, dude

[2015-02-16 02:11] juliaelman commented on #218
Looks good! :+1: Making note of our discussion on creating relative paths to links, as opposed to absolute, in the future.

[2015-02-16 02:11] #218 closed

[2015-02-16 02:11] beckysingson commented on #171
+1 priority, gracias @minamarkham

[2015-02-16 02:14] beckysingson commented on #187
+1 to @Cara-Jo's recommendation here with side by side & 14 zoom

[2015-02-16 02:14] minamarkham opened #234 "Clean up /sponsors mobile view"
**Description**
Sponors page doesn't show page title in tab or active tab state. Also margins are messed.

**Ask**
Add page title and active navigation state. Add margins to mobile view.

To Do
- [ ]  Add title to page view
- [ ]  Add active state to header
- [ ] Fix page margins

Additional Info
![screen shot 2015-02-15 at 8 10 38 pm](https://cloud.githubusercontent.com/assets/876210/6206418/ff02

[2015-02-16 02:15] techibis commented on #187
+1 to @Cara-Jo's recommendation here with side by side & 14 zoom
This is important to me.  Will help give my classes more visibility

[2015-02-16 02:17] #203 closed

[2015-02-16 02:37] juliaelman commented on #136
@Roenok checking in to see how the progress is moving along for this one. Do you need any help with anything?

[2015-02-16 03:01] Roenok commented on #136
@juliaelman Core stuff is in, so we can probably close. Some other stuff is pending review, not ready to post.

[2015-02-16 03:03] juliaelman commented on #136
@Roenok cool! I close. :tada: Thank you!

[2015-02-16 03:03] #136 closed

[2015-02-16 03:04] #234 closed

[2015-02-16 03:06] juliaelman commented on #221
@Cara-Jo cool! Thank you for your feedback :dancer:

@nahurst thoughts?

[2015-02-16 03:14] nahurst commented on #221
I like the newer/aligned version.

[2015-02-16 03:34] kstack7 commented on #221
Is that new example totally aligned? Seems a pixel off still...

[2015-02-16 03:35] minamarkham commented on #221
I think it is. It was a quick and dirty in the browser mockup.

[2015-02-16 03:38] kstack7 commented on #221
OH okay! That's fair just hoping that was seen by all haha

I feel like I can't unsee the tabs now though! Aligned seems too plain...

[2015-02-16 15:43] rahobbs opened #238 "Footer doesn't reach bottom of page on mobile"
**Description**
On a 1st gen Moto X in Chrome. When viewing the site in portrait, the footer doesn't reach the bottom of the page.

**Ask**
Make the footer align with the bottom of the page

**Additional Info**
![screenshot_2015-02-16-10-24-54](https://cloud.githubusercontent.com/assets/579715/6214707/89e809d4-b5c8-11e4-8057-d554dda58ec1.png)

[2015-02-16 15:44] juliaelman commented on #238
@rahobbs hihihihihi! Thanks for posting this issue! Would you mind reformatting into something like the following template #83.

Hope all is well with you! <3

[2015-02-16 15:44] rahobbs opened #239 "Nav links overflow onto light background on mobile"
**Description**
On a 1st gen Moto X in Chrome. When viewing the site in landscape, the white nav links overflow onto the light background.

**Ask**
In landscape, links should remain on the pink background.

**Additional Info**
![screenshot_2015-02-16-10-25-05](https://cloud.githubusercontent.com/assets/579715/6214738/cab823a4-b5c8-11e4-9bdd-27f35d802f76.png)

[2015-02-16 15:46] juliaelman commented on #239
@rahobbs hi again! Would you mind re-formatting this issue to use the following template on #83?

[2015-02-16 15:51] rahobbs commented on #239
Re-formatted, sorry that I missed the template before :)

[2015-02-16 15:52] juliaelman commented on #239
@rahobbs no worries! We need to help make that more apparent to new contributors somehow... :\

[2015-02-16 20:04] lozandier opened #240 "The map infographic on the recently redesigned site is missing the San Jose Girl Develop Chapter, 46 cities then?"
## Description
The map infographic (and chapters section) is missing the [San Jose Chapter](https://twitter.com/gdisjc) for some strange reason on the recently redesigned site.

## Todo
- [ ] If the San Jose Chapter is indeed active, the homepage's SVG map infographic should reflect that by adding an additional map pointer to the appropriate region of California that points to San Jose.
- [ ] Assu

[2015-02-16 20:19] juliaelman commented on #240
@lozandier thanks for posting this issue! Would you mind re-formatting it to follow the following template here #83?

[2015-02-16 21:03] charliepark opened #241 "non-retina favicon on site"
**Description**
The favicon (see below) is currently only using a 16px x 16px graphic, which means it looks pixelated on retina screens.
![screen shot 2015-02-16 at 12 52 33 pm](https://cloud.githubusercontent.com/assets/22547/6219150/cdf34140-b5da-11e4-8d5e-151fe8d89dfc.png)

**Ask**
It would be great if the favicon was crisp and retina-ready. [This writeup by Jon Gruber](http://daringfireball.ne

[2015-02-16 21:05] lozandier commented on #240
@juliaelman Understood; my issue has been updated to comply with the guidelines your link refers to that I understood.

[2015-02-16 21:07] juliaelman commented on #240
@lozandier thanks for making us aware of this! I am emailing Ghaida now to get her chapter set up. :smile:

[2015-02-16 21:20] lozandier commented on #240
@juliaelman No problem; I suggest referencing the issue template (#83 ) in the readme.md in an appropriately named new section regarding issues.

[2015-02-16 21:22] juliaelman commented on #240
@lozandier agreed! We have have our docs setup with contribution guidelines here: http://gdi-new-site.readthedocs.org/en/latest/sources/contribution/ Feel free to open another issue (or even better, a pull request!) :+1:

[2015-02-16 21:48] Roenok commented on #241
@charliepark If you don't mind taking this on, assets, fonts, and colors are all in our brand folder:

https://brandfolder.com/gdi

Specifically, wordmark.ai should have everything you need.

[2015-02-16 21:51] Roenok commented on #233
Personal thought: It's not uncommon for all of our upcoming classes and events to be sold out. I would prefer to have them there, so it doesn't look like we are not posting anything. Plus, sold-out events can be a draw for people to sign up for the Meetup to hear about the next one.

What do y'all think of some find of full or sold out marker?

[2015-02-16 21:52] minamarkham commented on #233
I'd prefer a full/sold out indicator, for all the reasons @Roenok said.

[2015-02-16 22:28] charliepark commented on #241
Excellent, thank you.

[2015-02-16 22:44] Roenok commented on #233
30-second mockups:
![option1](https://cloud.githubusercontent.com/assets/925963/6220351/4f9e8240-b603-11e4-8649-939d9ac466db.png)
![option2](https://cloud.githubusercontent.com/assets/925963/6220350/4f9c5736-b603-11e4-80b7-73bf35136882.png)

Other ideas, team? (especially @Cara-Jo)

[2015-02-16 22:56] Roenok opened #242 "Suggestion: Increase font size in top nav menu"
**Description**
The current font size for the top nav menu, 14px, is small enough that I have trouble reading it on my laptop

**Ask**
Increase menu font to 16px, the body font size

**To Do**
- [ ] Increase menu font size (in Sass files, under header nav a)
- [ ] Test across browsers and view ports

**Additional Info**
Mockup is below. Design suggestions welcome!
![increased-header](https://cloud

[2015-02-16 23:03] kstack7 commented on #233
I like the blatant " - SOLD OUT" as it's anchored a bit more than the corner ribbon...that may look funky while free-floating in a list with white space. Also thinking we can nix the map at that point so that a sold out course doesn't take as much real estate...make sense?

[2015-02-16 23:05] minamarkham commented on #233
Like this?

![screen shot 2015-02-16 at 5 04 31 pm](https://cloud.githubusercontent.com/assets/876210/6220609/eb53aa4a-b5fd-11e4-981f-6417762571fd.png)

[2015-02-16 23:07] kstack7 commented on #233
Yea that's decent! We want folks to see what they could maybe catch next
time around, but not take away the spotlight for available courses. I like
it :)
On Feb 16, 2015 6:05 PM, "Mina Markham" <notifications@github.com> wrote:

[2015-02-16 23:08] minamarkham commented on #233
If it's sold out, maybe we should nix the "RSVP" button too? Or at least change the text.

[2015-02-16 23:12] kstack7 commented on #233
Oh yeah definitely...probably nix it for now...
On Feb 16, 2015 6:08 PM, "Mina Markham" <notifications@github.com> wrote:

[2015-02-16 23:18] Roenok commented on #233
Maybe change RSVP to Details or similar? It's still valuable as information.

Re: the map, there are some plans in the works to redesign as side-by-side/new button:
https://github.com/girldevelopit/gdi-new-site/issues/187

I'd leave the map in so it does not disrupt that layout.

[2015-02-16 23:27] minamarkham commented on #233
Okay. How about this?

![screen shot 2015-02-16 at 5 27 28 pm](https://cloud.githubusercontent.com/assets/876210/6220858/1d34a3c2-b601-11e4-9b14-d52ca49c664c.png)

[2015-02-16 23:31] kstack7 commented on #187
Hey @Cara-Jo did you try this on smaller/mobile platforms to see how it translates? Curious if it gets all wonky outside of a desktop width...we can start to move this forward and tack on the "sold out" issue #233 from there

[2015-02-16 23:33] Cara-Jo commented on #187
They just stack in the same order.

[2015-02-16 23:57] mmcelaney opened #244 "Add Link to New Chapter Interest Form"
Description
The old site included a link to the new chapter interest form in the footer.

Ask
Add a link to the new chapter interest form to make it easier for people to contact HQ who want to start a new chapter!

To Do
I've already created a pull request with this change.
https://github.com/girldevelopit/gdi-new-site/pull/243
Please check my pull request and confirm all is well!

[2015-02-16 23:58] beckysingson commented on #233
Love all of this thinking. Thanks @kstack7 @Roenok @minamarkham
+1 -- I dig what you've done there @minamarkham

To add further to my original rationale for this request - I don't like that I can only see the three upcoming classes, despite them being sold out yet I have three open classes thereafter that are not yet sold out that I would rather promote over those that are sold out. So perhaps a f

[2015-02-17 00:03] kstack7 commented on #244
Hey @mmcelaney...just need ya to add a ">" to the opening <a> and then we're good to go!

[2015-02-17 00:04] mmcelaney commented on #244
Done!

[2015-02-17 00:10] kstack7 commented on #233
Ahhh good, good points. Seems like the logical transition would be to focus on a set timeframe vs. a course count. Say we grab classes up to 2 months out and display the open ones first with RSVP and the "sold out" with a ribbon and "details" button...

[2015-02-17 00:12] kstack7 commented on #233
OR we let the API iterate until it has 3 open courses and can put the rest of whatever status in a different spot on the page.

[2015-02-17 00:14] #244 closed

[2015-02-17 00:28] juliaelman opened #245 "Add to contributor docs on how to format issues"
**Description**
*There have been several instances where a contributor has needed to re-format their newly issue.*

**Ask**
*Create a more seamless way for contributors to understand to use the #83 template when formatting issues.*

**To Do**
- [x] Add clearer instructions on reading the [contributors section on the docs](http://gdi-new-site.readthedocs.org/en/latest/sources/contribution/) before

[2015-02-17 00:39] juliaelman commented on #122
@Cara-Jo okay to assign this one to you?

[2015-02-17 00:40] juliaelman commented on #130
@bayendor thanks for pointing this out! How do you think we should move forward from here in regards to this issue? Is it still needed?

[2015-02-17 00:41] juliaelman commented on #146
@coreyd303 thanks for submitting this issue! Could you please re-format to something like the following template on #83?

[2015-02-17 00:42] juliaelman commented on #157
@Roenok were you able to check out these docs and test? Wanting to see if we can add platform specific instructions + Windows would be awesome sauce.

[2015-02-17 00:45] juliaelman commented on #174
@Roenok would you mind re-formatting using the following template in #83?

[2015-02-17 00:45] Roenok commented on #157
@juliaelman Windows install is currently impossible, pending resolution of https://github.com/girldevelopit/gdi-new-site/issues/174

[2015-02-17 00:48] juliaelman commented on #186
@staceyturnage I am not 100% sure it's the best use of the page to add past classes. Meetup keeps an archive on hand and would like to not re-create too much content on the site.

Also, I am not sure that we need to add any extra verbiage, as we do post a rather large chunk of text on the page as is.

@kstack7 thoughts?

[2015-02-17 00:49] juliaelman commented on #187
@Cara-Jo okay to assign to you? Looks like you've got a solve working locally \o/

[2015-02-17 00:50] juliaelman commented on #190
@corinnepw would love you help on this one to check on updated numbers for the homepage stats. The one's we currently have are for 2013.

[2015-02-17 00:51] kstack7 commented on #186
There is actually a great discussion on this over in #233 so these two can combine into one discussion as we move forward. The gist of it being that it'd be good to show "sold out" courses when possible but still three open courses without overwhelming the space.

[2015-02-17 00:51] juliaelman commented on #197
@corinnepw assigning to you for reviewing/approving the new content.

[2015-02-17 00:53] juliaelman commented on #186
@kstack7 cool! Did you want to close this issue and add to the discussion on the other issue or... ? I feel like this issue has a few more nuances, but will leave it up to you on you'd like to move forward.

[2015-02-17 00:55] kstack7 commented on #186
@staceyturnage let's move this over to #233 since there is more traction over there. It'd be great to keep all our input on one issue so we can cover more in one merge :)

[2015-02-17 00:55] #186 closed

[2015-02-17 00:55] kstack7 commented on #233
@staceyturnage brought up the idea of showing past courses as well. I figured we can all talk this out here while we decide what to do about the "sold out" courses. :+1:

[2015-02-17 00:57] juliaelman commented on #174
AFAIK kgio is not required for development and can be written in as a condition in the gem file if you are running on a Windows platform.

@kstack7 thoughts on how to move forward?

[2015-02-17 01:00] juliaelman commented on #204
:+1: on blue! #0066CC?

[2015-02-17 01:38] bayendor commented on #130
@juliaelman the `rmagick` gem was removed with #172, as part of the cleanup.  `mini_magick` is now a required gem dependency of CarrierWave.

From the CarrierWave docs

The site does image resizing in three separate file uploader classes, and since `mini_magick` is a required dependency, we will have to update the install docs to have aspiring devs `brew install imagemagick` as one of the early st

[2015-02-17 01:44] juliaelman commented on #130
@bayendor awesome! I am updating the issue with the #83 format that clearly states these changes. Thank you! :cake:

[2015-02-17 01:49] juliaelman commented on #242
@Roenok +1 I think we should make the Twitter and Facebook icons bigger too! Okay with you to add to the issue description?

[2015-02-17 01:49] Cara-Jo commented on #122
Sure can!!! Let's get it done!

[2015-02-17 01:49] juliaelman commented on #122
:rainbow: @Cara-Jo

[2015-02-17 01:49] Cara-Jo commented on #187
On it!

[2015-02-17 01:53] Cara-Jo commented on #204
Our brand blue is #00A9B4 Not sure if that matters at all or if it's high enough contrast.

See brandfolder.com/gdi

[2015-02-17 01:54] juliaelman commented on #204
@Cara-Jo sticking with the brand sounds good to me!

@Roenok suggestions on the contrast?

[2015-02-17 01:56] Cara-Jo commented on #242
I can do this as well as the link color in one sweep.

[2015-02-17 02:08] Roenok commented on #242
Sure!
On Mon, Feb 16, 2015 at 8:49 PM Julia Elman <notifications@github.com>
wrote:

[2015-02-17 02:16] Roenok commented on #204
Brand blue is too light; it has a 2.9:1 contrast ratio with white, which isn't much better than the gold. If we go a touch darker, #00838C has a 4.5:1 ratio with white and a 3:1 ratio with our default text color, making it a perfect match with WCAG 2.0 guidelines

[2015-02-17 02:19] Cara-Jo commented on #204
I’m good with that! #00838C it is! 
-- 
CARA JO MILLER | Co-founder | Girl Develop It Boulder/Denver | 248.230.0910 | carajo@girldevelopit.com | girldevelopit.com | @GDIboulder | @GDIDenver | @corrinajo

On February 16, 2015 at 7:16:21 PM, Sylvia Richardson (notifications@github.com) wrote:

Brand blue is too light; it has a 2.9:1 contrast ratio with white, which isn't much better than the gold. I

[2015-02-17 05:06] charliepark commented on #241
Okay, so here's what I've got at the moment.
Current on left, new one on right.
![screen shot 2015-02-16 at 8 50 15 pm](https://cloud.githubusercontent.com/assets/22547/6223418/a600aa18-b61d-11e4-9060-cbf1982e1592.png)

Does this work? If so, let me know and I'll fork and submit a PR. If you have any tweaks / suggestions, just let me know. I wasn't sure if the flourish should have greater prominen

[2015-02-17 10:26] pamelafox commented on #187
Hello! Our chapter uses the meetup setting " Only my members can see where this Meetup is happening", however the maps still display. We hide location in case of creepsters, we try to make it a little less obvious where to find us, and the maps make it really easy. Can we have the chapter pages obey that setting, or remove the maps for now?

[2015-02-17 14:02] juliaelman commented on #187
@pamelafox thanks for pointing this out! Would you mind opening another issue for this specific issue and use the following template in #83? @kstack7 has a solve + would rather have it associated with it's own issue.

[2015-02-17 14:08] juliaelman commented on #187
Just changed the title of this issue to be more specific on what is being asked for.

[2015-02-17 14:50] Roenok commented on #241
@charliepark They all look beautiful! Also, I can't actually tell the difference between most of them :)

@Cara-Jo Do you have a preference? You have a better eye for brand.

[2015-02-17 15:46] Cara-Jo commented on #241
I like the top two the best! But I would love to see what the second two look like in the browser. @charliepark can you provide examples of that?

[2015-02-17 16:05] pamelafox opened #248 "Hide maps on meetup pages per Meetup settings or remove maps"
**Description**

Our chapter uses the meetup setting " Only my members can see where this Meetup is happening", however the maps still display. We hide location in case of creepsters, we try to make it a little less obvious where to find us, and the maps make it really easy.

**Ask**
Can we have the chapter pages obey that setting, or remove the maps for now?

**Steps**
- [ ] Decide which ask to d

[2015-02-17 16:10] kstack7 commented on #248
Thanks, @pamelafox...can you do us a favor and reformat the issue to match the template in #83 ? This  helps us stay consistent with our issues and what needs to happen.

[2015-02-17 16:14] pamelafox commented on #248
Okay, fyi, copying/pasting that issue removes the formatting from it, and I can't edit to view the markdown, so I'll have to guess it, from what I can tell.

[2015-02-17 16:16] kstack7 commented on #248
Yeah we know the template ordeal is a bit clunky. We're hoping to cover that in #245 with some better ideas :)

[2015-02-17 16:26] juliaelman opened #249 "Create a staging instance of girldevelopit.com"
**Description**
*We currently only have a production instance running and are continuously deploying to it throughout each PR.*

**Ask**
*Create a staging instance on Heroku of the current website.*

**To Do**
- [x] Add a new application to to Heroku
- [x] Add the current codebase to that instance
- [x] Add most recent data to the instance

**Additional Info**
*We'll want to re-visit the way we me

[2015-02-17 16:27] charliepark commented on #241
Can do, but will have to wait until tonight. Thanks, both, for the feedback!

[2015-02-17 16:27] pamelafox commented on #245
I think you could probably put the template inside ``` code formatting so that people could copy/paste the markdown? Or stick it in a gist?

[2015-02-17 16:30] juliaelman commented on #245
@pamelafox +1 on the gist and making it easier for folks to copy/pasta. We probably also want take into consideration that folks might want to see what the final result will look too. #83 can serve as that example :tada:

[2015-02-17 16:32] kstack7 commented on #245
@Cara-Jo offered her gist here: https://gist.github.com/Cara-Jo/ac8f3168db2a08317a13

Definitely helps to get feedback on what's easier

[2015-02-17 16:34] juliaelman commented on #245
@kstack7 @Cara-Jo YES! Awesomeness. Since this issue is about adding to contributor docs, I think it'd be good to add that code into the docs. :+1:

[2015-02-17 16:56] minamarkham commented on #248
How about using two layouts for classes, one with a map and one without?

Something like this:

![screen shot 2015-02-17 at 10 55 52 am](https://cloud.githubusercontent.com/assets/876210/6232721/93de1b88-b693-11e4-925f-017bf3a62cbe.png)

[2015-02-17 17:02] juliaelman commented on #248
@minamarkham love it!

[2015-02-17 17:54] Cara-Jo commented on #248
I REALLY love the bottom version with the tag next to it. I'm just concerned that as the site scales across devices the little banner might get a bit wonky and interfere with usability. I love that the little tab (bottom) will scale easily across all devices and is clean looking.

[2015-02-17 18:26] minamarkham commented on #248
Best of both?

![screen shot 2015-02-17 at 12 25 11 pm](https://cloud.githubusercontent.com/assets/876210/6234380/1b1ddb54-b6a0-11e4-9fa5-2a1b03f133cc.png)

[2015-02-17 19:33] kstack7 commented on #248
I'm liking this one, @minamarkham ...is that a working example or a design layout?

[2015-02-17 19:37] minamarkham commented on #248
It was an in the browser mockup. I still have the page open though :)

[2015-02-18 00:00] breethomas commented on #195
@juliaelman what if I submit a PR with a "AddDenverChapter" migration with this (is that right and/or helpful?):

[code]

[2015-02-18 00:06] juliaelman commented on #195
@kstack7 thoughts?

[2015-02-18 00:26] minamarkham commented on #248
@kstack7 How do I get meetup/maps working in my local environment so I can start working on this?

[2015-02-18 00:28] kstack7 commented on #248
@minamarkham do you have an API key from your own meetup account that you could use? Once you get that then you just need to set the MEETUP_API_KEY variable in your local environment:

https://secure.meetup.com/meetup_api/key/

[2015-02-18 00:32] minamarkham commented on #248
Yeah, I did that, and it's not working :disappointed:

[2015-02-18 00:53] kstack7 commented on #248
@minamarkham make sure you're in your local site directory and in terminal you can type the following:

export MEETUP_API_KEY=[your api key]

I just ran through it again to make sure the latest files aren't wonky. We can get on a quick Hangout if that doesn't seem to work so let me know!

[2015-02-18 00:55] minamarkham commented on #248
@kstack7 Yeah, let's hangout. It's a no go for me.

[2015-02-18 00:59] techibis commented on #197
Recommendation to make the first sentence an action statement instead of a passive "if you..."  And if we can create excitement while we are at it, it would be a bonus!  We want the person to want to be involved.  Suggestion:

Instead of:  If you want to contribute to the success of women in technology and women transitioning into technology careers today, your contribution will help us improve th

[2015-02-18 01:23] kstack7 commented on #248
Alrighty I'm going to PR the "show/no show" based on permissions changes since that's more of a bug and then @minamarkham will tag team from there to do this sold out fun. This area has a lot of potential changes thus I want to make sure we iterate through them smoothly.

[2015-02-18 01:50] #248 closed

[2015-02-18 02:26] kstack7 opened #252 "GDI Meetup API key overrides location visibility due to membership"
**Description**
*Looks like Meetup will show the maps/location regardless of settings if we continue to use the main GDI API key, which is a 'member' of each group.*

**Ask**
*Either find a different way to leverage the API settings or continue to use Kristen's (@kstack7) dummy key so we can properly show/hide the maps.*

**To Do**
- [ ] Explore the API settings beyond "event.visibility," which ch

[2015-02-18 02:50] minamarkham commented on #187
Creating two layouts; one with maps and one without, as shown here: https://github.com/girldevelopit/gdi-new-site/issues/248#issuecomment-74721817

[2015-02-18 02:59] kstack7 commented on #252
Okay so looks like the "visibility" never changes regardless of API key so it's all about whether or not the API key is that of a group member or 'org account'. We can disregard my recent changes, as the "visibility" check isn't doing anything.

[2015-02-18 03:06] minamarkham commented on #187
or here:

![screen shot 2015-02-17 at 8 59 35 pm](https://cloud.githubusercontent.com/assets/876210/6241768/868703c8-b6e8-11e4-9a94-35f8ef5e4476.png)

I added in some of the changes from @Cara-Jo https://github.com/girldevelopit/gdi-new-site/pull/246 as well.

Will add sold out label in another issue.

[2015-02-18 03:17] kstack7 commented on #252
@pamelafox you should see the changes for now until we figure out a more logical replacement :)

[2015-02-18 03:23] corinnepw commented on #197
@techibis totally agree! Needs to be more action-oriented. Will take those comments and re-word! thanks!

[2015-02-18 05:18] minamarkham opened #253 "Change case of "Admin" and "Logout" links in footer"
**Description**
The admin and logout links in the in footer are capitalized, while the rest of the links are lowercase.

*Ask*
Make all links lowercase for consistency

[2015-02-18 05:18] #204 closed

[2015-02-18 05:19] kstack7 commented on #242
Closed with #247

[2015-02-18 05:19] #242 closed

[2015-02-18 05:22] kstack7 commented on #253
:clap: haha totally get it! thanks :)

[2015-02-18 05:27] #253 closed

[2015-02-18 05:33] charliepark commented on #241
Actually, will have to wait a few more days. Crazy deadlines at work. Promise to get this for you, though!

[2015-02-18 05:38] kstack7 commented on #241
We appreciate the help, @charliepark !

[2015-02-18 05:50] kstack7 commented on #195
Part of me wants to create a brand new boulder with a brand new denver...can always shift the bios/sponsors to the new chapter as needed. Just seems a bit easier (albeit slight busy work) vs. messing with migration unless we can get a db guru on here to present the super easy fix haha

[2015-02-18 17:04] breethomas commented on #195
@kstack7 well...I do work w/ 5 db gurus in my regular day job. :smile:

The current boulder-denver chapter on the live site only contains bios/instructors for the boulder crew. Denver is not represented right now, except for Meetup events. Boulder and Denver ARE separate chapters, but we share meetup ID/page, so our members can easily choose classes between the closely located cities. I'm happy to

[2015-02-18 17:10] kstack7 commented on #195
Woo @breethomas thanks for this offer! I'd love to run it by the rest of the website crew, as we're still fresh out the gate with this launch.

I think we need a bit of "order of events" first before letting Mode Set attack. @juliaelman is currently working on setting up a staging/production instances (#249) of the site so we can avoid using JUST 'master'...I'm thinking we could leverage that stag

[2015-02-18 17:22] breethomas commented on #195
@kstack7 sure, sounds good. let me know at what point you need anything from me. I just want to make sure this issue stays top of mind so we can get Boulder and Denver represented correctly on the shiny new site. :heart: :smile_cat: and thanks for all your hardwork and prompt replies!

[2015-02-18 17:25] kstack7 commented on #195
Of course, @breethomas :) That's a bit why I suggested the busy work of just adding new/moving folks. It's not THAT daunting and it could be done in the later hours. That way you can get your proper Denver setup by tomorrow if you'd like! I'd be happy to help. I did it locally last night and it was fine. Just need to have your bios/info ready to roll.

[2015-02-19 02:54] #171 closed

[2015-02-19 03:09] juliaelman commented on #195
@breethomas thanks for the offer to have Mode Set help out with the change! I think it does not need to be as complicated as we're making this and 100% agree with @kstack7 on how she'd like to move forward.

As for receiving a pgbackup of our production database, it is definitely something that we consider best practices. I am sure your team at Mode Set would agree to this too and the security iss

[2015-02-19 03:11] kstack7 commented on #195
woo! thanks for doing the transfer, @juliaelman...

[2015-02-19 03:32] minamarkham commented on #233
Hmmm. Meetup has a "featured meetup" feature. (Wow, that's a tongue twister). Could we utilize that to display some classes above others?

[2015-02-19 03:34] kstack7 commented on #233
oo yeah we can use that to always display the featured meetup at the top.

[2015-02-19 17:09] juliaelman commented on #195
Got approval from @Cara-Jo and closing this one down! Thanks everyone for your feedback and help :raised_hands:

[2015-02-19 17:09] #195 closed

[2015-02-22 03:01] #210 closed

[2015-02-23 02:45] kstack7 commented on #232
Any designers/CSS'ers want to take a stab at this? I'm not sure if the animate.css is even necessary. Would love additional design input.

[2015-02-23 02:53] juliaelman commented on #174
@Roenok and I determined that this issue had to do with running the `unicorn` gem on Windows. We were able move forward, albeit with a new error message, once we commented our that gem from the Gemfile.

@kstack7 since we ran into other issues once the was commented out, should we move forward with making this solve or nix it?

[2015-02-23 04:23] amygori commented on #232
Animate.css is only being used for the homepage animation -- at least, it was originally. We initially installed the whole library as we considering options for the opening animations, but it's definitely overkill as we are only using one animation. Seems like a good time to bid it farewell it if it's throwing errors. I'll take a look.

[2015-02-23 04:25] kstack7 commented on #232
Thanks Amy! I since pushed a PR #255 to get rid of it. You can review that or I can close it if you think we should put it back. Note that animate.css.scss is still there (I think the .css version was meant to be deleted but wasn't).

[2015-02-23 15:51] corinnepw commented on #197
Would also love to hear from @mmcelaney & @brookefuchs on donation page language!

[2015-02-23 16:34] corinnepw commented on #190
Hi all! Got the latest stats from our research partner, National Center for Women & IT:
http://www.ncwit.org/sites/default/files/resources/btn_02282014web.pdf & http://www.ncwit.org/sites/default/files/resources/impactgenderdiversitytechbusinessperformance_print.pdf & http://www.ncwit.org/sites/default/files/resources/ncwitfactsheet.pdf

I'm comfortable using the following updated stats:
- Women h

[2015-02-23 18:42] mmcelaney commented on #197
Thanks @corinnepw I can take a look at this issue tonight.

[2015-02-23 18:52] danlucas commented on #232
A quick question: how would one test this?  The error (for me at least) only shows up on the production site but running the site locally in production mode doesn't produce the error.  So while I'm pretty sure @kstack7's PR will fix the error is there anyway to know that before it gets pushed to production?

[2015-02-23 20:58] corinnepw opened #256 "Add Newsletter Signup form to homepage"
**Description**
*Add newsletter subscription sign up to homepage*

**Ask**
*Embed Mailchimp's Super Slim Form  "Subscribe to our Newsletter" on Homepage footer*

**To Do**
- [ ] Add embed code to home page

[2015-02-23 23:03] kstack7 opened #257 "Memory leaks with Ruby 2.1.2"
**Description**
*We have been noticing a number of "memory leak/exceeded memory limit" warnings in our logs this week. Only pattern so far is that it seems to occur around 4PM and more often around the chapter pages.*

**Ask**
*Find if the memory leaks are due to our code of if we should roll back to Ruby 2.0.0 (see links below)*

**To Do**
- [ ] Research exceeded memory errors on Heroku
- [ ] Ana

[2015-02-23 23:04] kstack7 commented on #257
I rolled my local version back to Ruby 2.0.0 to see if we can attempt any minimal-change approaches and so far it's fine. Could be our fast fix while we explore ways of optimizing the code.

[2015-02-24 00:10] #238 closed

[2015-02-24 01:15] kstack7 commented on #256
Do we want to design out the form a bit or put it in any particular order? UX/Designers attack!

This is the Mailchimp default look for reference:

![screen shot 2015-02-23 at 8 14 51 pm](https://cloud.githubusercontent.com/assets/6612770/6341467/a9f45d60-bb98-11e4-9baa-c401eea88750.png)

[2015-02-24 01:54] corinnepw commented on #256
@kstack7 I'd say let's just get it up if we can tonight (to be ready for the AOL push tomorrow) and we can make it prettier later... think it's possible to get it up tonight?

[2015-02-24 02:42] kstack7 commented on #256
![screen shot 2015-02-23 at 9 42 11 pm](https://cloud.githubusercontent.com/assets/6612770/6342301/d9ed71e4-bba4-11e4-9815-4004629ac893.png)

[2015-02-24 02:42] kstack7 commented on #256
I had the input aligned with the button for a hot second, but I never trust that across browsers haha

[2015-02-24 02:47] corinnepw commented on #256
Awesome! Let's do it @kstack7

[2015-02-24 02:57] #256 closed

[2015-02-24 03:37] Roenok commented on #256
Just tried it and it worked!

[2015-02-24 05:03] kstack7 opened #260 "MailChimp field too long on mobile"
**Description**
*The mailchimp email field is too long in the footer and causes a horizontal scroll.*

**Ask**
*Reduce the size of the field so it fits within footer across all devices/sizes.*

**To Do**
- [ ] Reduce field size.

**Additional Info**
Verified issue on iPhone and Droid

[2015-02-24 05:11] #260 closed

[2015-02-24 06:03] charliepark commented on #241
Okay, here's the second two from the list, next to one of the first ones (on the far right).
![screen shot 2015-02-23 at 10 02 46 pm](https://cloud.githubusercontent.com/assets/22547/6344061/c68ee04e-bba7-11e4-8b52-8f2769d06182.png)

Thoughts welcome!

[2015-02-25 01:23] corinnepw opened #262 "Unclosed div in _header.html.erb"
**Description**
*Unclosed div in header*

**Ask**
*Need to close div in header - currently stops the site from validating.*

**To Do**
- [ ] Close [div tag](https://github.com/girldevelopit/gdi-new-site/blob/1d1deadc4bd652ff62d3f27c4a3cf62d3f31941e/app/views/shared/_header.html.erb#L19)

[2015-02-25 01:28] corinnepw opened #263 "Extra p end tag on homepage"
**Description**
*Remove extra p tag*

**Ask**
*Need to remove extra p tag on homepage - currently stops the site from validating.*

**To Do**
- [ ] Remove extra [p tag](https://github.com/girldevelopit/gdi-new-site/blob/badd903524e1697e6739bf76fc440321d8f601f2/app/views/home/index.html.erb#L27)

[2015-02-25 01:34] juliaelman commented on #190
@corinnepw sold! I vote sendinf to NCWIT resources, but am not sure we need to cite. Going to submit a PR for updating the stats for now until I hear further from you and/or @DBNess!

[2015-02-25 01:52] corinnepw commented on #190
@juliaelman how about we cite (in a smaller size) and link the citation to NCWIT.

I know we're not using Bootstrap, but this is what I'm thinking [scroll down to small headings](http://getbootstrap.com/css/#type-headings). Does that make sense?

- Women hold only 26% of the approximately four million computing related occupations in the US. [U.S. Department of Labor, Bureau of Labor Statistics, 2

[2015-02-25 01:55] juliaelman commented on #190
@corinnepw that works for me! Thanks for the detailed docs to clarify the linkage and how you would like it to work. Super helpful!

[2015-02-25 02:57] #232 closed

[2015-02-25 03:39] #262 closed

[2015-02-25 03:39] #263 closed

[2015-02-25 04:07] #190 closed

[2015-02-25 14:34] DBNess commented on #190
:raised_hands: looks great!! Thanks, ladies!

[2015-02-26 03:27] kstack7 commented on #194
Fixed in #209

[2015-02-26 03:27] #194 closed

[2015-02-26 04:12] kstack7 commented on #241
I like gdi3 the most, @charliepark :) Any designers want to chime in? @Cara-Jo?

[2015-02-26 06:25] kstack7 opened #268 "Chapter pages fail if Meetup is down"
**Description**
*Meetup is currently down and subsequently knocked out our individual chapter pages.*

**Ask**
*Alter the code so that the page will still load regardless of Meetup's status.*

**To Do**
- [ ] Check that MeetupApi is receiving data in the controller
- [ ] Adjust the chapters/show.html.erb to handle unset variables
- [ ] Test the views still work if API data is not set

**Additional

[2015-02-28 19:57] bayendor commented on #257
FWIW, I have run this in a branch on Ruby 2.2.0 which implements several memory, GC, and symbol collection improvements, and have had no apparent problems.  At a bare minimum we could update to Ruby 2.1.3 which would introduce no breaking changes, and I believe addressed the memory leak issues in 2.1.2, jump to 2.1.5.

[2015-02-28 20:46] #224 closed

[2015-02-28 20:59] carliecope opened #271 "Subscribe styling inconsistent with other button styles"
Description
The 'Subscribe to Mailing List' button in the footer appears beveled where as the other buttons do not.

Ask
Change the button formatting to match the other buttons.

To Do
- [ ] Remove the border from the button.

[2015-02-28 21:06] kstack7 commented on #271
Hooray @carliecope! Thanks for the perfectly templated issue, too :) You're on :fire:

[2015-02-28 22:17] artygyrl commented on #239
@rahobbs, I'm going to try to help with this issue

[2015-02-28 23:19] gkimbwala opened #274 "New Chapters not added to locs2.yml file"
Description
In reference to issue #240,  new chapters need to be hard coded into the locs2.yml file. The chapter_seed variable references the yml file to create new entry in the database but does not create any new entries that are not on the locs2.yml file.

Ask
To remedy the issue you would have to utilize the Meetup API to gather all the need information about the different states in the databa

[2015-02-28 23:23] gkimbwala commented on #240
the San Jose Chapter needs to be added to the locs2.yml file. it should have been listed on between line 2015 and 2016. I think the best way to do it is to add all the information into the database and rake the database. I would have done it but I couldn't find all the information using solely using the MeetupAPI.

[2015-03-01 16:16] charliepark commented on #241
Was thinking a bit more; the flourish is really a nice element. Here's one more option while waiting for any other input. I like the simplicity of this one.

![screen shot 2015-03-01 at 8 14 32 am](https://cloud.githubusercontent.com/assets/22547/6431644/1b574eee-bfeb-11e4-86f2-90f32b9326a2.png)

At this point, I'm cool with any direction; just let me know and I'll get the PR pulled together.

[2015-03-01 16:22] Roenok commented on #241
@charliepark I like just the flourish best. I also think it will scale to different sizes a little more cleanly.

[2015-03-01 18:57] amygori commented on #240
@therufs, @ChetCorey please correct me if I am not right about this, but I think the way it's set up, chapters only need to be added to the database thru the Active Admin console; there shouldn't be any need to change the seed data. The seed data was hard coded in development to give us stuff to work with (and it may be in use now to drive the tests that have since been added). Once the chapter is

[2015-03-01 23:10] therufs commented on #240
That's correct. Maybe it would be helpful to reduce the seed data somewhat
to make it clear that it's just for testing? (And improve the docs, of
course)

On Sun, Mar 1, 2015 at 1:57 PM, Amy Gori <notifications@github.com> wrote:

[2015-03-01 23:55] charliepark commented on #241
Cool, @Roenok, me, too. Will use that one for the PR. Thanks!

[2015-03-02 01:11] #241 closed

[2015-03-03 00:39] corinnepw opened #276 "About page content updates"
**Make update to "Our Story" content & Sponsor inquiry**
*Replace current content with the updated content below*

**To Do**
- [ ] Add updated Our Story content (below) including links
- [ ] Change "For sponsorships: sponsorships@girldevelopit.com" to "To learn about supporting GDI as a sponsor: sponsorships@girldevelopit.com"

“Girl, Develop It!” began as a call to action for women, by women who

[2015-03-03 00:50] corinnepw opened #277 "Footer Content update"
**Update footer content**
*Change to language below*

**To Do**
- [ ] Update language

Don't see your city? [Help bring Girl Develop It to your community!](https://docs.google.com/a/girldevelopit.com/forms/d/1IwGncJ6_69MWa2_rrikO5Q3DLriA04Eq9x0BUnxkwTw/viewform?edit_requested=true#start=invite)
To learn about ways to support Girl Develop It, email us at sponsorships@girldevelopit.com or visit our

[2015-03-03 06:11] #276 closed

[2015-03-03 06:12] #277 closed

[2015-03-07 15:38] corinnepw opened #280 "Update Homepage "Who Are We?" Content"
**Update homepage "Who Are We?" content**
*Language and header content need to be updated*

**Ask**
*The header and language can be stronger and formatted in a more readable way. See below for updated content.*

**To Do**
- [ ] Change header to read "Who We Are"
- [ ] Update section content to the content below

**Updated Content**
*Girl Develop It is a nonprofit organization that exists to provid

[2015-03-07 16:56] #271 closed

[2015-03-07 17:04] #187 closed

[2015-03-07 18:28] SisqosDeepCuts opened #282 "Idea: Add a "Get Involved" page"
**Description**
*Currently, there's no clear way for visitors to learn how to get involved with GDI in various ways.*

**Ask**
*Create a page for anyone who wants to get involved--whether as a Chapter Leader, instructor, TA, volunteer, sponsor, or someone who wants to take a class or stay updated via the meetup page. The page could describe each role and the next step(s) for anyone interested. Nav

[2015-03-07 18:30] corinnepw commented on #122
Could we use this one in the meantime? I cropped to 1400 x 499.
![leaders](https://cloud.githubusercontent.com/assets/4427638/6542673/fb883f6e-c4cd-11e4-92a2-f9ca6b83390d.png)
+1 having a pool of 5-10 images to have a different one appear on each refresh of the page.

Also @Cara-Jo I took some really solid images of leaders building the site at the summit w your fancy :camera:. The lighting at Mee

[2015-03-07 18:31] corinnepw commented on #282
:clap: first Issue for @SisqosDeepCuts!! :clap:

[2015-03-07 19:24] SisqosDeepCuts opened #283 "Suggested copy edits to website"
**Description**
*Logged some minor suggested edits to GDI website copy. See original alongside highlighted edits here: https://www.diffchecker.com/bvem3odm*

**Ask**
*Look over edits and decide which should be implemented, if any, then make and publish edits on the live site.*

**To Do**
- [ ] Note which edits to publish or disregard
- [ ] Edit content in CMS
- [ ] Publish

**Additional Info**
*I

[2015-03-07 22:47] beckysingson opened #284 "Sponsors do not display on chapter pages on mobile"
**Description**
When viewing chapter pages on mobile, sponsor logos do not display.

**Ask**
Update mobile media queries to include sponsor logos on mobile device/screen widths. It looks like mobile was part of the ask in #171 but not sure if it wasn't included or if this display issue is a bug.

**To Do**
- [x] Confirm if sponsors section was added or not to mobile styles
- [x] Add and/or debug i

[2015-03-07 23:07] #280 closed

[2015-03-07 23:13] kstack7 commented on #284
Hey there, @beckysingson...the sponsors appear to be built into a "hide" class, which is programmed to disappear on widths smaller than 500px. So we definitely could use a mobile-friendly layout for the sponsors.

Thanks for posting the issue!

[2015-03-07 23:21] corinnepw commented on #283
@SisqosDeepCuts this is awesome! I am going to check the edits and then we can separate them into issues for each page.

[2015-03-07 23:36] kstack7 commented on #283
Thanks, @corinnepw...definitely will help to have an issue per updated page :) Nice job, @SisqosDeepCuts! This is really helpful :+1:

[2015-03-09 05:08] kstack7 commented on #122
Heyo @corinnepw ...my immediate thought is that the animated text will have to be changed to a lighter color. I do love the idea of using our group photo so maybe a designer would like to play with what looks best?

[2015-03-09 05:13] Cara-Jo commented on #122
I’ve tried this image in the past on the home page and it is way too busy for it. It’s better suited for an inside page where there isn’t much going on. 

-- 
CARA JO MILLER | Co-founder | Girl Develop It Boulder/Denver | 248.230.0910 | carajo@girldevelopit.com | girldevelopit.com | @GDIboulder | @GDIDenver | @corrinajo

On March 8, 2015 at 11:08:55 PM, kstack7 (notifications@github.com) wrote:

H

[2015-03-09 05:14] kstack7 commented on #122
Yeah...I thought maybe we had discussed this one before. We'll find one!

[2015-03-09 13:11] corinnepw commented on #122
@Cara-Jo @kstack7 noted! Can we find a way to get this on the Donate page?

[2015-03-10 00:18] Roenok commented on #240
![san-diego](https://cloud.githubusercontent.com/assets/925963/6567173/69a6f4d2-c699-11e4-8caa-6d55b04ce0c0.png)

San Diego is up on the main page; the seed data is only for testing.

[2015-03-10 00:18] #240 closed

[2015-03-10 00:20] Roenok commented on #274
Hey @gkimbwala, that seed data is only for testing/local environments. New chapters join the production database

[2015-03-10 00:29] Roenok opened #285 "Write a testing procedure"
**Description**
We do not have a set testing procedure for site updates

**Ask**
Write a checklist of steps to go through before moving from staging to production

**To Do**
- [ ] Write checklist

**Additional Info**
Process!

[2015-03-10 01:50] therufs opened #286 "Social media icons are wonky"
Description
Chrome / OSX 10.9.5: some social media icons aren't showing up (Twitter, LinkedIn, Facebook.)  The links are still there.

In the dev console, it looks like the correctly displayed icons have ::before inside the <i> tag, and the incorrectly displayed ones don't.

Ask
Desired behavior: have them show up!

To Do
- [ ] ??? It's not obvious to me from the erb why this is happening. :/

![c

[2015-03-10 01:53] therufs opened #287 "Clarify use of seed data"
Description
locs2.yml isn't meant to be the canonical repository of extant chapters, but people are getting confused.

Ask
I think it would be a good idea to cut it down to just a chapter or two. (Where was the first chapter? Are there any other obvious ones to pick?)

To Do
- [x] Annotate locs2.yml
- [x] Remove most chapters
- [x] Update docs

<3

[2015-03-10 01:55] therufs commented on #287
(I'll work on this!)

[2015-03-10 02:05] Roenok commented on #287
NYC was the first chapter, SF is probably the largest

[2015-03-10 02:20] kstack7 commented on #287
Good idea, @therufs...definitely no need to chase our tails on this if we can help everyone see what the purpose is here...

[2015-03-10 02:21] kstack7 commented on #286
O_o well that's a fun one...sniffing this out

[2015-03-10 02:29] kstack7 commented on #286
Can anyone else on 10.9.5 recreate this?

[2015-03-10 04:15] therufs commented on #287
:idea: If we add locs2.yml to .gitignore, everyone can pull down the trimmed version and seed back in their own chapter as it makes them happy to do! Thoughts?

[2015-03-10 04:26] kstack7 commented on #217
Coming up in PR #288

[2015-03-10 04:26] kstack7 commented on #202
Coming up in PR #288

[2015-03-10 13:35] therufs opened #290 "LinkedIn links are incorrect"
_Description_
At least some chapters have incorrect LinkedIn links, e.g.: https://www.linkedin.com/https://www.linkedin.com/groups/Girl-Develop-It-Boise-6696817

I suspect this is a problem for bios too.

_Ask_
From views/chapters/_social_media_chapter.html.erb:

[code]
# {user.linkedin} is already a complete URL (at least for some chapters) so we end up with malformed links.

_To Do_ (edited 5/11

[2015-03-10 13:41] therufs commented on #290
I'm happy to do the erb tweaks if someone with admin access on the site can let me know what we standardized to :) \o/

[2015-03-10 13:53] Roenok commented on #290
@therufs I'll take a look. I think right now individuals should just be username and chapters should be group name.

[2015-03-11 14:41] corinnepw commented on #122
Scratch that — this would be best on **About**!

[2015-03-12 15:45] techibis opened #291 "Add a 'More Events' link to chapter pages"
Description
After the three events that are listed on the chapter pages, create a text link that says 'More Events' and that leads to the chapter's meetup home page.  This is quite important for chapters with extended areas.

Ask
Link appears on chapter pages and takes you to the chapter's meetup home page.

To Do
* Add link to chapter page

Additional Info
Use Case:  The next three events may not

[2015-03-13 02:21] corinnepw opened #292 "Add sponsor and partner logos"
**Add attached logos to sponsors page**

*Add sponsor DuckDuckGo logo and partner CodeMontage logo*
Sponsor ![ddg-logo_full-horizontal-01](https://cloud.githubusercontent.com/assets/4427638/6631902/0835b89c-c904-11e4-8a28-954b0d6a79bc.png)
link to http://duckduckgo.com

Partner:
![codemontagelogo](https://cloud.githubusercontent.com/assets/4427638/6632026/1dc99ca8-c906-11e4-90c0-1d1854b067ba.png)

[2015-03-15 01:08] juliaelman commented on #249
@kstack7 staging instance is now updated with the latest db dump from production. https://girl-develop-it-staging.herokuapp.com/ I am going to close this issue, but please let me know if you'd like me to help build out this process and/or need anything else! :rocket:

[2015-03-15 01:08] #249 closed

[2015-03-15 01:17] juliaelman commented on #286
@therufs hrmmm... this works for me! //cc @kstack7 Here are the browsers I tested it in:

Chrome Version 41.0.2272.89 (64-bit)
Firefox 36.0.1
Safari 8.0.3

Also using OS Yosemite 10.10.2

[2015-03-15 01:19] juliaelman commented on #290
@Roenok going to assign this to you while you determine how to move forward. Please switch the assignee to @therufs once you know how best to move forward.

[2015-03-15 01:21] juliaelman commented on #291
Hi @techibis and thanks for submitting the issue! Would you mind reformatting your issues description with the following template #83?

[2015-03-15 03:11] kstack7 commented on #249
Hooray! Thank you, @juliaelman ...I was hitting some admin walls trying to tie it over to heroku so I'm glad you handled this...

[2015-03-15 20:36] #239 closed

[2015-03-16 00:54] kstack7 commented on #292
Fixed by PR #295

[2015-03-16 00:55] kstack7 commented on #292
Thank you to @annakaringal for your first-time contribution!

[2015-03-16 00:57] #292 closed

[2015-03-16 03:56] techibis commented on #291
Updated.

[2015-03-17 01:15] #287 closed

[2015-03-21 15:50] cmayeda commented on #282
This sounds like a great idea! I'll work on drafting the page content.

[2015-03-21 18:23] keaty commented on #291
Hi @techibis and @juliaelman, I've submitted a pull request for this issue. Let me know if you'd like different language for the link, different link placement, etc.

[2015-03-21 18:34] jenfinery29 commented on #286
Can't recreate this bug either.  Checked in:
Chrome 41.0.2272.89
Firefox 35.0.1
Safari 7.1.4

[2015-03-21 18:43] minamarkham commented on #233
@kstack7 can you assign this to me please?

[2015-03-21 19:01] kstack7 commented on #233
Woops got click happy...done and done, @minamarkham :)

[2015-03-21 19:40] gizmodesign commented on #197
Suggesting, after the first 2 sentences above:

Your donation creates a cost-effective avenue for women to gain technical knowledge. Support for Girl Develop It means it's never too late to learn — our students range in age from 18 to 70. We firmly believe in creating avenues for women to benefit from the opportunities and rewards of learning web development.

[2015-03-21 19:59] juliaelman commented on #291
@keaty solved the issue! :rainbow:

[2015-03-21 19:59] #291 closed

[2015-03-21 20:06] #284 closed

[2015-03-21 20:06] juliaelman commented on #284
Fixed with #298 by @celeen!

[2015-03-21 20:07] juliaelman commented on #286
@kstack7 we've had a few folks say that they are not able to recreate the issue. What do you think best next steps are?

[2015-03-21 21:13] therufs commented on #286
I'm wondering whether this might actually be a bug in Chrome?

[2015-03-22 21:17] kstack7 commented on #286
Yeah this one is intriguing me... @therufs are you able to update or anything? Curious if it's just your installation? I tapped into my work network and snagged a computer on 10.9.5 to try this and could not recreate the issue. Do you know which version of Chrome you're on or if you can do this in a different browser?

![screen shot 2015-03-22 at 5 16 12 pm](https://cloud.githubusercontent.com/ass

[2015-03-23 02:49] therufs commented on #286
Current Chrome version: 41.0.2272.89

Am I able to update (I assume we mean to OSX 10.10): yes but I'm dragging my feet because Yosemite gives me uncanny valley feels >.<

If literally no one else is having this problem, I'm glad to go on record as saying it does not detract from the site's functionality or loveliness enough to be worth chasing further. :)

[2015-03-23 03:03] kstack7 commented on #286
Oh, I was definitely only referring to updating Chrome :) I wouldn't want to impose OS versions on ya haha Yosemite still has some quirks to iron out. Though, I notice the 10.9 I used to try out Chrome was on Version 41.0.2272.101...seems like yours is a smidge behind in that regard. Are you able to update your Chrome and see if it's still there? If not, we may fly the "this is a small percentage

[2015-03-23 03:23] therufs commented on #286
I'm updated, no dice. Weird city!  ¯(°_o)/¯

[2015-03-23 03:25] kstack7 commented on #286
Geez I'm not so sure then...I did task some of the chapter leaders to test it out in tonight's chapter leader meeting so we'll see if anyone else finds it...otherwise, we may have to scratch it up to a weird fluke. Thanks for checking!

[2015-03-24 02:41] kstack7 commented on #217
Sorting capabilities are available on our 'staging' site. Try 'em out!

https://girl-develop-it-staging.herokuapp.com

[2015-03-24 02:42] kstack7 commented on #202
Now available on staging! Have at it!

https://girl-develop-it-staging.herokuapp.com

[2015-03-24 02:43] kstack7 commented on #202
NOTE: DB changes are on a staging db. So just check it out for functionality and layout without putting tons of time into it haha the live db will need the real changes :)

[2015-03-24 02:43] kstack7 commented on #217
NOTE: Testing on staging site will only change the staging db. So just check it out for functionality and layout without putting tons of time into it haha the live db will need the real sorting changes :)

[2015-04-07 04:05] kstack7 opened #305 "Donation Page Enhancements/Ideas"
**Description**
_Adding more designs, details, and/or interactive features to the Donation page so it's more engaging and informational._

**Ask**
_Revisit issue #62 and suggest new ideas/designs for discussion. We're open to details, wireframes, designs, and code for demos!_

**To Do**
- [ ] Revisit ideas/designs from #62
- [ ] Create or suggest new idea with wireframes/designs/code
- [ ] Post in

[2015-04-07 04:16] kstack7 opened #306 "About Page Collage Ideas"
**Description**
*GDI would like a more interactive and well-designed way for users to learn about the chapter leaders.

**Ask**
_Check out some examples and design/develop a GDI collage on the About page._

**To Do**
- [ ] Check out existing examples (links below)
- [ ] Create or suggest new idea with wireframes/designs/code
- [ ] Post in this issue for discussion

**Examples**

http://2015.philly

[2015-04-10 04:38] kstack7 opened #308 "Hero image not centered"
**Description**
*The hero image (homepage header) isn't centered in larger windows. Also, the image isn't very desktop friendly. Maybe we can consider some other photo options/suggestions? *

**Ask**
_Center the hero image (background-position on .opener) and consider different photo options._

**To Do**
- [ ] Fix background-position in .opener

**Additional Info**

![screen shot 2015-04-10 at 12

[2015-04-12 00:14] pshegde opened #309 "on clicking nav bar sponsors the header sponsors should be at the top of the page"
**Description**
On clicking materials the materials header is at the top of the page. However, on clicking sponsors and donate the header is not at the top of the page.

**Ask**
1) adding a SUPPORTERS header at the top of this page,
2) changing the navigation link label to SUPPORTERS
(Edited based on comments below by @DBNess and @kstack7 )

**To Do**
Same as above

**Additional Info**
![untitled]

[2015-04-12 00:22] kstack7 commented on #309
Thank you for this issue and suggestion, @pshegde! Please reference our issue template #83 for future contributions. We'd greatly appreciate it!

I believe the reason for this lacking header is because we also mention our partners lower in the page. I'd love to hear what others think about this layout, too.

[2015-04-12 00:24] atmcniff opened #310 "Design for markers on the map makes it difficult to access specific ones when grouped together tightly"
![image](https://cloud.githubusercontent.com/assets/11324044/7103842/336eef60-e06f-11e4-85b0-fd919bb16416.png)

It's difficult, in this case, to view the locations in Bucks County due to the overlapping of the other markers, where the user has to slowly move the cursor to an area on the edge where the other two markers aren't activated.
Detection range of the cursor should be changed for the marke

[2015-04-12 00:27] kstack7 commented on #310
Thanks for the suggestions, @atmcniff

Could you reformat the issue to match our template? You can reference it here: #83

[2015-04-12 00:31] pshegde opened #311 "Chapter for san jose not listed on the map"
Chapter for gdi san jose not listed on the map

[2015-04-12 00:32] khushali9 opened #312 "Chapter for Girl develop for San jose is not in the Chapters list"
![screen shot 2015-04-11 at 5 31 05 pm](https://cloud.githubusercontent.com/assets/9066304/7103886/b1e37838-e070-11e4-9801-2a320c746dc1.png)

[2015-04-12 00:35] kstack7 commented on #311
Thanks for the issue, @pshegde. Please reference our issue template ( #83 ) for future contributions.

Our chapter leaders are in charge of their chapter presence so we will likely need to reach out again if one of the leaders does not submit a web admin form.

[2015-04-12 00:36] kstack7 commented on #312
Closing due to duplication. See #311

[2015-04-12 00:36] #312 closed, assigned to nobody

[2015-04-12 00:50] khushali9 commented on #312
but that is Map and this is link of Chapters

[2015-04-12 00:51] kstack7 commented on #312
Yes, it's all related. This new site is database-driven thus if the data is present in the database, it'll show on the map and in the chapter list.

[2015-04-12 01:26] kstack7 commented on #311
Aaand correction! We do have a submission for San Jose as of a couple days ago. I'll start populating :)

[2015-04-12 01:36] kstack7 commented on #311
Okay San Jose is on the map! I've alerted the chapter leader to start populating the page. We're all set from here! Thank you!

[2015-04-12 01:36] #311 closed, assigned to nobody

[2015-04-12 01:38] kstack7 commented on #312
Hey there, @khushali9! Just to follow-up we did have an admin submission from the San Jose chapter so we can get them in the database. Thanks for checking and submitting!

[2015-04-12 03:44] khushali9 commented on #312
Got it. Thank You @kstack7

[2015-04-16 21:22] kstack7 commented on #308
Closed with PR #316

We appreciate the contribution, @crohacz, but we are using @likedaang PR until we agree on a new hero image.

[2015-04-16 21:22] #308 closed, assigned to nobody

[2015-04-16 21:26] kstack7 commented on #202
Closed with #288

[2015-04-16 21:26] #202 closed

[2015-04-16 21:27] kstack7 commented on #217
Closed with #288

[2015-04-16 21:27] #217 closed

[2015-04-18 04:42] westonplatter commented on #257
I second @bayendor's suggestion to migrate up towards 2.1.5

Is there a staging site that we could deploy a Ruby upgrade to in order to see if that fixes the issue?

[2015-04-21 03:14] kstack7 commented on #282
Okay! So @snkahn and her team were [winners!!] at the BattleHack event this past weekend and came up with a solid "contribution" type of page. I think we can leverage a lot of these ideas and consolidate it with a FAQ section, too.

https://warriorprincess.herokuapp.com/

@corinnepw could provide some of the common email questions she faces at the HQ level for the FAQ.

Let's get input/feedback ro

[2015-04-21 12:14] snkahn commented on #282
full set of html/css templates here: https://github.com/snkahn/warriorprincess/

[2015-04-21 12:15] snkahn commented on #282
the whole angular app is here: https://github.com/Sarah4VT/warrior (we had to move it, merge conflicts at 2am)

[2015-04-22 16:32] DBNess commented on #309
Thank you, @pshegde! This is a great suggestion for design consistency -- we should have a header here with words and not just the flourish. I see @kstack7's point re: why Sponsors wouldn't make sense, though, so I wonder if maybe "SUPPORTERS" or "SPONSORS & PARTNERS" something general should be the page header and then we can keep the breakout between Sponsors and Partners down the page. Definite

[2015-04-22 20:07] GretchenLynd commented on #282
This is great! I love the Warrior Princess app.

I'm working on the FAQs right now, but these are in response to general questions regarding location of chapters, how to sign up for classes, do you allow men to attend, etc. These were the type of questions that we received most frequently through the info@ email address. I've started the list of questions and am working on the 'answers'.

Here's t

[2015-04-22 20:34] snkahn commented on #282
hmm. these might be different things, and that's ok. i can slap together some wireframes to more fully demonstrate what we were trying to accomplish with our app. hubby's out of town so i can spend some time tonight

[2015-04-22 20:40] kstack7 commented on #282
@snkahn @GretchenLynd I think we'll have an obvious separation between a FAQ section of the page (maybe accordion style or something?) and the "funnel" app for getting folks into the proper chapter near them. That way we can redirect the majority to a nearby hub while the rest get the common, universal questions.

Does this make sense?

[2015-04-22 23:29] GretchenLynd commented on #282
@snkahn @kstack7  I think you're right, they're probably 2 different sections.
We were getting a lot of "I want to take the HTML/CSS class - how do I sign up?"-type questions. I'm guessing that they were looking at "Materials" and then sending an email when they couldn't figure out next steps. Perhaps there could be some text on the "Materials" page about visiting the Chapters page to help them fi

[2015-04-25 15:53] heiwanalady commented on #208
Hi! Is this issue still open?

[2015-04-25 19:24] DBNess opened #318 "Add a CONTRIBUTING.md File"
**Description**
We have a great issue template, but it's hard to find as a new contributor. If we use GitHub's CONTRIBUTING.md format, users will get a reminder like this when they open a new issue.
![new_issue_ _centerforopenscience_osf_io](https://cloud.githubusercontent.com/assets/226228/7334301/574c204c-eb55-11e4-9597-b5447176d60a.jpg)

**Ask**
Create a CONTRIBUTING.md file with a quicklink to

[2015-04-25 20:32] pxh1432 commented on #306
I just wanted to throw out a few ideas to increase involvement.

-It would be useful to prime the user to get involved and take initiative and start their own chapter or such.

Picture superiority effect:
A picture is worth a thousands words. Pictures are generally better recalled than words. So perhaps the priming can start as soon as the user enters the website. If we include positive visual ima

[2015-04-25 20:48] pxh1432 opened #319 "Increase Social Media Awareness"
A great attribute would be to increase awareness of GDI and what better way to do that now days than social media?

Once GDI has more of those avenues, perhaps offer responsive social media icons next to a phrase like  "Connect with Us!"

[2015-04-25 20:52] pxh1432 commented on #62
An interesting aspect that that may be beneficial is showing examples of the results of the donations.  Like examples of "see where your money goes!"

 Maybe have an image
-Thanks to contributions made by amazing people like you...we were able to...!

[2015-04-25 21:10] pxh1432 opened #320 "About Page: Our Mission and Our Values Allignment"
The our mission and our values paragraphs take a while for me to decipher because of the alignment.
Instead of having them right next to each other can we place the paragraphs on top of each other and still keep the center alignment like the rest of the page. I feel it would it would connect better and reduce the visual confusion.

[code]

Our vision is to create a network of empowered women who f

[2015-04-25 22:29] pxh1432 opened #321 "Increase Involvement"
![image](https://cloud.githubusercontent.com/assets/12114978/7335149/955ede86-eb70-11e4-9a37-b090a881d5e7.png)

[2015-04-25 22:33] pxh1432 commented on #321
Oh Sorry I missed the template >.<

[2015-04-28 12:56] mmcelaney commented on #122
I just want to drop my two cents and say that we should make a concerted effort to represent people who are not white on the homepage. Unfortunately, Vermont is the pastiest place on earth so I can't really contribute diverse imagery from my chapter, but I'm hoping we have chapters that can help us with this?

[2015-04-28 15:19] kstack7 commented on #306
Adding more suggestions as they come in :)

https://stripe.com/about ( @corinnepw )

[2015-04-28 18:09] therufs commented on #122
+1000000

[2015-04-28 18:32] corinnepw commented on #122
@mmcelaney Absolutely agree— we should always strive to show images that are representative of our incredibly diverse communities. We should look for images that show women of color and age diversity.

[2015-04-28 18:47] kstack7 commented on #122
I think we should reconsider the text layout/design as well since it tends to limit the images in use. I know we tried a few other options, but they only worked well with consistently lighter photo options. Let's explore that more, too :)

[2015-04-30 13:49] kstack7 commented on #318
Not on my home computer with my local installation atm, but here's the new issue link if someone else wants to supply the file...

Link's a little long, but thorough! :+1:

https://github.com/girldevelopit/gdi-new-site/issues/new?body=**Description**%0A*Include%20a%20high%20level%20description%20of%20the%20feature%20or%20error%20here%20including%20steps%20of%20how%20to%20recreate%20if%20applicable

[2015-04-30 18:52] DBNess commented on #318
NIIICE @kstack7!! :muscle:

[2015-05-04 00:44] kstack7 commented on #320
Any designers/UXers want to share their thoughts on this one?

[2015-05-04 00:47] kstack7 commented on #319
Thanks for the input, @pxh1432, and we agree! We are all over social media because we know how powerful it is :)

We do have our FB/Twitter info in our main navigation and footer. We also feature the same for each chapter on their respective chapter pages. Do you have other specific suggestions?

[2015-05-04 00:50] kstack7 commented on #321
We appreciate the thorough input, @pxh1432! We are currently in the process of discussing/implementing a similar procedure over in #282 -- feel free to jump in there! I am going to close this issue for now since it covers a variety of existing ones, but thanks so much for the help!

[2015-05-04 00:50] #321 closed, assigned to nobody

[2015-05-04 00:51] kstack7 commented on #320
@Cara-Jo @Roenok @corinnepw thoughts?

[2015-05-04 00:53] kstack7 commented on #318
Pushed to staging if anyone wants to take a look/review:

https://github.com/girldevelopit/gdi-new-site/blob/staging/CONTRIBUTING.md

[2015-05-04 00:56] kstack7 commented on #309
Hmm yeah I almost wonder if we should swap out the nav for "supporters" so that we can use that as the header and "SPONSORS" / "PARTNERS" as the sub-headers...

[2015-05-04 00:57] #274 closed

[2015-05-04 00:58] kstack7 commented on #290
What's the status of this issue?

[2015-05-04 01:00] kstack7 commented on #286
Going to chalk this one up to a fluke instance and close. :+1:

[2015-05-04 01:00] #286 closed

[2015-05-04 01:00] kstack7 commented on #268
My own issue and I think I paired two unrelated issues. Closing :)

[2015-05-04 01:00] #268 closed

[2015-05-04 01:04] kstack7 commented on #257
Hey there, @westonplatter! We do have a staging site/repo, but this leak is no longer a major issue since we have a better hosting setup than when we started. We're open to trying it!

[2015-05-04 01:06] kstack7 commented on #245
I think this issue can be knocked out by adding a CONTRIBUTING.md file per @DBNess suggestion in #318 :)

I pushed the file to staging if anyone wants to review/check it out!

[2015-05-04 01:09] kstack7 commented on #221
Where do we stand with this? Love/hate the tab look? Let's finalize or close this :)

[2015-05-04 01:14] westonplatter commented on #257
@kstack7 awesome! If you're open to giving it a shot, how about I push suggested changes to the staging branch. Do you have access to deploy that branch to Heroku - or would I need to work with someone else?

[2015-05-04 01:19] kstack7 commented on #257
@westonplatter I do have access to deploy. Do you anticipate any drastic changes or a subtle upgrade?

[2015-05-04 01:23] westonplatter commented on #257
@kstack7 I usually underestimate scope of code changes :).

I think the only reason changes would become drastic is if any of the ruby gems also needed upgrades to support the 2.1.2 -> 2.1.5 migration. I don't think this will be the case, but I not sure. I'll pull together the PR tonight we we can see the scope of the changes in the PR.

[2015-05-04 01:38] kstack7 commented on #257
@westonplatter sounds lovely! :+1:

[2015-05-04 02:49] kstack7 commented on #197
Where do we stand with this page? Do we want to push these changes?

[2015-05-04 03:00] therufs commented on #290
I haven't looked at it since it originally came up, but am willing to take a crack at it.  Maybe I can write a ~helper method~ to just check the thing we're trying to link to?

ETA: I was just reminded that I'm supposed to be moving this week O.O Still glad to tackle this and have set a gcal event to remind me to look at it on Monday 5/11 (if I don't get sick of boxes and take a crack at it before

[2015-05-04 03:02] therufs commented on #318
@kstack7 I did not even understand what was going on with that quicklink when you sent it before, but now I do and it's ~GLORIOUS~ :+1:

[2015-05-04 03:05] kstack7 commented on #318
haha @therufs fortunately it's way more concise in the actual file!

[2015-05-04 03:05] therufs commented on #221
Is there a place we can see the tab version w/o the drop shadow?

[2015-05-04 03:11] kstack7 commented on #221
I think the best option is to use DevTools (I prefer Chrome) to disable the CSS

@ media screen and (min-width: 500px)
header nav a:hover {
  background-color: #282828;
  color: #fbcfc6;
  /\* box-shadow: 0.025rem 0.025rem 0.5rem #282828; */
}

This is the result when hovering and active:

![screen shot 2015-05-03 at 11 09 06 pm](https://cloud.githubusercontent.com/assets/6612770/7448503/ac81f9fc-

[2015-05-04 03:11] kstack7 commented on #221
^ woops haha put a space between @ and media to not activate the tag

[2015-05-04 03:46] kstack7 commented on #290
@therufs thanks for the help! I'm nudging a few of these stagnant issues along so we can either wrap 'em up or wipe 'em off the list :)

ooOoo moving, huh? minor detail ;) hope it goes smoothly!!

[2015-05-04 13:52] Cara-Jo commented on #320
I agree with these comments and say :shipit: with these suggestions.

[2015-05-04 16:44] DBNess commented on #221
:+1: to removing the drop shadow! thanks @kstack7. I could take or leave the oversized tabs - I agree with @nahurst that they looked a bit like a bug before, but they look cleaner without the drop shadow so I'd be okay leaving them if @Cara-Jo & others would like to, or I'd be down for a slimmed version like what @minamarkham proposed.

tl:dr; win-win-win but drop the drop shadow?

[2015-05-04 16:47] DBNess commented on #309
@kstack7 "supporters" isn't a convention on non-profit websites quite like "sponsors" is, but it's more accurate, so I'd say :+1: to renaming to Supporters & adding the header we see on the other pages for consistency.

[2015-05-04 16:50] kstack7 commented on #221
Yeah I think what kept them from looking like a bug to me is the fact the text centered when hovered/active. Otherwise I think it'd look way off. I'm down with dropping the shadow and leaving the rest as it is :+1:

[2015-05-04 16:51] DBNess commented on #309
@pshegde could you please reformat this issue to [follow the template here (you can copy & paste the markdown from this link into this issue to edit)](https://github.com/girldevelopit/gdi-new-site/issues/new?body=**Description**%0A*Include%20a%20high%20level%20description%20of%20the%20feature%20or%20error%20here%20including%20steps%20of%20how%20to%20recreate%20if%20applicable.%20Include%20any%20be

[2015-05-04 16:53] DBNess commented on #319
@kstack7 I think the suggestion @pxh1432 was going for is to add a call to action, like "Connect with Us" or maybe "Follow us on Twitter" or "Like us on Facebook" rather than the subtle design we currently have. Currently, if you're looking for twitter or facebook, you can find them, but they don't jump out at you with a call to action. This probably requires design & UX work to be done effectivel

[2015-05-04 16:54] DBNess commented on #319
@pxh1432 could you please reformat this issue to [follow the template here (you can copy & paste the markdown from this link into this issue to edit)](https://github.com/girldevelopit/gdi-new-site/issues/new?body=**Description**%0A*Include%20a%20high%20level%20description%20of%20the%20feature%20or%20error%20here%20including%20steps%20of%20how%20to%20recreate%20if%20applicable.%20Include%20any%20be

[2015-05-04 16:59] kstack7 commented on #309
Yea @DBNess my only concern was "supporters" reading as "support" which could clash with "donate" hah but "supporters" does make the most sense out of these options.

[2015-05-05 00:58] therufs commented on #221
I feel like it looks a little less polished without the shadow, but agree it doesn't go with anything else. Herm.

Either way, another :+1: for tabs :)

[2015-05-06 04:49] #318 closed, assigned to nobody

[2015-05-12 01:08] therufs commented on #290
Well I'm not done moving, but I'm having a go at it anyway :D (too dark to haul boxes right now anyway)

[2015-05-13 04:20] kstack7 commented on #283
nudging this issue

[2015-05-13 04:22] kstack7 commented on #320
Anyone willing to try this out? Just swapping the Vision and Values from the side-by-side layout to a stacked look.

[2015-05-13 04:25] kstack7 commented on #245
Closed with #323

[2015-05-13 04:25] #245 closed

[2015-05-13 04:28] kstack7 commented on #290
yay @therufs! let us know what ya find :)

[2015-05-13 04:29] kstack7 commented on #282
How's the FAQ list coming? I'm wondering if this is something we could put up on the site while the "Get Involved" side is being created? Just so we're offering the helpful info as soon as we can...

[2015-05-13 04:36] GretchenLynd commented on #282
Hi Kristen - I wish I could say I was finished with it, but have had a few
priority projects pop up. It's getting closer to the top of the list, but
won't be for another week or two. I'm working on the switch from Amazon
Payments to WePay this week.
Best,
Gretchen

On Tue, May 12, 2015 at 10:29 PM, Kristen notifications@github.com wrote:

##

_Gretchen Kastetter_
_Web Designer_
_HauntedMesaDesign.

[2015-05-13 04:41] kstack7 commented on #282
@GretchenLynd Ah that's understandable. Sounds good! I hope to keep the discussion going on this anyways so we can perhaps segment this big idea into executable pieces. FAQ alone will definitely have a faster turnaround once we're all set. Thanks! :+1:

[2015-05-13 04:59] kstack7 commented on #309
K so I'm rerouting the config to support the new "supporters" page in place of "sponsors" but I have not gone as deep as to update all the CSS/class names. How do we feel about that?

Also, with with or without the flourish? Any designers want to chime in?

Without flourish --
![without](https://cloud.githubusercontent.com/assets/6612770/7604055/209d48e6-f90b-11e4-91ae-83d26f2daf26.png)

With flou

[2015-05-13 05:10] kstack7 commented on #309
Also, I'm assuming we have the /sponsors mentioned elsewhere so I added a redirect for that cause...

[2015-05-13 05:13] kstack7 commented on #221
Shadows-be-gone: https://girl-develop-it-staging.herokuapp.com/

[2015-05-13 12:50] DBNess commented on #221
\o/!

On Wednesday, May 13, 2015, Kristen notifications@github.com wrote:

##

Vanessa Hurst
Co-Founder | Girl Develop It http://www.girldevelopit.com | @girldevelopit
http://twitter.com/girldevelopit

Girl Develop It http://girldevelopit.com/ teaches women to code in over
45 cities
CodeMontage http://www.codemontage.com/ empowers coders to change the
world
Women coders break new ground, and stere

[2015-05-13 12:59] DBNess commented on #309
Great, Kristen! Good call on the redirect, always good to remain
backwards-compatible. Maybe ship this without CSS class renames, but create
a followup issue for someone to refactor the class names? That way it
happens, but we create an opportunity for someone else to help out and
limit risk by narrowing the scope of changes.

On Wednesday, May 13, 2015, Kristen notifications@github.com wrote:

##

[2015-05-13 15:35] kstack7 commented on #309
@minamarkham this is the one I'm talking about...

@Cara-Jo any preferences here, too? Not sure if we want to keep that flourish, change the headers of Sponsors/Partners, or something else that's creative. Thoughts?

[2015-05-13 15:37] kstack7 commented on #309
@DBNess great idea with the scope creep. I'll keep this one simple for now and open the next CSS swapping issue :)

[2015-05-13 15:43] minamarkham commented on #309
@kstack7 no flourish :)

[2015-05-13 15:47] kstack7 commented on #309
Yeah it did seem out of place...but what if we moved it under the paragraph? meh I'm "take it or leave it" either way haha

[2015-05-13 18:36] minamarkham commented on #233
Okay, 'tis done!
What do we think?

![screen shot 2015-05-13 at 12 51 29 pm](https://cloud.githubusercontent.com/assets/876210/7618059/14c0b9a8-f975-11e4-9e80-b07989385176.png)

![screen shot 2015-05-13 at 12 51 39 pm](https://cloud.githubusercontent.com/assets/876210/7618062/19284cd6-f975-11e4-89f8-b6eaf703844b.png)

[2015-05-13 19:50] kstack7 commented on #233
this is up on staging if anyone wants to see it in action:

https://girl-develop-it-staging.herokuapp.com/chapters/philadelphia
https://girl-develop-it-staging.herokuapp.com/chapters/austin

thanks @minamarkham!

[2015-05-14 14:40] kstack7 commented on #309
Up on staging -- https://girl-develop-it-staging.herokuapp.com/supporters

[2015-05-17 14:09] ghost commented on #309
Hi , I want to join you people and learn more about coding , If you are free and can help me to understand what you guys are doing ?

[2015-05-18 03:43] kstack7 commented on #309
Hello @Trisha1212 and welcome to Girl Develop It's website repo! The site is open to the public and we welcome suggestions, ideas, contributions, etc. If you're curious about us as an organization, why not start by checking us out at https://www.girldevelopit.com/about

[2015-05-18 17:12] ghost commented on #309
I am excited to learn and develop the skills , i checked with few people who are listed in site they asked my location(India) and skills experience and said we dont work outside US . hence i checked your git hub repository and thought to sync with you . we can have online discussions and learn and share from each other . if you don't mind

[2015-05-18 17:22] kstack7 commented on #309
Nope! We keep this repo wide open for these reasons :) Feel free to browse more of our existing issues (https://github.com/girldevelopit/gdi-new-site/issues) and jump in!

[2015-05-20 09:21] ghost commented on #309
Sure . Thank you

[2015-05-20 17:04] shanirivers commented on #320
Hi, I'm willing to work on this.

[2015-05-21 04:10] #233 closed

[2015-05-21 04:10] #309 closed, assigned to nobody

[2015-05-21 04:13] #221 closed

[2015-05-21 04:37] kstack7 opened #328 "Updating CSS to match "supporters" change"
**Description**
_We recently changed the word "sponsors" to "supporters" on the website. The page headers and URL reflect the changes, but the CSS within the code does not. We'd like to now focus on making the sponsors -> supporters changes in the views/CSS files for consistency._

**Ask**
_Change all class and CSS instances from "sponsor"-related names to "supporters" as needed._

**To Do**
- [ ]

[2015-06-01 01:59] westonplatter commented on #257
@kstack7 ok, got a PR in. Happy to help with whatever you need to get it through!

[2015-06-07 20:11] kstack7 commented on #257
Thank you, @westonplatter :) I've pushed the changes on staging and am getting some extra eyes on the site to see that all is well. We appreciate your help!!!

https://girl-develop-it-staging.herokuapp.com/

[2015-06-11 18:50] GretchenLynd commented on #282
@kstack7
Here is the document for the FAQ's for the website. There may be some later additions, but nothing eminent.
https://docs.google.com/document/d/1JmiVWkbYHY5gMbzSJKzaKjY2XDiQzvF468vpzuAi1xQ/edit

[2015-06-12 00:55] kstack7 commented on #282
Woo! Thanks @GretchenLynd  :)

[2015-06-22 21:06] Hyperchema opened #330 "GDI St Louis Link on Chapters page incorrect"
On the main site under "chapters" the St Louis MO link sends you to:
https://www.girldevelopit.com/chapters/st-louis which does not exist.
The working url is:
https://www.girldevelopit.com/chapters/saint-louis

Thanks!

[2015-06-24 02:26] Roenok commented on #330
Yeah, that one is my fault. Lo siento. Fixing it now.

[2015-06-24 02:31] Roenok commented on #330
All better! Your canonical URL is now https://www.girldevelopit.com/chapters/st-louis.

[2015-06-24 02:31] #330 closed, assigned to Roenok

[2015-06-26 19:55] GretchenLynd opened #331 "Change link to Interest Form in Footer"
**Description**
There is a new form to replace the current form linked to the  'Help Bring Girl Develop It to Your Community' line in the footer.

https://docs.google.com/forms/d/18vn6QF64wg8i7euJXSA4HlYWO4AlL9i04o7057-ewuQ/viewform

**Ask**
Please change link to point to the new form.

Thanks, Gretchen

[2015-06-29 05:34] kstack7 commented on #331
How's this, @GretchenLynd : https://girl-develop-it-staging.herokuapp.com/

[2015-06-30 03:34] #331 closed, assigned to nobody

[2015-07-02 05:35] cherimarie commented on #146
I could help with this. Current test coverage is only 48%, which is pretty dismal. Anything special I need to know to start?

[2015-07-02 13:56] DBNess commented on #330
:raised_hands: nice catch & fix, @Hyperchema & @Roenok!! thank you! :clap: :clap:

[2015-07-07 06:57] johnmarinelli opened #336 "header link css too tall"
**Description**
Hovering over a link in the navbar reveals a slightly too-tall black box.

**Ask**
Make the black box fit to the height of the navbar

**To Do**
- Change the css to reflect the appropriate height for navbar links

_Include any images, steps to recreate, notes, emojis, or whatever._
![gdi](https://cloud.githubusercontent.com/assets/3382949/8540446/c7cc39d8-243a-11e5-8f40-e6516548e76

[2015-07-07 12:29] kstack7 commented on #336
Hello @johnmarinelli! We greatly appreciate your contributions and we that you used our issue template as well! :+1:

We actually had a discussion over this on a different issue (https://github.com/girldevelopit/gdi-new-site/issues/221) and left the links as you see them now due to the intended design.

Please feel free to tackle any other bugs, fixes, or throw in some suggestions! I will close th

[2015-07-07 12:29] #336 closed, assigned to nobody

[2015-07-07 16:29] johnmarinelli commented on #336
whoops, my bad!  thanks.

[2015-07-08 19:18] kstack7 commented on #320
hey @johnmarinelli can you post your screenshot here? We typically discuss these changes as a group and then create the pull requests that reflect the decision. We'd appreciate it!

[2015-07-09 18:30] johnmarinelli commented on #320
no problem:
![gdi](https://cloud.githubusercontent.com/assets/3382949/8576633/4fbdf700-2558-11e5-8040-3b6fd7e03f9d.png)

[2015-07-21 02:07] kstack7 commented on #320
Ello folks!

I just pushed @johnmarinelli's changes to staging so you can see them here. I will push them to production this week unless I hear any reasons not to. Thanks again, @johnmarinelli!

https://girl-develop-it-staging.herokuapp.com/about

[2015-07-23 20:55] kstack7 opened #339 "Accordion feature fails accessibility tests"
**Description**
_The accordion list of chapters (small screen/mobile view of /chapters) gets buggy for screen readers. The CSS ends up hiding or overlapping the chapters instead of tabbing through them in a linear fashion. See screenshot for example._

**Ask**
_Implement a new list design that is easy-to-read on mobile and accessible for screen readers._

**To Do**
- [x] Remove accordion-based cod

[2015-07-23 20:55] kstack7 commented on #339
I'm putting this up while working on it btw!

[2015-07-23 20:56] kstack7 commented on #339
I currently have the code swapped out and looks like this when tabbing through:

![screen shot 2015-07-23 at 4 56 15 pm](https://cloud.githubusercontent.com/assets/6612770/8862041/ca8d15e2-315b-11e5-91d4-056174c5a8dd.png)

[2015-07-23 20:57] kstack7 commented on #339
@Roenok what types of things should I look for with this new code in place?

[2015-07-23 21:04] Roenok commented on #339
@kstack Set your mouse to the side/disable the touchpad on your laptop. Can you still navigate the list using tab (move forward) shift+tab (move back) and enter and/or spacebar (trigger)? If you can do that, there is a good chance it will work with assistive technology too.

[2015-07-23 21:07] kstack7 commented on #339
@Roenok  Yes'm! 'Cept I notice space bar doesn't trigger the same way as 'enter' does. Like I can only go to the page I want if I hit enter on the links; space bar sends me to the bottom of the page. Is this right?

[2015-07-23 21:07] kstack7 commented on #339
I can pop this on staging if it helps to see...

[2015-07-23 21:09] Roenok commented on #339
@kstack7 That's expected behavior, yes. Space is used as a trigger on places where enter would cause problems, like to select a checkbox on forms (because enter might accidentally send)

Pop it on staging and I'll run a full test with a couple of screen readers.

[2015-07-23 21:54] kstack7 commented on #339
Okay -- here it is on staging...hack away

https://girl-develop-it-staging.herokuapp.com/chapters

[2015-07-26 15:06] Roenok commented on #339
@kstack7 On staging I am seeing two nested buttons for each h3, which causes weird usability issues. Is the JS malfunctioning?
![double-button](https://cloud.githubusercontent.com/assets/925963/8894489/54b2d28a-3386-11e5-864c-e0ff59cb026a.PNG)

[2015-07-27 01:41] kstack7 commented on #339
Hah! Good point, @Roenok ...I was noticing some duplications in the subsequent div but not the buttons...let me see what's up...thanks!

[2015-07-27 02:25] kstack7 commented on #339
Sooo main.js is getting loaded twice! fun fact, huh!...I'll see which library is adding it in aside from the rails layout...we never noticed this before because the old accordion code did not wrap/alter the HTML at all like this new stuff does. 'Least we can see why!

[2015-07-27 03:33] kstack7 commented on #339
Ugh. Y'know. I think this is due to weird wall I hit while deploying staging from a cafe the other day. I noticed it seemed hung up and tried to redeploy all while on this weak connection.

I just redeployed once more and everything looks happy now haha sooooo try it now?

[2015-07-27 19:43] Roenok commented on #339
@kstack7 Still seeing double, alas

[2015-07-27 19:46] kstack7 commented on #339
Gah! It was definitely gone after the last deploy..okay, I may need some extra set of eyes on this since it's being touchy.

[2015-07-29 04:30] kstack7 commented on #339
Okay taking another look. I think this has something to do with the different environment settings/behaviors since this is not happening on production. It's the precompiled js files mixing with the ones loaded into the layout. Anyone seeing the obvious here that I'm missing?

[2015-07-29 04:38] kstack7 commented on #339
Mmm I take that back because the rails environment is still 'production' for staging...hmmmm...

[2015-07-29 05:23] kstack7 commented on #339
K so...taking main.js out of the application.html.erb eliminated the duplications since it is successfully compiled/minified in the application.js file...

Can anyone shed light as to why we want to call these compiled assets into the layout? Seems like this has been going on, but we just never noticed the double load since we weren't manipulating the DOM like these dropdown do.

Commented out mai

[2015-07-29 13:26] Roenok commented on #339
@kstack7 The minified file sounds like a good idea to me. Deploy to staging so I can test?

[2015-07-30 01:28] kstack7 commented on #339
Woo! Way happier:

https://girl-develop-it-staging.herokuapp.com/chapters

[2015-07-30 13:45] Roenok commented on #339
Works great with keyboard-only. Thanks!

[2015-07-30 14:02] Roenok opened #343 "SUGGESTION - Include expanded/collapsed icon on accordians"
**Description**
On the mobile view of the [chapters page](https://girl-develop-it-staging.herokuapp.com/chapters), we have a accordian expand/collapse for each state. In #339, we added some nifty code that alerts screen reader users that those sections expand and collapse. However, there is no corresponding visual cue.

**Ask**
Add an expanded/collapsed icon to those headings to make it clear they

[2015-07-30 14:02] Roenok commented on #343
@snkahn UX advice welcome. Is there a clearer pattern for this?

[2015-07-30 14:19] Roenok opened #344 "Add text alternate to social media icons (accessibility fix)"
**Description**
The Facebook and Twitter icons in the header and footer of the site are empty links with a Font Awesome icon. Because they have no text, they are invisible to screen reader users. When you tab over them, the reader just says "link"

**Ask**
We should add some hidden text to these links for screen reader users. It will also be a fallback if our CSS fails to load for some reason. It'

[2015-07-30 14:53] Roenok opened #345 "Make chapter-level sponsors more visible (design)"
**Description**
Currently, chapter-level sponsor logos are displayed in greyscale at 35% opacity, returning to normal on hover. This is not very visible. You can see this in the [RDU Chapter](https://www.girldevelopit.com/chapters/raleigh-durham)
![image](https://cloud.githubusercontent.com/assets/925963/8986130/b7cf65ac-36a8-11e5-809a-83368f6481df.png)

**Ask**
Change the design to make the logos

[2015-07-30 19:03] AishaBlake commented on #344
Submitted a pull request! Instead of creating a class, I added `aria-label` attributes to each icon. This is my first time contributing. Is there anything else I need to include here?

[2015-07-30 19:46] Roenok commented on #344
Thanks! An aria-label attribute is also a good fallback. We'll review this during our next set of commits.

As far as submitting, it is helpful to link your pull request to the issue (i.e., say fixes #issue) to help us know what to close. I added that as a comment to the pull request.

[2015-07-30 19:56] AishaBlake commented on #344
Thank you!! I'll be sure to do that next time!

[2015-08-03 18:48] Roenok opened #347 "Chapter page fails if a state is null"
**Description**
If for some reason the db state (as in state of the country) is null, the entire Chapters page fails, along with the map on the homepage.

Specifically, the error is on this line: https://github.com/girldevelopit/gdi-new-site/blob/production/app/controllers/chapters_controller.rb#L7

If 'l.state' returns 'nil' the page fails, because there is no appropriate catch

**Ask**
Add a try

[2015-08-03 18:54] therufs commented on #347
Since the chapters page depends on each chapter belonging to a state, my first impression is that it would be better to do a db-side check that will prevent stateless chapters from being created (also/instead). Thoughts?

[2015-08-03 18:57] jbielick commented on #347
@therufs that'd be a good validation. Also, the possibility of the geocoding failing is nonzero, but you may want the chapter to still save. In that case, the query could be updated to only return chapters with `state is not null` and any other info needed for the view.

[2015-08-03 18:57] Roenok commented on #347
Theoretically it should not be possible, but I just demonstrated that it can happen :)

When you create a chapter, there is a mandatory field for an address. There is then a Geocoding gem that extracts the state from there. It would probably make sense to return a failure message when trying to save a new chapter if the geocoding fails.

I'm not sure how possible it is with our setup, though.

[2015-08-03 19:09] Roenok commented on #347
By the way, thanks to @jbielick for diagnosing the issue so quickly!

[2015-08-04 03:45] kstack7 commented on #347
Let's try tinkering with these required fields before we go too far into the back-end logic. I was able to grab a state even with the letter "p" as a location so I'm reluctant to blame the geocode library just yet. I can apply some other ideas if I can see this fail after the push: https://github.com/girldevelopit/gdi-new-site/pull/348

[2015-08-04 04:06] kstack7 commented on #347
Interesting! Okay, so there must be a difference between dev/prod environments with this behavior because now it's not working with bad entries on staging. Totally seeing it now. Digging resumes :)

[2015-08-04 04:16] jbielick commented on #347
The geocoding can fail regardless of the `geo` input. API outages, rate limits, and timeouts are possible and in such an event, the geocoded fields would not be written during a failure (as likely seen in production). Validating the `geo` field wouldn't have fixed this original issue, because it had a `geo` value, but no latitude, longitude, state, etc. values. However, the actual error from the l

[2015-08-04 04:27] kstack7 commented on #347
Yeah, I see the author suggests a 15 second timeout period while we have ours at 5; that's one quick fix re: outages/rate limits. But it's more that these random tests I'm doing don't throw any errors and I've repeated them over and over with the same "successful save" result. Example: "ew, 34gvaz" being a location. It takes it every time but just bombs out the proper fields since that's a crazy e

[2015-08-04 05:53] kstack7 commented on #347
Mk so I have a nice before_save() checking for "state" now...seems to be doing the trick. I'll put a pull request in for added feedback or changes, but definitely stops the weird location attempts.

Added is_state_null method to the admin/chapter model:
![screen shot 2015-08-04 at 1 51 19 am](https://cloud.githubusercontent.com/assets/6612770/9054103/85a256b0-3a4b-11e5-914f-f4cfdfbeaadb.png)

Resu

[2015-08-05 15:08] corinnepw opened #350 "Add logos to Supporters page"
**Add attached logos to Supporters page**

Sponsors:
_Add sponsor logo & link_
![benefit logo](https://cloud.githubusercontent.com/assets/4427638/9089254/3741a1d4-3b62-11e5-9907-ca7ba2c0407a.png)
link to: http://www.boldisbeautiful.com/us

_Add sponsor logo & link_
![qualcommlogo](https://cloud.githubusercontent.com/assets/4427638/9087498/0ff8255c-3b59-11e5-99e4-24791cb15750.png)
link to: http://w

[2015-08-05 22:50] kstack7 commented on #347
Currently up on staging and seemingly good. Feel free to try and break it!

https://girl-develop-it-staging.herokuapp.com/admin/chapters

<img width="728" alt="screen shot 2015-08-05 at 6 48 58 pm" src="https://cloud.githubusercontent.com/assets/6612770/9099852/c1e713ba-3ba2-11e5-9085-c6a739263d22.png">

[2015-08-10 16:39] Roenok opened #351 "Alphabetize chapter dropdown in admin interface"
**Description**
When adding a new bio or sponsor in the admin interface, users must select a chapter from a long dropdown list. This list in unordered. With 50+ chapters to choose from, it's a serious usability issue.

**Ask**
Alphabetize the chapter list, probably by adding an ORDER BY to the relevant SQL query.

**To Do**
- [x] Alphabetize list
- [ ] Test

**Additional Info**
Where is my chapter

[2015-08-10 17:01] snkahn opened #352 "Give chapter pages room to grow"
Description

As our chapters grow and have more content, the teachers, leadership teams, and volunteer sections are getting pushed pretty far down the page. I propose adding a subnav to highlight to visitors what they'll find if they keep scrolling, and also so our wonderful teachers and volunteers are not exiled to the bottom of the page!

To Do
- [ ] Add subnavigation to the page
- [ ] Organize

[2015-08-10 17:06] Roenok commented on #208
We currently have icons for everything (thanks @Cara-Jo), so closing this old issue.

[2015-08-10 17:06] #208 closed

[2015-08-10 17:16] Roenok commented on #352
Awesome @snkahn! Would you kindly format this to our standard template: https://github.com/girldevelopit/gdi-new-site/issues/83

Also, how would the icons stack for mobile view?

[2015-08-10 18:33] snkahn commented on #352
most certainly, madame!

[2015-08-12 04:55] #347 closed, assigned to nobody

[2015-08-12 04:57] kstack7 commented on #339
Fixed with #353

[2015-08-12 04:57] #339 closed, assigned to nobody

[2015-08-12 04:57] kstack7 commented on #320
Fixed with #353

[2015-08-12 04:57] #320 closed, assigned to nobody

[2015-08-12 05:05] kstack7 commented on #352
Great suggestions, @snkahn :) I like where you're going with it!

[2015-08-13 03:35] kstack7 commented on #350
@corinnepw how's this?

![screen shot 2015-08-12 at 11 35 20 pm](https://cloud.githubusercontent.com/assets/6612770/9242121/d4f4591a-414a-11e5-87be-e26ad4db6644.png)

[2015-08-13 03:57] kstack7 commented on #351
This better, @Roenok? :)

Thankfully it was a quick fix --

![screen shot 2015-08-12 at 11 46 06 pm](https://cloud.githubusercontent.com/assets/6612770/9242253/852e6414-414c-11e5-96f5-9076109ab0e0.png)

[2015-08-13 14:18] Roenok commented on #351
It's beautiful! I know where my city is.

[2015-08-13 14:19] kstack7 commented on #351
hah I'm glad you brought this one up again because it was subtly bugging me each time I had to use it. Good idea! I'll get it pushed with a few other items soon.

[2015-08-13 17:02] Roenok commented on #352
Proposed icon for teachers (w/o text)
![2015-08-12_10-54-44](https://cloud.githubusercontent.com/assets/925963/9256079/755d2c4a-41bb-11e5-8a4b-c20136c8c69a.jpg)

[2015-08-14 11:57] #350 closed, assigned to nobody

[2015-08-18 15:40] Cara-Jo opened #358 "Update Cojo's title on /about"
Hi ladies!

On this page: https://www.girldevelopit.com/about I need my title to be updated to "Senior Designer, DataStax"

:sparkling_heart:

[2015-08-28 16:24] EliseWei opened #360 "Add link to curriculum site on /materials"
To allow access to the full list of non-core offerings.

[2015-08-28 16:45] corinnepw commented on #360
Here's the link. Should be added to the bottom of the page.
http://girldevelopit.github.io/gdi-curriculum-site/

[2015-08-28 21:07] copasetickid commented on #360
@corinnepw Are you staying that this link should go in the footer instead so it's site wide?

[2015-08-29 15:47] corinnepw commented on #360
Sorry for being unclear! Not in the footer, but below the existing materials.

[2015-08-31 22:59] #344 closed, assigned to nobody

[2015-08-31 23:00] kstack7 commented on #310
An easy fix is to resize the plot circles.

10px

![screen shot 2015-08-31 at 6 51 36 pm](https://cloud.githubusercontent.com/assets/6612770/9592585/7e1e8b66-5012-11e5-83a2-d7469687fa8e.png)

8px

![screen shot 2015-08-31 at 6 51 16 pm](https://cloud.githubusercontent.com/assets/6612770/9592587/83a471fe-5012-11e5-9887-8ee64f28a2f3.png)

[2015-09-10 00:24] scroniser commented on #360
Hey - I can take this one :)

[2015-09-10 00:35] scroniser commented on #360
Just to further clarify, you're looking for something like this? (obv with better text and a correct image)![screen shot 2015-09-09 at 7 34 06 pm](https://cloud.githubusercontent.com/assets/9728572/9777420/cb9f5866-5729-11e5-9ff3-aefb7cedb1ee.png)

[2015-09-10 02:30] Roenok commented on #360
No, it shouldn't have the same prominence as the completed classes. (Those
are added via the DB anyway.) Instead, it should just be a plain vanilla
text link below the block of class's.
On Wed, Sep 9, 2015 at 8:35 PM Santina notifications@github.com wrote:

[2015-09-15 13:53] Roenok commented on #351
@kstack7 This seems to have reverted on production. Any thoughts?
![image](https://cloud.githubusercontent.com/assets/925963/9878210/8915d6fe-5b8f-11e5-9638-90f0cb1389a1.png)

[2015-09-15 14:09] kstack7 commented on #351
3, 2, 1 cache off!!

Can anyone else recreate this? Maybe try a new browser or refresh?

![dropdown](https://cloud.githubusercontent.com/assets/6612770/9878660/d12a3de8-5b91-11e5-8620-3a047ad83a68.png)

[2015-09-15 14:35] Roenok commented on #351
@kstack7 Seeing it both in Chrome Incognito and Firefox, which is weird. It's all database-driven, right? Browser shouldn't affect it.

To clarify, the filters dialog is still in alphabetical order. However, when I go to add a new bio/sponsor/admin user, that dropdown is unordered

[2015-09-15 14:40] kstack7 commented on #351
OH. Geez, yes. That's a whole different scenario and clearly one that I missed! I thought you were seeing that on the filter, which resulted in my "turn it on and off" troubleshooting mindset :) I see it now. Thanks, @Roenok

[2015-09-17 05:28] kstack7 commented on #351
Going to merge this to staging since only a few of us actually see this dropdown. Most admin users can only edit against their own chapter so the dropdown isn't there at all.

[2015-09-17 05:55] #358 closed, assigned to nobody

[2015-09-17 05:56] kstack7 commented on #351
https://girl-develop-it-staging.herokuapp.com/admin

[2015-09-21 14:04] scroniser commented on #360
Hey all! I wasn't sure if the commit triggered a message, so I wanted to let you know that I submitted a fix. If it's not what you're looking for, I can make a change :)

[2015-09-22 05:27] kstack7 commented on #351
Putting this puppy to bed!

https://github.com/girldevelopit/gdi-new-site/pull/365

Go break it now, @Roenok ;)

[2015-09-22 05:35] #351 closed, assigned to nobody

[2015-09-24 03:35] kstack7 commented on #360
Thanks, @scroniser! I'm adding a screenshot of your work since this is the better discussion area:
![screen shot 2015-09-22 at 1 18 19 am](https://cloud.githubusercontent.com/assets/6612770/10064874/99fd19ec-624b-11e5-8c30-89d65b4ae1a2.png)

Added "Non-core offerings" above the footer.

Any additional feedback from other members?

[2015-09-24 03:45] EliseWei commented on #360
Not 100% sure what Corinne had envisioned, but it looks good to me.

Sent from my iPhone

[2015-09-24 12:44] corinnepw commented on #360
Awesome — thanks all! Let's make the link title (since it contains _all_ curriculum) "All Course Material"

[2015-09-24 13:18] saracope commented on #360
Thoughts on calling it "Additional Offerings" or "Additional Materials"?  Non-core raises a bunch of questions for me like:
What is core? How is core decided? Does non-core mean I can't use these materials? How does something go from non-core to core.

[2015-09-24 13:25] corinnepw commented on #360
@saracope Additional Materials sounds good!

[2015-10-01 03:36] corinnepw commented on #360
@scroniser @kstack7 it's great! Let's just call it "Additional Materials" vs "Non-core offerings"

[2015-10-01 04:24] kstack7 commented on #360
okay... @scroniser, want to do one more pull request with that text change? I notice some stacking commits, too...maybe a new request to keep things tidy?

Thanks for all the help!

[2015-10-04 00:15] kstack7 commented on #360
I used @scroniser's changes to create a new PR (#367) with "Additional Materials" and added one lil change from issue #310 as well. Thanks for your contribution, @scroniser :)