[2015-10-04 03:17] scroniser commented on #360
Sorry - I've been mired in code for the last few weeks, so I wasn't able to get to this sooner. Next time!

[2015-10-04 04:03] kstack7 commented on #360
No worries, @scroniser, we appreciate the help!

[2015-10-05 04:45] #360 closed, assigned to nobody

[2015-10-18 21:34] kstack7 opened #369 "Add the FAQ page"
**Description**
_The GDI website needs a 'Frequently Asked Questions' page and Gretchen has a number of Q/As to use. Let's get them on the site!_

**Ask**
_Use Gretchen's FAQ doc (below) to create the FAQ page on the website._

**To Do**
- [x] Review Gretchen's FAQ doc here: https://docs.google.com/document/d/1JmiVWkbYHY5gMbzSJKzaKjY2XDiQzvF468vpzuAi1xQ/edit
- [x] Create new FAQ page on the websit

[2015-10-18 21:36] kstack7 commented on #369
Initial attempt. Not sure if we like the accordion here ( @Roenok it's your suggested/accessible version ) or to keep them as open paragraphs like the Code of Conduct? Thoughts?

![screen shot 2015-10-18 at 5 29 12 pm](https://cloud.githubusercontent.com/assets/6612770/10566795/a18dcd1a-75be-11e5-957b-6fd3dd15a55c.png)

[2015-10-18 23:21] Roenok commented on #369
I like the idea of the accordions; makes it easier to scan the questions quickly. I do think we should add some open/closed icons to make the accordion effect clearer (see #343)

[2015-10-18 23:46] kstack7 commented on #369
Ah yes I recall the arrow suggestions. Any more design/UX'ers want to this?

[2015-10-19 04:06] kstack7 commented on #174
eh hemmmm

![1018152354a](https://cloud.githubusercontent.com/assets/6612770/10569441/0af4ffdc-75f4-11e5-9382-5f1a17c74097.jpg)

So! I'll be cleaning up and double-checking the changes I made to get the site up on a Windows platform. The major changes consist of adding platform checks on specific gems e.g. 'unicorn' so that it will not be included in Windows bundles alongside some other Windows-sp

[2015-10-19 21:28] dianpan commented on #146
Hi - what is the status of this issue?  I would be happy to implement Coveralls and write controller/ feature tests, it doesn't look like we have either at the moment.

[2015-10-19 21:42] Roenok commented on #146
We'd love some unit tests if you have some time to jump in. We don't currently have any overall testing plan; we've just been doing feature-based testing on individual release.

[2015-10-19 23:56] imuchnik commented on #146
I think coverall is a great idea. It would provide a nice feedback and motivation. Be sure to add the badge to the README

[2015-10-20 00:13] Roenok commented on #343
On reflection, arrows on the left side might be cleaner, especially on the FAQ page in #369

[2015-10-20 00:22] Roenok opened #370 "Uncapitalize names on the About page"
**Description**
On the about page (https://www.girldevelopit.com/about), the names of our staff and board are in ALL CAPS. This makes them hard to read (weird kerning) and hard to copy-paste into emails.

**Ask**
Switch to title case for the names

**To Do**
- [ ] Create a h3.nocaps style
- [ ] Apply to board names
- [ ] Celebrate!

[2015-10-20 04:53] #257 closed

[2015-10-20 04:55] kstack7 commented on #174
Pending on latest build of http://girl-develop-it-staging.herokuapp.com/
- updated Ruby to 2.1.7 and added logic for windows-happy gems

[2015-10-20 04:56] kstack7 commented on #157
Pending latest build changes to support Windows. Please checkout http://girl-develop-it-staging.herokuapp.com/ and #371 for details & keep an eye out for bugs!

[2015-10-20 04:57] kstack7 commented on #130
Update: Windows platform is now GDI-friendly :) and ImageMagick is still a mandatory install. Will be updating to both the existing setup process and the pending Windows setup process. Thanks for the insight!

[2015-10-21 20:30] rebeccasigo commented on #369
What about keeping the questions in a column on the left (easy to scan) and then clicking on each will scroll you to the answer? Ex: https://mixpanel.com/help/questions/ (though I'd suggest showing all Qs, not just topics on LH column like Mixpanel's help page does)

[2015-10-21 21:33] dianpan commented on #146
Great, I just added Coveralls and have a pull request open.  This is my first open source contribution, so I hope I did everything correctly. Will start writing some tests later this week.

[2015-10-24 18:45] scroniser commented on #370
sorry, just forgot to mention this issue in my recent pull request.

[2015-10-28 06:07] kstack7 commented on #369
I like that idea, but am a bit concerned that it's a bit much for a smaller number of questions. That design seems to work well because there are far more options to pick. Maybe a combination of interactions that keeps things on the same page?

[2015-10-28 06:08] kstack7 commented on #174
All set in latest merge.

[2015-10-28 06:08] #174 closed

[2015-11-03 05:51] #370 closed, assigned to nobody

[2015-11-07 22:54] snkahn commented on #343
Left is usually used if the content length is variable and potentially lengthy, so that would be appropriate here. I also think we should include a selected state with color, that will help (not literally this color, that would be terrible):

<img width="243" alt="screen shot 2015-11-07 at 5 54 10 pm" src="https://cloud.githubusercontent.com/assets/937330/11017783/a2b89020-8578-11e5-9f7d-0af647289

[2015-11-07 23:18] snkahn commented on #343
not sure how I feel about this color, but do think some color will help clarify:
<img width="336" alt="screen shot 2015-11-07 at 6 18 09 pm" src="https://cloud.githubusercontent.com/assets/937330/11017860/fc91ba4c-857b-11e5-9285-2edabeaae5f8.png">

[2015-11-10 03:44] ghaida opened #381 "Create a living styleguide"
**Description**
Let's create a living styleguide for the GDI site. This will keep styles consistent in the long-run and will keep our code lean by eliminating redundancy.

**To Do**
- [ ] Refactor Sass into component-based partials according to atomic design and OOCSS guidelines #382
- [ ] Implement KSS
- [ ] Publish styleguide as a module on NPM as a module. Open source FTW.

**Additional Info**

[2015-11-10 03:46] ghaida opened #382 "Refactor Sass"
**Description**
Refactor Sass into components instead of pages to reduce redundancy.

**To Do**
- [ ] Consolidate similar rules/classes into a single file for each component
- [ ] Remove page-specific styles

[2015-11-10 03:48] kstack7 commented on #381
Thanks for using our template, @ghaida, and breaking it down into further sub-tasks :) :+1:

[2015-11-10 03:51] kstack7 commented on #343
Thanks for the input, @snkahn! I see how the color background can help...maybe a lighter shade of gray? Was trying to pick out some other accent colors from the site maybe but hard to align with the pink. Hmmm.

[2015-11-10 16:19] ghaida commented on #343
Icons on the left side cause a bit of a zig-zag effect that makes it difficult to scan down the list.
![pasted_image_11_10_15__11_17_am](https://cloud.githubusercontent.com/assets/342672/11067914/e1cf1b28-879c-11e5-9860-9a7dfd0ea8bc.png)

[2015-11-10 16:22] ghaida commented on #369
How about keeping the list of questions up top with anchor links to the answers further down the page. Each answer could have a "Back to top" shortcut to get back to the questions.

[2015-11-10 16:29] ghaida commented on #343
Though there is a way around the above problem by adding a fixed margin to all list items.

[2015-11-10 17:01] ghaida opened #384 "Reduce vertical height of mobile nav"
**Description**
Current mobile navigation takes up too much space which forces users to scroll to get to content.

**Ask**
Let's adopt a more content-first approach and find ways to reduce the vertical height of the nav or implement an off-canvas navigation.

**To Do**
- [ ] Design a few options for nav improvements

**Additional Info**
<img width="318" alt="screen shot 2015-11-10 at 11 58 25 am"

[2015-11-10 18:40] ghaida commented on #310
:eyes: Does this map still exist? If not, let's close this issue :grin:

[2015-11-10 18:42] kstack7 commented on #310
Ah @ghaida it's the front-page map. I changed the marker radius a while back, but must not have closed this OR thought we'd have more commentary. I'm down with closing if we are okay with how it is.

[2015-11-10 18:43] kstack7 commented on #310
The problem is we're seeing more grouped chapters and the markers get swamped. Not sure if the smaller size fixed it.

[2015-11-10 19:45] ghaida commented on #310
OH, I see. LGTM as long as we're not expecting people to use this as a primary means to get to the chapter pages :thumbsup:

[2015-11-16 23:49] kexline4710 commented on #290
I'd be happy to jump on this issue. I did a little bit of tinkering and there are a few options that we have:

1.) **Create a helper that extracts the subpath from a chapter link and tack it onto the intended path.**

[The helper may look something like this](https://github.com/girldevelopit/gdi-new-site/compare/production...kexline4710:bugfix/social_links) and the view would use the helper like t

[2015-12-09 17:43] corinnepw opened #392 "Remove two chapters from site"
**Description**
_Please remove all instances of Bucks County and Tri-Cities from website, including homepage map and individual chapter pages_

**To Do**
- [x] Remove Bucks County (PA)
- [x] Remove Tri-Cities (WA)

[2015-12-09 20:38] Roenok commented on #392
Done! Thanks to the new dynamic city count in #389 the about page also updated. Thanks @kstack7!

[2015-12-09 20:38] #392 closed, assigned to Roenok

[2015-12-09 20:46] Roenok commented on #384
@snkahn Any design/UX thoughts on this one? I'm hesitant to introduce an off-canvas navigation because it's hard to make them accessible.

[2016-01-06 13:31] corinnepw commented on #62
@alohaas reviving this! How well do you think the second version of the slider (minus "which chapter" field) would go at the bottom of the updates made in #397?

[2016-01-06 13:37] corinnepw commented on #197
Love @gizmodesign's suggestions. Thank you! Including them in some new language for the revamped Donate page. Any extra eyes/editors much appreciated! cc @mmcelaney @brendajin @DBNess!

@alohaas Would also love any suggestions as to placement of this new text around the updates made in #397!

Our Impact
Girl Develop It empowers more than 1,000 students per month with coding skills. Our community-c

[2016-01-06 13:56] mmcelaney commented on #197
Happy to take a look at this, I should have some time today. :)

_Maureen McElaney_
_Co-Leader_
_Girl Develop It Burlington_
_Email: *burlington@girldevelopit.com
*Website:_ http://www.girldevelopit.com/
http://www.girldevelopit.com/chapters/burlington

On Wed, Jan 6, 2016 at 8:37 AM, Corinne notifications@github.com wrote:

[2016-01-06 14:04] corinnepw commented on #197
D'oh just realized I tagged everyone but @kstack7 :smile: :wave:

[2016-01-06 14:16] kstack7 commented on #197
haha no biggie! I'm already on this thread so it's all good :wave:

[2016-01-06 18:23] alohaas commented on #197
@corinnepw I'll have some feedback / progress tomorrow evening on this!

[2016-01-06 20:18] kexline4710 opened #398 "Create a link crawler for site"
**Description**
We do not have a link checker in place at this time. Some tools that _may_ be useful:
- https://github.com/ChrisWren/grunt-link-checker
- https://github.com/endymion/link-checker
- https://github.com/oscardelben/rawler

**Ask**
Create a script that can be run on the command line to crawl the links in the application and ensure they are not broken.

_Extra Credit:_ Configure this sc

[2016-01-06 20:22] Roenok commented on #398
Most of our broken links come from user-generated content, not site deploys, so it might make sense to schedule regular checks rather than just running at build.

[2016-01-08 15:29] kstack7 commented on #197
Hey @alohaas any updates? We don't want to overlap any occurring work but we also need to get this puppy shipped soon so let us know where you're at :) thanks!

[2016-01-10 23:36] alohaas commented on #197
@kstack7 pr coming in a few

[2016-01-10 23:37] kstack7 commented on #197
woo! thanks, @alohaas :) let me know if I can help with anything! :+1:

[2016-01-10 23:39] alohaas commented on #197
will do :grin:

[2016-01-11 02:40] corinnepw opened #400 "Update About Page bio & headshot"
**Description**
_Update Corinne's bio and headshot on About_

**To Do**
- [ ] Add photo:
  ![corinne warnshuis headshot](https://cloud.githubusercontent.com/assets/4427638/12225892/d5f37388-b7e1-11e5-870b-504ceba80890.jpg)
- [ ] Update bio:
  Corinne is a passionate advocate for community-centered movements and their power to change the world. Prior to becoming the first Executive Director of Girl

[2016-01-11 14:26] alohaas commented on #400
@corinnepw see PR #399

[2016-01-11 14:29] alohaas commented on #400
![about_updates](https://cloud.githubusercontent.com/assets/4480279/12236085/c9c186e0-b845-11e5-9f10-6586bd9fad49.png)

[2016-01-11 14:48] corinnepw commented on #400
Awesome! This looks great. I think I sent a funky size in. Just checked Vanessa's photo and matched the size to 510 x 510 (and I think it appears 219 x 219. Thank you @alohaas
![corinne warnshuis headshot](https://cloud.githubusercontent.com/assets/4427638/12236535/6a87f68e-b848-11e5-91d7-4af5b4781f35.jpg)

[2016-01-11 14:56] kstack7 commented on #400
Yeah was going to add to make sure the pics are the same size/height so that the paragraph tops align. Nice!

[2016-01-11 14:57] alohaas commented on #400
Whoops. Didn't even notice (bein' sloppy :crocodile:). @kstack7 @corinnnepw I'll fix that asap.

[2016-01-11 19:08] Roenok opened #401 "ACCESSIBILITY - Add label to mailing list subscribe feature in footer"
**Description**
In the footer of the site, we have a tiny form that lets users subscribe to our mailing list. The text input for email address doesn't have a "programmatically determined name," a fancy name for a label. Because of this, users using assistive technology like a screen reader or voice-control software might not be able to select the box or join the mailing list.

**Ask**
Generally, f

[2016-01-11 19:44] Roenok opened #402 "Site is returning "Soft 404" errors for missing pages"
**Description**
When I request a page that does not exist, like http://www.girldevelopit.com/brokenlinkcheck, I see a 404 page. However, the server is actually returning the status code HTTP/1.1 200 OK.

I discovered this issue during an automated check, and confirmed using [Postman](https://www.getpostman.com/). You can also see it using the network tab in your in-browser development tools.

This

[2016-01-11 19:46] Roenok commented on #398
Linking this issue to #402, as we'll need to fix it to get maximum value from any link-checking tool.

[2016-01-11 21:58] Roenok opened #403 "Run broken link scan of site"
**Description**
Tracking ticket for Q1 broken link scan

**Ask**
Sylvia will run an automated scan of the website to detect broken links, spelling issues, and accessibility issues

**To Do**
- [x] Run automated scan using SortSite
- [x] Check and correct any spelling errors
- [x] Check for and correct or report accessibility issues
- [x] Fix broken links caused by formatting or spelling issues
- [

[2016-01-11 21:59] Roenok commented on #403
Reported #401 and #402 based on this scan

[2016-01-11 22:07] #403 closed, assigned to Roenok

[2016-01-11 23:11] alohaas commented on #400
@corinnepw @kstack7 should be resolved.
![about_updates](https://cloud.githubusercontent.com/assets/4480279/12249597/b28a5ae4-b88e-11e5-810c-6acf453ddddb.png)

[2016-01-12 00:40] #400 closed, assigned to alohaas

[2016-01-12 05:37] kstack7 commented on #197
Aaaaand closing! Nice job, ladies :+1:

[2016-01-12 05:37] #197 closed

[2016-01-12 05:38] kstack7 commented on #310
Closing this unless we get new ideas aside from the smaller dots, which are in place now.

[2016-01-12 05:38] #310 closed, assigned to nobody

[2016-01-12 05:38] kstack7 commented on #305
Duplicate.

[2016-01-12 05:38] #305 closed, assigned to nobody

[2016-01-13 00:36] paulhenrich commented on #290
Just a heads-up about a counter-intuitive method in rails that trips a lot of folks up. `#html_safe`, somewhat confusingly, doesn't make anything safe (in fact, it can be dangerous). It tells the view that you are vouching for the content that it _is_ safe (that is, already escaped or not from a user).

If you want more details, this is a pretty good write-up: [Stay safe while using html_safe in r

[2016-01-13 15:21] kexline4710 commented on #290
Ah! Thanks for the feedback. I'll take a look.

I'm comfortable with the URI library, but I think the question I have in mind is where in the experience do we want to "validate" the link. I now think that I was being too fancy in trying to ensure that the link in the db matches the social link, when I think that's unnecessary. If an icon is linked to the wrong link, then the record should be fixed

[2016-01-14 20:13] paulhenrich commented on #290
No problem. That sounds like a good approach. You could fix links with a data migration or rake task that runs a heuristic like you've described against the existing data. One option would be to change things around so that you just require and use the full URL (which you could validate with a custom `validate :linked_in_link` method in the model)

[2016-01-19 03:38] kstack7 commented on #369
Okay! I've uploaded the initial layout for the FAQ page with the original Qs from Gretchen. Let's get some eyes on it and discus some improvements. Feel free to pull down/add to it!

https://girl-develop-it-staging.herokuapp.com/faq

[2016-01-19 16:34] corinnepw opened #410 "Add Sticker Mule Logo to Supporters page"
**Add attached logo to Supporters page**

Under Sponsors:
_Add sponsor logo & link_
![sticker-mule-inline-light](https://cloud.githubusercontent.com/assets/4427638/12424950/7d87e3da-bea0-11e5-9ba4-24f0ddb1c907.png)
link to: www.stickermule.com

[2016-02-06 07:34] kstack7 commented on #369
Chevrons added to the left:

https://girl-develop-it-staging.herokuapp.com/faq

[2016-02-09 07:40] #402 closed, assigned to nobody

[2016-02-11 19:36] corinnepw opened #422 "Add Chapter Leader Group Photo to About Page"
**Add awesome 2015 Summit group photo to About**

**Ask**
_Add this photo to About_
![img_1813](https://cloud.githubusercontent.com/assets/4427638/12987979/9bb55d86-d0cc-11e5-95cc-6f42d7b9386f.JPG)

**Additional Info**
_Add to Our Team section, perhaps with caption "Girl Develop It Chapter Leaders at 2015 Annual Leadership Summit"._

[2016-02-12 06:27] #410 closed, assigned to nobody

[2016-03-18 13:58] alohaas opened #429 "Remove #GDIDAY section from donation page?"
I'm not sure if this is urgent or if the #GDIDay section can persist throughout the year, but I thought I would check to see if it should be taken down. I'd be happy to remove it if necessary.

<img width="721" alt="screen shot 2016-03-18 at 9 57 50 am" src="https://cloud.githubusercontent.com/assets/4480279/13879837/e66f0270-ecef-11e5-8e25-6edd9fa694f9.png">

[2016-03-18 19:24] corinnepw commented on #429
That would be so great @alohaas! Thank you!

[2016-03-21 16:08] corinnepw opened #430 "Remove requirement from PM position"
Noticed an oversight in the Program Manager listing: _Comfort with Quickbooks_ should not be a requirement; please remove.

[2016-03-22 01:11] alohaas commented on #429
:metal: I will shoot for a PR on Friday.

[2016-03-22 03:57] #369 closed, assigned to nobody

[2016-03-22 04:00] kstack7 commented on #429
:+1:

[2016-03-22 18:06] #430 closed, assigned to nobody

[2016-03-22 18:08] corinnepw opened #432 "Update /jobs page contact email"
Please update the contact email in the two job descriptions (Ops Lead & Program Manager) to be jobs@girldevelopit (and remove hq@girldevelopit)?

[2016-03-22 18:14] corinnepw opened #433 "Update /about page contact emails"
**Currently listed contact info:**
For partnership opportunities: partnerships@girldevelopit
To learn about supporting GDI as a sponsor: sponsorships@girldevelopit

**Please update language & include press@ & chapter interest form**

Partnership opportunities: partnerships@girldevelopit.com
Sponsorship opportunities: sponsorships@girldevelopit.com
Press inquiries: press@girldevelopit.com
[Request

[2016-03-22 23:25] imuchnik opened #435 "Grant admin access for CLs"
In a more active chapters with lots going on, it is somewhat unfair to place all the chapter page content update burden on just 1 person.
So to that end, i am porposing to grant admin access to at least 1 other CL to share the load equally.
Please voice your opinions in comments.

[2016-03-22 23:26] imuchnik commented on #435
#

[2016-03-23 00:32] #433 closed, assigned to nobody

[2016-03-23 13:42] Roenok commented on #435
I'll +1 this just because most chapters like to distribute work. We do need a system in place for pruning inactive accounts, though.

[2016-04-01 03:32] kstack7 commented on #432
Thanks @Roenok :)

[2016-04-01 03:32] #432 closed, assigned to nobody

[2016-04-01 14:14] DBNess commented on #432
:dancer: thanks, @Roenok & @kstack7!

[2016-04-01 14:18] kstack7 commented on #429
Any progress on this?

[2016-04-01 14:29] kstack7 commented on #343
Woops never came back to close this :+1:

[2016-04-01 14:29] #343 closed, assigned to nobody

[2016-04-01 14:40] kstack7 opened #439 "Setup Vagrant for GDI Website Development"
**Description**
_We need to improve our ability to get the development site up and running for folks willing to contribute. Using Vagrant or similar tools could improve the startup time while reducing any version/library/OS obstacles that we've originally endured._

**Ask**
_Explore and implement a Vagrant development environment for the GDI site._

**To Do**
- [ ] Research and Identify best optio

[2016-04-01 14:44] kstack7 opened #440 "Update Tumblr to Reflect Style Guide Changes"
**Description**
_We've recently updated our style guide and need to follow-up by changing existing GDI sites and materials._

**Ask**
_Update Tumblr site (girldevelopit.tumblr.com) to reflect latest style guide changes._

**To Do**
- [ ] Update CSS with proper colors/styles
- [ ] Discuss with GDI community
- [ ] Eventually push to staging > production

**Additional Info**
Style guide/brand folder:

[2016-04-11 16:30] #401 closed, assigned to nobody

[2016-04-13 18:20] corinnepw opened #442 "Remove Operations Lead job from /jobs"
Please remove the Operations Lead job description from the /jobs page

[2016-04-13 18:22] kstack7 commented on #442
I will give this a short grace period if anyone wants to take a stab at this one! Otherwise I can rip the bandaid fast :)

[2016-04-19 03:07] #442 closed, assigned to nobody

[2016-04-19 04:49] corinnepw commented on #442
🙌

On Monday, April 18, 2016, Kristen notifications@github.com wrote:

##

Corinne Warnshuis
Executive Director | Girl Develop It http://www.girldevelopit.com
corinne@girldevelopit.com | @corinnepw https://twitter.com/corinnepw |
831-331-1199

_Check out our upcoming classes and events on girldevelopit.com
http://girldevelopit.com._

[2016-04-20 03:49] kstack7 commented on #429
@alohaas I'm going to reassign this if that's okay with you. It's getting quite outdated.

[2016-04-20 14:00] alohaas commented on #429
@kstack7 that's okay with me. sorry i have been super slow on this one! 🐢

[2016-04-20 20:41] corinnepw opened #445 "Update /jobs with note about upcoming openings"
Please remove both current roles and replace with text:

We will be continuing to grow our team and posting more positions here in the coming months! Please check back and reach out to jobs@girldevelopit.com with any questions.

[2016-04-22 19:27] #445 closed, assigned to nobody

[2016-04-28 16:50] corinnepw opened #449 "Add Nonprofit info to footer"
Can you please add the following information to the footer of the site?

Girl Develop It, 1522 Cole Street, Enumclaw, WA, 98022, USA
_Girl Develop It is an exempt organization as described in Section 501(c)(3) of the Internal Revenue Code. Our EIN is 46-3103695._

[2016-04-28 16:53] corinnepw opened #450 "Update Alanna Gombert title on /About"
Can you please update Board member Alanna Gombert's title to reflect her new role?

Her information on the site should read: Alanna Gombert, VP of Interactive Advertising Bureau (IAB) Tech Lab

[2016-04-28 18:17] GretchenLynd opened #451 "Add link to FAQ on About page"
Please add link to FAQ's on the About page - between "Our Board" and "Contact Us".  Suggested text:

Have a question about GDI? Visit our [FAQ page](https://www.girldevelopit.com/faq)

[2016-04-28 22:46] kstack7 commented on #449
Are the italics intentional and desired for the footer, @corinnepw?

[2016-04-29 12:07] corinnepw commented on #449
Yep!

On Thursday, April 28, 2016, Kristen notifications@github.com wrote:

##

Corinne Warnshuis
Executive Director | Girl Develop It http://www.girldevelopit.com
corinne@girldevelopit.com | @corinnepw https://twitter.com/corinnepw |
831-331-1199

_Check out our upcoming classes and events on girldevelopit.com
http://girldevelopit.com._

[2016-04-29 16:51] GretchenLynd opened #455 "Change text on FAQ page"
Would like to transform the text used for the questions on the FAQ page from all uppercase to regular upper + lowercase as it is with the responses.  Thanks so much!!

[2016-04-29 21:53] #449 closed, assigned to nobody

[2016-04-29 22:31] #429 closed, assigned to alohaas

[2016-04-30 19:44] #451 closed, assigned to nobody

[2016-04-30 19:47] kstack7 commented on #450
Fixed with #454

[2016-04-30 19:47] #450 closed, assigned to nobody

[2016-04-30 20:07] kstack7 commented on #455
Check out #457 to see if you like the changes :)

[2016-05-01 02:27] #455 closed, assigned to nobody

[2016-06-01 16:41] Roenok opened #459 "Improve default alt text for sponsor logos and headshots"
**Description**
By default, the alternative text for headshots and sponsor images is the file name. This leaves us with uninformative alt text like "Birizarry uxpa 600x600," "Unnamed," and "Logo wps horizontal." (All real examples, from the LA chapter page.) This is a terrible experience for our screen reader users, and also negatively impacts our SEO.

**Ask**
Change the default alt attribute for

[2016-06-08 01:21] #459 closed, assigned to nobody

[2016-06-17 17:40] lisli commented on #422
@corinnepw Where would you like this photo to go? Top of the page? Towards the bottom?

[2016-06-17 17:48] corinnepw commented on #422
ooh! How about below our team and above the headshots?

On Fri, Jun 17, 2016 at 1:40 PM, lisli notifications@github.com wrote:

##

Corinne Warnshuis
Executive Director | Girl Develop It http://www.girldevelopit.com
corinne@girldevelopit.com | @corinnepw https://twitter.com/corinnepw |
831-331-1199

_Check out our upcoming classes and events on girldevelopit.com
http://girldevelopit.com._

[2016-06-17 18:23] lisli commented on #422
@corinnepw 👍 Getting the project set up now, PR forthcoming 😸

[2016-06-21 03:18] kstack7 opened #464 "Create "inactive chapter" notification or page"
**Description**
_We need to add a page for inactive chapters that provides information for those hoping to jumpstart the chapter again._

**Ask**
_Create a notification or a redirect page that has contact information or "next steps."_

**To Do**
- [ ] Discuss the best approach with CLs and HQ
- [ ] Create new page (if that direction) and finalize content
- [ ] Redirect users to that page when visi

[2016-06-21 03:19] kstack7 commented on #464
@corinnepw

[2016-06-21 20:25] corinnepw commented on #464
@kstack7 this is awesome! Did we talk about this yet? LaVonna and I were just discussing this a week or so ago. Would love to work on getting some language and a form together. We have the list of "inactive chapters"

[2016-06-21 20:30] kstack7 commented on #464
@corinnepw no specifics yet. Just recalling the initial suggestion and then we discussed it in yesterday's meeting real quick. Should be straight-forward as long as we have the content we need :+1:

[2016-06-21 20:41] Roenok commented on #464
Here's my idea, complete with 12-second mockup:

If someone visits an inactive chapter, the page redirects them to the regular chapters page, with an alert message on top. The alert says something like "We're sorry to say that CHAPTER NAME is currently inactive. Are you interested in helping us bring it back? [Fill out our interest form](https://docs.google.com/forms/d/18vn6QF64wg8i7euJXSA4HlYWO4A

[2016-06-21 20:43] kstack7 commented on #464
Yeah this is a good direction, @Roenok. Wouldn't hurt to revisit the notification anyways since I always thought the notifications could use some love. Little too subtle in some cases.

[2016-06-25 17:26] #439 closed, assigned to nobody

[2016-06-25 18:31] kstack7 opened #466 "SUGGESTION: Placeholder text/image for empty sponsor section"
**Description**
_Might be helpful to draw attention to a chapter page's sponsor section if it's empty. Maybe a placeholder image or text saying "want to sponsor this chapter?" with a link to the chapter email address._

**Ask**
_Create an if-statement that will check whether to show the CTA text or list of sponsors as a result._

**To Do**
- [ ] Get approved text/content from HQ
- [ ] Add if-state

[2016-07-11 15:48] GretchenLynd opened #468 "Add LaVonna's bio to the About page"
Please add the following bio for LaVonna:

**
![lavonna headshot](https://cloud.githubusercontent.com/assets/8474648/16736975/94b63edc-474c-11e6-83c9-5103a0e306a7.jpg)
**
LaVonna Ricketts, Program Director
LaVonna is committed to organizations that cultivate spreading knowledge, continuous learning, and social impact. She fights to create equal career and educational opportunities for women.
LaVon

[2016-07-11 21:35] intersim commented on #468
@GretchenLynd happy to help on this!

[2016-07-11 23:13] Roenok commented on #468
Thanks @intersim! Looks like we'll have an odd number of profiles. Maybe center the new bio below the existing ones?

[2016-07-12 00:48] intersim commented on #468
@Roenok Sounds good to me, I just put in a PR with a center column below the other 2 bios.

[2016-07-12 05:39] #468 closed, assigned to nobody

[2016-07-12 05:45] kstack7 commented on #468
Just as a follow-up, you can view the changes on staging: https://girl-develop-it-staging.herokuapp.com/about

[2016-07-13 06:05] #422 closed, assigned to nobody

[2016-07-13 06:05] kstack7 commented on #464
Happy to take a look at this next once we have content/ideas, ladies :)

[2016-07-13 06:12] kstack7 opened #471 "Update ReadTheDocs to reflect Vagrant/setup changes"
**Description**
_We now have a Vagrant script to help make development setup a breeze! We just need to mention it in our readthedocs so folks know how to use it properly._

**Ask**
_Carry temporary README instructions to ReadTheDocs!_

**To Do**
- [ ] Find README instructions
- [ ] Move to ReadTheDocs with additional details to help
- [ ] Rejoice!

**Additional Info**

(In README)

How to Vagrant

[2016-07-14 13:08] corinnepw opened #472 "Add & remove logos from Supporters page"
**Add attached logo to Supporters page**

Sponsors:
_Add sponsor logo & link_
http://wtm.gdgthess.org/wp-content/uploads/2015/03/WT_logo_horizontal_pos.png
link to: http://www.womentechmakers.com

_Remove GE, Mandrill and Bloc_

[2016-07-14 19:45] #472 closed, assigned to nobody

[2016-07-14 19:47] Roenok commented on #466
@kstack7 Rochester deserves all the sponsors! I'd actually like to propose we add the "want to sponsor" link to the bottom of every chapter's list. That way, potential sponsors will always have a lead.

[2016-07-14 19:49] kstack7 commented on #466
Great point! No reason to remove it... :+1:

[2016-07-15 17:10] LaVonnaR opened #474 "Add Bindu bio & photo to About page"
Please add the following bio and photo to the about page. Thank you!

Bindu Jallabah, Operations Director

Bindu is fervently passionate about developing ecosystems that empower disadvantaged communities in making informed, self-determined decisions. She has dedicated most of her career to advocating and developing pragmatic solutions that promote social equity — particularly sustainable empowerme

[2016-07-19 02:56] #474 closed, assigned to nobody

[2016-07-20 13:31] LaVonnaR commented on #474
Hi All,

Happy Wednesday!

Apologies for being unfamiliar with github, but I received an email that
this issue was closed, however, Bindu's bio and photo are not up on the
site. Does closed mean the issue is resolved?

Best,
LaVonna

On Mon, Jul 18, 2016 at 10:56 PM, Kristen notifications@github.com wrote:

##

LaVonna Ricketts
Program Director | Girl Develop It http://www.girldevelopit.com/
lavon

[2016-07-20 13:44] Roenok opened #478 "Add some margins to paragraphs"
**Description**
Our reset stylesheet gives all paragraphs a margin of zero. That means when we have blocks of text with multiple paragraphs, there is no space between them.

**Ask**
Give paragraphs a small margin, to improve readability

**To Do**
- [ ] Choose a sensible margin value
- [ ] Update CSS to include the new value
- [ ] Test across the site

**Additional Info**
Current state:
![image](h

[2016-07-20 15:31] kstack7 commented on #474
Good question! This happened since my naming convention had a built-in "fixes" call that references an issue to close once merged. This task is present in staging at the moment, so you can review it here:  http://girl-develop-it-staging.herokuapp.com/about

I'm happy to avoid the "fixes" title in order to keep issues open until they're fully merged into production :)

[2016-07-21 00:30] intersim commented on #478
@Roenok I can help on this! Just took a look, and maybe just profile paragraphs on the about page need padding added? Looks like that's what's happening elsewhere on the site.

[2016-07-21 23:46] billimarie commented on #471
@kstack7 This is closed with #475 👍  should we remove the Vagrant info from the readme?

[2016-07-22 00:46] kstack7 commented on #471
Ah yes! I also think @Roenok was going to add her $.02 to it as well. But we definitely want that readme info removed :) Thanks for your help, @billimarie!

[2016-07-23 14:54] #478 closed, assigned to nobody

[2016-07-23 15:19] kstack7 commented on #471
Removed from ReadMe :)

[2016-07-23 15:19] #471 closed, assigned to nobody

[2016-07-25 01:09] kstack7 commented on #464
So I started to focus on this, but realized we'll need to discuss the map/layout/chapter count with inactive chapters in mind. Right now the site only pulls active chapters, so you'd never be able to navigate to the inactive ones.

Do we let users navigate to the chapter and then give a notification/warning? Or block navigation to the chapter with a redirect back to the chapters list (notification

[2016-07-25 19:01] Roenok commented on #464
@kstack7 Whenever we get around to this one, here is my idea:
- Inactive chapters are not on the map or the chapter list
- Inactive chapters don't have a visible individual page
- Inactive chapters do have a "stub" page that's just a redirect to the main chapters page, with the alert.

Here's our user stories:
- Susan goes to the GDI homepage, looking for GDI Big Town. GDI Big Town is inactive, so

[2016-07-27 21:42] corinnepw opened #483 "Create 2016 Leadership Summit static landing page"
**Create Summit Leadership Landing page**
_The annual Girl Develop It Leadership Summit is coming up! We want to create a static page that includes info on the summit and how sponsors can support_

**To Do**
- [ ] Review summit page mock-up (attached)
- [ ] Review Summit Sponsorship deck pdf (attached)
- [ ] Add page Title: Girl Develop It 2016 Leadership Summit
- [ ] Add 2015 Group Photo (attache

[2016-07-31 13:52] #483 closed, assigned to corinnepw, amygori

[2016-07-31 14:11] anythingcodes opened #485 "Update address in footer and on 'Donate' page"
**Description**
The address in the footer and the [Donate page](https://www.girldevelopit.com/donate) is GDI's former Enumclaw, WA address. Need to update with the new NYC address.

**Ask**
When completed, addresses will be _Girl Develop It, 1732 1st Ave #24681, New York, NY, 10128, USA_

**To Do**
- [ ] Update address text in footer
- [ ] Update address text on [Donate page](https://www.girldevel

[2016-07-31 14:35] Roenok commented on #485
Well spotted, @anythingcodes! Tagging this one beginner-friendly. Anyone want to grab it?

[2016-08-01 17:21] #485 closed, assigned to nobody

[2016-08-01 17:21] #466 closed, assigned to nobody

[2016-08-03 16:45] corinnepw opened #489 "Update Leadership Summit page content"
— number of chapter leaders should be 75 (both in the 2nd graf and in the Geeks on a Bus level)
— update Indeed logo to attached logo
— update Indeed logo to link to: http://indeed.jobs
— update Hot Sauce in our Bag, Swag level text with "T-shirts, water bottles, tote bags, stickers.... Support swag our leaders can use post-summit to spread the mission of GDI!"
![indeed-2016](https://cloud.githubu

[2016-08-15 17:05] Roenok commented on #157
We can close this one, as Windows users can use Vagrant

[2016-08-15 17:05] #157 closed

[2016-08-15 19:04] GretchenLynd opened #493 "Change name of New Jersey chapter"
The name of the New Jersey chapter is changing from South Jersey to Camden. Please update the chapters page. There is going to be a new leader and will ask her to fill out the form to be administrator, but please remove current leaders on the page in advance of her taking over. Currently there are no leaders in So. Jersey.

The name on the Meetup site has been changed from South Jersey to Camden,

[2016-08-15 20:13] Roenok commented on #493
@GretchenLynd Will their email address change as well? Right now we have them as southjersey@girldevelopit.com

[2016-08-15 20:28] Roenok commented on #493
[New page is up!](https://www.girldevelopit.com/chapters/camden)

The new admin can update the email address if she needs to.

[2016-08-15 20:28] #493 closed, assigned to Roenok

[2016-08-15 22:49] GretchenLynd commented on #493
Thanks Sylvia - I changed the name of the email address as well, but
Katharine can update that.
Appreciate the quick turnaround.

On Mon, Aug 15, 2016 at 2:28 PM, Sylvia Pellicore notifications@github.com
wrote:

##

_Gretchen Kastetter_
_Web Designer_
_HauntedMesaDesign.com http://HauntedMesaDesign.com_
_info@HauntedMesaDesign.com_
_970.222.9383_

[2016-08-24 18:17] corinnepw commented on #489
@kstack7 Looks like the logo and link weren't updated. Any chance you can take a look? The new logo is attached and the link should go to indeed.jobs
Thanks!

[2016-08-24 21:10] kstack7 commented on #489
Huh! Not sure how that happened. On it :) 👍

[2016-08-30 22:10] corinnepw commented on #489
Thank you @kstack7 ! Any updates?

[2016-08-30 22:20] #489 closed, assigned to nobody

[2016-08-30 22:22] kstack7 commented on #489
@corinnepw hah I put the pull request in last week but didn't actually merge it to staging...pushing now.

[2016-08-30 22:36] kstack7 commented on #489
https://girl-develop-it-staging.herokuapp.com/summit

[2016-08-31 02:14] corinnepw commented on #489
🙌🏻 #gratitude

On Tuesday, August 30, 2016, Kristen notifications@github.com wrote:

##

Corinne Warnshuis
Executive Director | Girl Develop It https://www.girldevelopit.com
corinne@girldevelopit.com | @corinnepw https://twitter.com/corinnepw |
646-494-7471

_Check out our upcoming classes and events on girldevelopit.com
http://girldevelopit.com._

[2016-09-29 15:26] corinnepw opened #496 "Update Leadership Summit page content (remove section)"
— Remove "things you can sponsor" section (from La Casa de GDI to Live-stream) and move the header text to "Levels and Perks" section
— Remove 09/2016 from "newsletter launch" in 10k and 25k levels

[2016-09-29 15:30] corinnepw opened #497 "Update Leadership Summit Page logos"
**Add Summit logo**
— add Summit 2016 logo to top of page
![gdi summit logo - final - hi res](https://cloud.githubusercontent.com/assets/4427638/18977462/775b9514-8688-11e6-86f9-73fd3d5e64a2.png)

**Add sponsor logos**
— add Turing logo (should be most prominent) & add link to https://www.turing.io/
https://brandfolder.com/s/oe9uzr-elxhpk-36240j
— add CBS Interactive logo & link to http://www.cbsi

[2016-09-30 04:12] GretchenLynd opened #498 "Add Sponsor logo to Summit Page"
Please add Fair Play sponsor logo to the Summit page.

![fair-play-logo-light](https://cloud.githubusercontent.com/assets/8474648/18980458/ca3e18ca-8691-11e6-8b88-4522eb71acb2.png)

[2016-09-30 06:03] kstack7 commented on #497
@corinnepw is there a particular layout/order you'd like?

[2016-09-30 06:04] kstack7 commented on #498
http://fairplay.video/, right?

[2016-09-30 15:45] corinnepw commented on #497
Nothing other than Turing on top, please!

On Fri, Sep 30, 2016 at 2:03 AM, Kristen notifications@github.com wrote:

##

Corinne Warnshuis
Executive Director | Girl Develop It https://www.girldevelopit.com
corinne@girldevelopit.com | @corinnepw https://twitter.com/corinnepw |
646-494-7471

_Check out our upcoming classes and events on girldevelopit.com
http://girldevelopit.com._

[2016-09-30 19:41] corinnepw opened #500 "Add Cars.com & Turing Sponsors logo to Supporters page"
— Add Cars.com logo & link to https://cars.com
![cars com logo](https://cloud.githubusercontent.com/assets/4427638/19002591/b610cf80-871a-11e6-995c-07254c14b743.png)
— Add Turing School of Software logo and link to https://www.turing.io/
![turing logo](https://cloud.githubusercontent.com/assets/4427638/19004549/66932778-8724-11e6-8619-b6a4186c9b64.png)

[2016-10-01 01:23] kstack7 commented on #500
So the white font under the cars logo is a problem...I'm going to keep it as the purple oval for now unless that's against their request...or if they have a black-lettered alternative?

[2016-10-01 02:39] corinnepw commented on #500
Oh wow didn't realize there was white font. I grabbed that from the
Internet and we really only need the logo without the font. I can crop and
resend or let me know!

On Friday, September 30, 2016, Kristen notifications@github.com wrote:

##

Corinne Warnshuis
Executive Director | Girl Develop It https://www.girldevelopit.com
corinne@girldevelopit.com | @corinnepw https://twitter.com/corinnepw |
6

[2016-10-01 02:45] #496 closed, assigned to nobody

[2016-10-01 02:45] #497 closed, assigned to nobody

[2016-10-01 21:24] NewtCobell commented on #500
I'll be happy to work on this if you'd like.

[2016-10-02 05:08] #498 closed, assigned to nobody

[2016-10-02 05:08] #500 closed, assigned to nobody

[2016-10-02 16:01] NewtCobell commented on #345
I'd like to work on this, if no one else is already assigned.

[2016-10-02 17:22] Roenok commented on #345
@newtcobell we'd love the help!

[2016-10-02 19:30] GretchenLynd commented on #498
Thanks Kristen!

[2016-10-04 02:55] NewtCobell commented on #283
I'm willing to work on this if it's still needed.

[2016-10-04 05:03] kstack7 commented on #283
Hooray! This one's a tad outdated so I'd look to HQ ( @corinnepw @GretchenLynd ) for final copy changes :)

[2016-10-04 13:45] corinnepw commented on #283
Thanks so much, Sara! & Kristen! We will have some new language to share
very soon. Will update here and be sure to let you know.

On Tue, Oct 4, 2016 at 1:03 AM, Kristen notifications@github.com wrote:

##

Corinne Warnshuis
Executive Director | Girl Develop It https://www.girldevelopit.com
corinne@girldevelopit.com | @corinnepw https://twitter.com/corinnepw |
646-494-7471

_Check out our upcomin

[2016-10-04 16:37] NewtCobell commented on #122
I'd just like to chime in and mention that WOCinTechChat has _amazing_ stock photos of actual women of color who actually work in tech, and they're free to use with attribution! [https://www.flickr.com/photos/wocintechchat/albums](https://www.flickr.com/photos/wocintechchat/albums)

[2016-10-13 19:49] NewtCobell commented on #328
On the supporters page, it still says 'sponsors' (just above the second horizontal divider) - should that be changed?

Edit: it's also on the chapter page in the sidebar above the logos.

[2016-10-13 21:03] NewtCobell commented on #382
I'm willing to work on this, if no one else has claimed it.

[2016-10-20 22:34] k80bowman commented on #384
I just did this for our chapter to solve this same problem. It's not perfect, but it's a place to start.
![screen shot 2016-10-19 at 7 41 58 pm](https://cloud.githubusercontent.com/assets/12739849/19580306/7255f728-96f3-11e6-9a73-2e5fba2b06a7.png)

[2016-10-22 15:37] NewtCobell commented on #384
@k80bowman I like it! @ghaida and @Roenok , what do you think?

[2016-10-28 20:06] GretchenLynd opened #508 "Revised logo for IBM for Summit Sponsor"
Maureen sent new logo to be added to the Summit sponsor page. Please replace logo sent with previous pull request.

![ibm](https://cloud.githubusercontent.com/assets/8474648/19820656/909cb026-9d17-11e6-8d28-a699c5b5200a.jpg)

[2016-10-28 20:06] GretchenLynd commented on #508
Pull request was #506

[2016-10-28 20:39] mmcelaney commented on #508
Thanks @GretchenLynd :) @kstack7 once somebody pushes this logo into the repo I am happy to update my pr.

[2016-10-31 16:39] mmcelaney commented on #508
added! thanks @kstack7

[2016-10-31 16:39] #508 closed, assigned to nobody

[2016-11-10 19:24] LaVonnaR opened #513 "Add "get involved" tab to GDI website"
We would like to add a "get involved" tab to the Girl Develop It website between the existing "about" and "jobs" tabs on the bottom of the site home page. When clicked on, the "get involved" page should look similar to the GDI jobs page, seen here [https://www.girldevelopit.com/jobs](url), in setup. The title should read "Join Our Community!", and the description beneath should read "Girl Develop

[2016-11-11 20:11] GretchenLynd opened #514 "Change Salesforce logo on Supporters page"
Salesforce sent us a new logo that they'd like to replace their current logo on the Supporter's page.
![salesforce logo](https://cloud.githubusercontent.com/assets/8474648/20228810/4a20aebe-a810-11e6-9646-313d39a80f4c.png)

[2016-11-16 15:43] mjenkinsfuerst commented on #142
@tlberglund @sarperlman Can this be closed?

[2016-11-16 17:45] westonplatter commented on #142
@Cara-Jo for some reason this popped up on github for me today. Do you have a desired storage backend? For example, google drive, AWS s3, etc? I'd suggest google drive since we could probably rig this up for free (using AWS = 💰).

One of many possible ways of doing this, would be to use https://github.com/tors/jquery-fileupload-rails to handle the upload, cropping, and saving in tandem with either

[2016-11-16 19:40] Roenok commented on #142
@westonplatter The site already supports image upload; we use it for chapter leader headshots and sponsor logos.

In general, though, I don't think there is much need for this feature. We have not ever changed the hero image in many years of using the site. If we need to change it at some point, it would be a very small pull request.

[2016-11-17 15:17] intersim commented on #513
I can help on this!

[2016-11-21 05:08] kstack7 commented on #513
Great, @intersim :) We're always looking for more hands on deck so that'd be lovely!

[2016-11-21 19:01] kstack7 commented on #513
@intersim is that information above enough to get a start on it? Let me know if you have questions and we can walk through it or start to flesh it out :) 👍

[2016-11-25 13:47] kstack7 commented on #514
PR #515

[2016-12-02 16:09] kstack7 commented on #513
I will work on this over the weekend.

[2016-12-02 19:03] intersim commented on #513
Ack, sorry for being MIA.

[2016-12-04 23:57] kstack7 commented on #513
Pull request #516

[2016-12-05 21:13] #514 closed, assigned to nobody

[2016-12-06 06:36] kstack7 commented on #513
https://www.girldevelopit.com/get-involved :)

[2016-12-06 06:36] #513 closed, assigned to nobody

[2016-12-06 07:35] DBNess commented on #513
🙌👍 thanks, @kstack7!!

On Dec 6, 2016 1:36 AM, "Kristen" <notifications@github.com> wrote:

[2016-12-06 19:51] GretchenLynd opened #518 "Update Board of Directors page"
Please remove Marc Hedlund and Erynn Peterson

Please add Vanessa and Erica Joy Baker - bios and images attached:

Erica Joy Baker
Erica is a Senior Engineer at Slack Technologies and advocate for diversity and inclusion in tech, and expanding access to tech education. Erica's career in tech began fifteen years ago doing domain administration for the University of Alaska Statewide System, before b

[2016-12-07 17:22] corinnepw commented on #518
thank you @GretchenLynd Gretchen! Let me quickly pare down those bios and we won't need to include their personal statements...

[2016-12-07 17:23] corinnepw commented on #518
Know what — bios are fine. Let's just not include the personal statement piece. Thanks!

[2016-12-13 21:16] GretchenLynd opened #519 "Bookkeeper/Office Manager Job Role"
GDI has just announced the following position - please add to the job page for the site.
[GDIBookkeeperOfficeManagerRoleDescription.pdf](https://github.com/girldevelopit/gdi-website/files/650162/GDIBookkeeperOfficeManagerRoleDescription.pdf)

[2016-12-19 03:46] beckysingson commented on #518
@GretchenLynd there's not actually a separate Board of Directors page with bios & whatnot AFAIK. We just list them on the About page:

<img width="1223" alt="screen shot 2016-12-18 at 10 35 42 pm" src="https://cloud.githubusercontent.com/assets/1359661/21300485/569352a8-c572-11e6-8258-368613922da8.png">

Submitting a PR to update the list but perhaps we should create a new issue if we need to make

[2016-12-19 04:46] #519 closed, assigned to nobody

[2016-12-19 04:46] #518 closed, assigned to nobody

[2016-12-19 15:08] corinnepw commented on #518
Thank you for updating the names! RE: Becky's note...We don't want a
separate page, but we do want to have them mimic how staff is. I'll create
a separate issue that includes Alanna's bio as well. We can remove Cara Jo
now.

On Sun, Dec 18, 2016 at 11:46 PM, Kristen <notifications@github.com> wrote:

--
Corinne Warnshuis
Executive Director | Girl Develop It <https://www.girldevelopit.com>
corinne@

[2016-12-19 15:13] corinnepw opened #523 "Add bios & photos of Board of Directors on About page"
Using Vanessa's and Erica's bios and photos from #518 and Alanna's bio (update title accordingly) and photo (below), please update the About page BOD section to match staff section.

Please also remove Cara Jo from the BOD list, and remove Vanessa from the Staff/Team section.

*Alanna headshot:* http://original.dentthefuture.com/wp-content/uploads/2014/09/alanna2.jpg
*Alanna bio:* Alanna Gombert i

[2016-12-19 15:42] LaVonnaR opened #524 "Replace "Our Team" photo on Girl Develop It "About" page"
We would like to replace the "Our Team" photo on Girl Develop It website's "About" page, with the attached photo. Additionally, we would like to change the caption under the photo to "Girl Develop It Chapters Leaders at 2016 Annual Leadership Summit".

Thank you!

Link to "About" page here. [https://www.girldevelopit.com/about](url)

![gdi team photo](https://cloud.githubusercontent.com/assets/204

[2016-12-19 20:58] kamxhmartin commented on #523
I was working on issue #518 this past weekend (but was having my own technical difficulties), and wanted to take a chance at this issue.

[2016-12-19 21:02] beckysingson commented on #523
Awesome @kamxhmartin! Feel free to assign this one to yourself if you wanna give it a shot. Reach out if you have any issues, we're happy to help you navigate!

[2016-12-20 01:05] kamxhmartin commented on #523
If I'm reading this correctly the team should be Corrine, LaVonna, and Bindu, and the board should be Erica,  Alanna and Vanessa?

[2016-12-20 01:25] corinnepw commented on #523
​That is correct — thank you, Kal!​

On Mon, Dec 19, 2016 at 8:05 PM, Kal Martin <notifications@github.com>
wrote:

--
Corinne Warnshuis
Executive Director | Girl Develop It <https://www.girldevelopit.com>
corinne@girldevelopit.com | @corinnepw <https://twitter.com/corinnepw> |
646-494-7471

*Check out our upcoming classes and events on girldevelopit.com
<http://girldevelopit.com>.*

[2016-12-21 19:42] amandagogogo commented on #523
@beckysingson How do I assign myself to an issue?  I wanted to assign myself to #524, but don't have check boxes next to the issue to claim it.  Do I need to enable a certain setting to have the checkboxes/assign myself to an issue?

[2016-12-21 19:44] beckysingson commented on #523
@amandagogogo Ah, seems like perhaps it's not publicly accessible in this repo. Just comment on the issue that you'll take it. Thanks for the assist! LMK if you have any issues getting setup.

[2016-12-21 20:58] amandagogogo commented on #524
I went ahead with this one and submitted a PR on 12/19.

[2017-01-06 21:11] LaVonnaR commented on #524
Thank you! Do you know if there has been any update?

Best,
LaVonna

On Wed, Dec 21, 2016 at 3:58 PM, Amanda Grossmann <notifications@github.com>
wrote:

--
LaVonna Ricketts
Program Director | Girl Develop It <http://www.girldevelopit.com/>
lavonna@girldevelopit.com | 646-494-7471 (Ex. 103)

*Check out our upcoming classes and events on girldevelopit.com
<http://girldevelopit.com/>*

[2017-01-06 21:13] kstack7 commented on #524
Yup this is on staging...I can push to production if we like it: https://girl-develop-it-staging.herokuapp.com/about

[2017-01-06 21:16] LaVonnaR commented on #524
Ooooo, looks great! :-D  Thanks, Kristen!

On Fri, Jan 6, 2017 at 4:13 PM, Kristen <notifications@github.com> wrote:

--
LaVonna Ricketts
Program Director | Girl Develop It <http://www.girldevelopit.com/>
lavonna@girldevelopit.com | 646-494-7471 (Ex. 103)

*Check out our upcoming classes and events on girldevelopit.com
<http://girldevelopit.com/>*

[2017-01-13 00:24] alejandraji commented on #328
Hi, can i jump on this? was it completed?

[2017-01-13 00:25] alejandraji commented on #523
Hi, was this issue taken?

[2017-01-13 04:07] kstack7 commented on #523
Woops! This was left open. Yes, @axjimenez89, this has been completed. Thanks for the indirect heads up!

[2017-01-13 04:07] #523 closed, assigned to nobody

[2017-01-13 04:09] kstack7 commented on #328
@NewtCobell -- we can keep Sponsors there since we do still have Sponsors. We changed the name to "Supporters" to be more generalized than _just_ sponsors. Hope that makes sense :)

And yes, this was another not-closed-by-PR-title issue that has been completed. Sorry for the confusion!

[2017-01-13 04:09] #328 closed, assigned to nobody

[2017-01-13 04:10] #524 closed, assigned to nobody

[2017-01-13 17:41] LaVonnaR commented on #524
Thank you, Kristen!

On Thu, Jan 12, 2017 at 11:10 PM, Kristen <notifications@github.com> wrote:

--
LaVonna Ricketts
Program Director | Girl Develop It <http://www.girldevelopit.com/>
lavonna@girldevelopit.com | 646-494-7471 (Ex. 103)

*Check out our upcoming classes and events on girldevelopit.com
<http://girldevelopit.com/>*

[2017-01-16 18:34] corinnepw opened #527 "Add sponsor logos to Supporters page"
Add Twilio logo (attached below) to girldevelopit.com/supporters
![twilio org logo](https://cloud.githubusercontent.com/assets/4427638/21994957/5d4ddd4a-dbf0-11e6-9b41-b59b38308ff6.png)
Link to: https://www.twilio.org/

Add Capital One logo
![capital one logo](https://cloud.githubusercontent.com/assets/4427638/21995048/cdf7aecc-dbf0-11e6-81de-0665e14c3269.png)
Link to: https://www.capitaloneinvest

[2017-01-24 04:27] kstack7 commented on #523
@axjimenez89 -- we have other tasks to look at if you're interested in contributing :) https://github.com/girldevelopit/gdi-website/issues/527

[2017-02-01 02:07] dnahol commented on #527
Fixed. Pull request coming up.

<img width="969" alt="screen shot 2017-01-31 at 6 04 27 pm" src="https://cloud.githubusercontent.com/assets/2976514/22492673/e07b9a5e-e7df-11e6-8dfd-23e4c30de038.png">

[2017-02-01 03:31] kstack7 commented on #527
Wonderful! Thank you @dnahol for the work and the added screenshot :) We appreciate it!

[2017-02-08 15:30] LaVonnaR opened #529 "Modify Girl Develop It website's 'get involved' page"
We would like to make a few modifications to the website's 'get involved' page [https://www.girldevelopit.com/get-involved](url).

1. Under Chapter Leader, we have updated the role description. The updated description can be found using this link. [https://docs.google.com/document/d/1ePSYxzCii9pjeJ9ISB9l5k1XKwhuFGZf729dJ6wOj-A/edit?usp=sharing](url)

2. Currently the last sentence under the 'Lead

[2017-02-24 06:32] #527 closed, assigned to nobody

[2017-03-01 16:09] luizfnunesmarques commented on #529
Working on this issue.

Glad to help :)

[2017-03-01 16:12] kstack7 commented on #529
Hooray! Thank you @luizfnunesmarques  :) We appreciate it! Let us know if you have any questions...

[2017-03-01 18:47] luizfnunesmarques commented on #529
You're welcome @kstack7 :)

[2017-03-01 18:57] luizfnunesmarques commented on #435
This issue is still open?

Thanks :)

[2017-03-02 14:48] luizfnunesmarques commented on #464
Is this issue is still open? Considering the last specs from @Roenok
cc @kstack7

[2017-03-07 12:40] luizfnunesmarques commented on #464
up.

[2017-03-08 17:42] kstack7 commented on #464
Hi @luizfnunesmarques -- this issue is still on hold until we get the green light from HQ :) Thanks for you interest!

[2017-03-23 03:24] #529 closed, assigned to nobody

[2017-04-10 18:07] corinnepw opened #535 "Remove "Privacy Concerns" section from Code of Conduct"
**Description**
*Remove "Privacy Concerns" section and its contents from Code of Conduct. This is not something we can viably ensure in our classrooms or at our events.*

https://www.girldevelopit.com/code-of-conduct

[2017-04-14 10:34] twhyn commented on #535
Hi, I would like to help on this. may I?

[2017-04-14 13:32] Roenok commented on #535
@twahyuni Yes, we'd love some help!

[2017-04-18 19:12] corinnepw opened #537 "Add (and remove) sponsor logos on Supporters page"
Add:
Docker logo to supporters page (https://www.girldevelopit.com/supporters)
![docker logo](https://cloud.githubusercontent.com/assets/4427638/25148114/bfba7dc2-2447-11e7-9d52-82286dae058d.png)

Remove:
Knight Foundation, Duck Duck Go and Sticker Mule and AOL

[2017-04-20 21:12] corinnepw opened #538 "Update bios on About Page"
**Update bios on the About page, including:**
Adding photos/bios of Board members (to mimic the Staff photos/bios above them).

**Move:**
- Move Vanessa to Board section; update title to Co-founder, Board Chair; update bio
_Bio:_ Vanessa Hurst is the Director of Engineering Practice at Etsy. Vanessa is also the founder of CodeMontage, where coders engage in open source projects to improve their sk

[2017-04-20 21:17] brendajin commented on #538
New bio:

Brenda Jin is a Staff Engineer at Slack, where she writes software that makes work better and more productive for millions of people every day. She launched the Slack App Directory in 2015, and later built and designed the first ever RESTful DLP/eDiscovery APIs, enabling HIPAA and FINRA for Slack's Enterprise Grid. Before Slack, she launched the first responsive shopping experience at Ma

[2017-04-28 02:36] kstack7 commented on #537
Taking care of these so we can align with news blasts :)

[2017-04-28 03:27] kstack7 commented on #538
On it 👍

[2017-04-28 03:41] kstack7 commented on #538
Please review: https://girl-develop-it-staging.herokuapp.com/about

[2017-04-28 03:42] kstack7 commented on #537
https://girl-develop-it-staging.herokuapp.com/about

[2017-04-28 03:42] kstack7 commented on #537
Wrong one... this one! https://girl-develop-it-staging.herokuapp.com/supporters

[2017-05-24 23:54] kstack7 commented on #538
::nudge::

[2017-05-25 00:18] Oh-KPond opened #540 "Remove Phoenix Chapter Leaders"
Please remove the following chapter leaders from the Phoenix Chapter page (https://www.girldevelopit.com/chapters/phoenix):
CORALIZ DERETA
LAURA LYNCH FREER

Thank you!!

[2017-05-25 00:27] Roenok commented on #540
@Oh-KPond Chapter leaders can actually update their own content, no pull requests needed! I'll send you information on how to get access on Slack.

[2017-05-25 00:27] #540 closed, assigned to nobody

[2017-05-25 06:35] corinnepw commented on #538
Looks great!
On Wed, May 24, 2017 at 4:54 PM Kristen <notifications@github.com> wrote:

--
Corinne Warnshuis
Executive Director | Girl Develop It <https://www.girldevelopit.com>
corinne@girldevelopit.com | @corinnepw <https://twitter.com/corinnepw> |
646-494-7471

*Check out our upcoming classes and events on girldevelopit.com
<http://girldevelopit.com>.*

[2017-06-13 19:49] corinnepw commented on #538
Let me know if you need anything else!

[2017-06-13 19:56] corinnepw opened #541 "Add Chapter Program Manager to Jobs page"
**Description**
GDI is hiring a full-time Chapter Program Manager! To advertise the role and enable easy sharing among CLs and our network, we'd like to add it to our jobs pages.

**Ask**
Add Chapter Program Manager job description to girldevelopit.com/jobs

**Additional Info**
Please find all content to be added here: https://docs.google.com/document/d/1VlZEOqshH0IMjKDj_6-eVJf0ZBUwSGGSw-7ZV_c4vA8

[2017-06-14 02:28] #538 closed, assigned to nobody

[2017-06-14 02:49] #537 closed, assigned to nobody

[2017-06-14 02:49] #535 closed, assigned to nobody

[2017-06-14 13:42] corinnepw opened #543 "Remove Bookkeeper from /jobs page"
**Description**
*We've hired a full-time bookkeeper so no longer need the description up on the site.*

**Ask**
*Please remove the Bookkeeper role description.*

[2017-06-14 14:10] corinnepw opened #544 "Update /summit page with 2017 details"
**Description**
*Leadership Summit 2017 is coming up! In order to spread the word and get support for the Summit, we need to update the Summit page with 2017 details and sponsorship levels*

**Ask**
*Please update all info from 2016 to 2017*

**To Do**
- [ ] Remove 2016 logo (since we don't have one yet for 2017, there's no replacement yet)
- [ ] Embed 2016 video: https://vimeo.com/196622462
- [ ]

[2017-06-14 18:41] tilkens commented on #544
Any chance I can help with this? I've been looking for a first commit to this repo!

[2017-06-14 18:47] kstack7 commented on #544
Of course! We'd be honored to have you try our repo for learning new things and making open-source commit! Let us know if you have any questions 👍

[2017-06-14 18:48] tilkens commented on #544
Awesome, thanks!

[2017-06-14 19:21] tilkens commented on #544
Actually, one question: Can I add feature/specs for this and few other view/controller interactions? That'd involve adding the gem capybara and setting a few constants/parameters. They would run pre-deploy.

[2017-06-14 21:32] kstack7 commented on #543
🚀

[2017-06-14 21:32] #543 closed, assigned to nobody

[2017-06-14 21:32] kstack7 commented on #541
Thanks again, @elisekain :D

[2017-06-14 21:32] #541 closed, assigned to nobody

[2017-06-15 02:26] tilkens commented on #544
Here is the PR: https://github.com/girldevelopit/gdi-website/pull/547

[2017-06-15 13:51] corinnepw commented on #541
👏  thank you both for the speedy action @elisekain & @kstack7!

[2017-06-26 04:25] kstack7 commented on #544
@corinnepw -- all good or would you like more updated details? https://girl-develop-it-staging.herokuapp.com/summit

[2017-06-26 14:47] corinnepw commented on #544
Looks great to me - thank you so much!

On Mon, Jun 26, 2017 at 12:25 AM, Kristen <notifications@github.com> wrote:

--
Corinne Warnshuis
Executive Director | Girl Develop It <https://www.girldevelopit.com>
corinne@girldevelopit.com | @corinnepw <https://twitter.com/corinnepw> |
646-494-7471

*Check out our upcoming classes and events on girldevelopit.com
<http://girldevelopit.com>.*

[2017-06-27 20:10] corinnepw opened #549 "Add Outreach & Special Initiatives Lead to Jobs page"
**Description**
GDI is hiring a full-time Outreach and Special Initiatives Lead! To advertise the role and enable easy sharing among CLs and our network, we'd like to add it to our jobs pages.

**Ask**
Add Outreach and Special Initiatives job description to girldevelopit.com/jobs

**Additional Info**
Please find all content to be added here: https://docs.google.com/a/girldevelopit.com/document/d/1

[2017-06-28 20:59] cecilianempire commented on #549
Hi Corinne, you won't need to post that position onto your jobs page because I'm your person for this role! Attached is my resume and a letter of recommendation from a VP at Princess Cruise Lines (so you can confirm I'm not a creep). I have time to chat today at your convenience. Thanks!

[2017 CM (GDI).pdf](https://github.com/girldevelopit/gdi-website/files/1110190/2017.CM.GDI.pdf)

[From Robert

[2017-07-05 18:59] corinnepw commented on #549
@cecilianempire 😂  Love this! Please apply via https://gethired.com/a/9a0a1a12-6fd2-4bbd-9b0b-9a4396cb0552 if you haven't already!

This issue is up for grabs still for anyone to take! Thank you :)

[2017-08-03 16:29] brendajin opened #562 "Staff update"
LaVonna is no longer a staff member. Please remove her profile from https://www.girldevelopit.com/about

[2017-08-23 13:23] corinnepw commented on #562
Bumping! Can anyone help with this content update?

[2017-08-23 13:24] corinnepw opened #563 "Remove positions from Jobs page"
Please remove Outreach and Special Initiatives Lead and Chapter Program Manager from girldevelopit.com/jobs

[2017-08-23 14:48] corinnepw opened #564 "Add DreamHost logo to Summit sponsors page"
Add DreamHost logo to girldevelopit.com/summit sponsors area

![dreamhost logo](https://user-images.githubusercontent.com/4427638/29622103-7f87a84e-87f0-11e7-8a12-aab26f6cf316.png)

[2017-08-24 03:13] #549 closed, assigned to nobody

[2017-08-24 03:13] #544 closed, assigned to nobody

[2017-08-24 03:13] #562 closed, assigned to nobody

[2017-08-24 04:07] #563 closed, assigned to nobody

[2017-08-24 04:07] #564 closed, assigned to nobody

[2017-09-11 15:54] corinnepw commented on #564
Hello! See that this has been closed but don't see it on the girldevelopit.com/summit page. Looks like it was added to girldevelopit.com/supporters instead.

[2017-09-11 15:56] kstack7 commented on #564
Woops. Misread. Will fix!

On Sep 11, 2017 11:54 AM, "Corinne" <notifications@github.com> wrote:

[2017-09-19 01:50] kstack7 commented on #564
Actually closed now.

[2017-09-22 19:17] shanisebarona opened #573 "Add two sponsor logos"
Hi!

Please add the following two logos of our sponsors onto the [girldevelopit.com/summit](http://girldevelopit.com/summit) site!

![slack logo](https://cdn.worldvectorlogo.com/logos/slack.svg)
![revzilla logo](https://user-images.githubusercontent.com/18401275/30760586-be322928-9fa8-11e7-8a68-b3c5173b8255.PNG)

Thank you! ✨

[2017-09-23 20:48] M0nica commented on #573
I am interested in working on this! I've TA'd with GDI-NYC Please let me know if I can contribute.

[2017-09-23 20:51] kstack7 commented on #573
Woops! Sorry, @M0nica, but we have that PR ready to launch to production tonight. BUT! We often have updates that could use some extra hands on deck if you're willing to try and spin up a local environment for yourself! You can fork the repo and use the readthedocs to try it out -- highly recommend using our vagrant setup, which simplifies the whole process (aside from some chunky downloads/instal

[2017-09-23 20:56] M0nica commented on #573
Thanks @kstack7 for letting me know! I am going to set up the site locally so that I can contribute in the future.

[2017-09-23 20:57] kstack7 commented on #573
A'course @M0nica --that'd be great :) Keep me posted if you hit any snarls -- hopefully smooth sailing for ya!

[2017-10-01 14:05] NewtCobell commented on #283
Has there been an update on this?

[2017-10-10 17:56] shanisebarona opened #578 "Add new HQ team members to about page 👭"
Hi! Please pull just the bios and the photos from this post: http://girldevelopit.tumblr.com/post/166110709643/girl-develop-its-hq-team-is-growing

and add the bios and headshots about to the GDI about page: https://www.girldevelopit.com/about

Thank you! 💖

[2017-10-10 18:13] shanisebarona opened #579 "Add new BoD members to about page 👯"
Hi hi! Please pull Janelle and Quinn's bios from this post: http://girldevelopit.tumblr.com/post/166077232273/janelle-jolley-and-quinn-heraty-join-girl-develop

And add the bios to the GDI about page: https://www.girldevelopit.com/about
Bios only, photos will be submitted at a later time!

Thank you! 💖

[2017-10-10 18:21] shanisebarona opened #580 "Add sponsor logo to Summit page"
Hi again – Please add the logo below to the summit page: https://www.girldevelopit.com/summit

[stackoverflow.pdf](https://github.com/girldevelopit/gdi-website/files/1372934/stackoverflow.pdf)

Thank you! 💖

[2017-10-12 00:51] shanisebarona opened #581 "Add summit logo to /summit page"
Hi again – (lots of updates this week it seems 😬 )

Please add the lovely 2017 summit logo at the top of the [summit page:
](https://www.girldevelopit.com/summit)
![web-pink-transparent](https://user-images.githubusercontent.com/18401275/31473967-cc5d2c42-aec5-11e7-9da7-345de9c987d0.png)

Thank you! ✨

[2017-10-12 06:09] #130 closed

[2017-10-12 06:09] #290 closed

[2017-10-12 06:09] #384 closed, assigned to nobody

[2017-10-12 06:09] #435 closed, assigned to nobody

[2017-10-12 06:09] #573 closed, assigned to nobody

[2017-10-12 06:09] #580 closed, assigned to nobody

[2017-10-12 06:09] #581 closed, assigned to nobody

[2017-10-26 14:13] shanisebarona opened #588 "add sponsor logo to summit and supporter page ✨"
Hi hi! Please add the CraftCMS logo to both the sponsor and supporter pages:

![craftcms](https://user-images.githubusercontent.com/18401275/32057771-35efde40-ba36-11e7-8ee0-270b37b8f0f2.png)

Thank you! 💖

[2017-10-26 14:21] shanisebarona opened #589 "add sponsor to supporter page 💪"
Hi again 👋

Please add Slack to the supporter page.

![slack_rgb 1](https://user-images.githubusercontent.com/18401275/32058161-518ea806-ba37-11e7-8736-3a392dcb8b68.png)

Thank you ✨

[2017-11-04 04:50] joncancode commented on #589
Hi there @shanisebarona i'd love to contribute and possibly even #588 #579 and #578 but let's start here.

I'm relatively new to open source contributions so one at a time would be ideal :-)

[2017-11-04 05:05] #578 closed, assigned to nobody

[2017-11-04 05:05] #579 closed, assigned to nobody

[2017-11-04 05:06] kstack7 commented on #589
@joncancode awesome! We love having new folks learn the git/open source ropes with us :) We just merged #578 and #579, but you're more than welcome to try out #588 and this one :)

[2017-11-04 17:12] joncancode commented on #589
@kstack7 pull request for #589 made. would love to get some feedback with the whole pull request process. thanks in advance :-)

[2018-01-02 19:58] shanisebarona opened #592 "Add Marketing role to website"
Hi, happy new year! 🌟

Please add the Director of Marketing job description to https://www.girldevelopit.com/jobs.

https://docs.google.com/document/d/1_yTIM2bSCOVRY0xRvRld8kLm2JzkaNe9bc7lW4ACO2s/edit#

Thank you!

[2018-01-02 20:11] elisekain commented on #592
So. Excited. 😍 I'm on it.

[2018-01-04 00:26] lilybarrett opened #595 "FAQ page link should be included in site nav menu"
Currently, the link to the FAQ page is buried in the content of the About page. It would be useful for users interested in GDI to be able to access the FAQ more easily and intuitively, via a new item on the nav menu.

- [x] Add a nav menu item for the FAQ page

I'd love to own the PR for this if we agree it's needed!

[2018-01-05 17:31] lilybarrett commented on #595
Here's a PR: https://github.com/girldevelopit/gdi-website/pull/596

[2018-01-05 18:19] lilybarrett commented on #381
I'd be happy to give this a shot. Does KSS stand for Knyle Style Sheets?

[2018-01-05 21:10] corinnepw commented on #381
@lilybarrett Thanks so much for this offer! We'll be transitioning sites in the next 3-6 months, so I would say we can skip this. 🙏

[2018-01-05 21:22] lilybarrett commented on #381
Sounds good! That's exciting. :) Should this be closed?

[2018-02-15 14:39] shanisebarona opened #597 "Pull Marketing role from /jobs page"
Hi there!

Can you please remove the Marketing role from the /jobs page, tomorrow 2/16?

Thank you! ✨

[2018-02-18 19:17] arlemagne commented on #597
Hi there! I'm new to open source and would love to take this one if someone's not already working on it. Thanks!

Edit: I have a PR for the issue here: https://github.com/girldevelopit/gdi-website/pull/598

[2018-03-12 18:33] shanisebarona opened #599 "Carbonite"
Hi there,

Can you please add this logo to the supporters page?

![carb_corp__logo_193x21_rgb_standard_transparentbckgrnd](https://user-images.githubusercontent.com/18401275/37302589-4d862068-2602-11e8-9460-0b5bdff21d0f.png)

[2018-03-13 06:04] #589 closed, assigned to nobody

[2018-03-13 06:04] #592 closed, assigned to nobody

[2018-03-13 06:04] #597 closed, assigned to nobody

[2018-03-13 06:04] #599 closed, assigned to nobody

[2018-03-13 20:05] shanisebarona opened #603 "Dreamhost"
Please add Dreamhost logo to /supporters page, thank you!

![dreamhost-provider](https://user-images.githubusercontent.com/18401275/37366933-4fe04d62-26d8-11e8-8ef9-8880e896a9ea.jpg)

[2018-03-14 12:44] shanisebarona opened #604 "add logo to /supporters page"
Hi there - can you please add the Apostrophe CMS logo to the supporters page? Thank you!

![apostrophecms logo stacked color rgb](https://user-images.githubusercontent.com/18401275/37402988-c41105ce-2763-11e8-8ed0-85600bc90e8d.png)

[2018-03-22 21:25] lilybarrett commented on #595
Just reminding folks of this PR! :)

[2018-05-17 16:00] shanisebarona opened #605 "Updating /supporters page"
Hi there!

Here's some updates that need to be made to the [supporters](https://www.girldevelopit.com/supporters) page:

**SPONSORS:**
Remove Benefit
Add DreamHost
Add Apostrophe

**PARTNERS:**
Add Lesbians Who Tech
Add shift7
Add Tech Jobs Tour
Add USOW
Remove Code Montage
Switch out the Black Girls Code logo (new one attached)

## Sponsors' logos:
![dh_logo-blue](https://user-images.githubuserco

[2018-05-24 20:21] aeimskei commented on #345
Hey I'm interested in giving this a shot too.

[2018-05-30 17:51] M0nica commented on #605
Hi @shanisebarona! I am interested in making these updates. Is there a particular order the logos should appear in aside from separating sponsors and partners?

[2018-06-06 23:20] corinnepw commented on #605
@M0nica Thank you so much! The logos don't need to appear in any specific order other than the partner/sponsor separation.

We're getting together as a team over the next few days to discuss maintaining site updates moving forward, so we won't be so delayed in our response. Apologies! We'll get back very soon... cc @leekinney @shanisebarona

[2018-06-20 22:32] evagabriela opened #609 "404 error trying to access the html-css curricula -- most recent was the slides for the Intermediate HTML/CSS http://girldevelopit.github.io/gdi-featured-html-css-intermediate/."
**Problem description:** User gets a 404 error when trying to access to html-css intermediate curricula ( from the website: https://www.girldevelopit.com/materials/inter-html)
![screencapture-girldevelopit-github-io-gdi-featured-html-css-intermediate-2018-06-20-15_28_43](https://user-images.githubusercontent.com/2048536/41687930-a98fb154-749e-11e8-870d-534b8e2d0120.png)

**Suggested solution:** Up

[2018-06-22 13:59] corinnepw commented on #609
cc @shanisebarona @leekinney

[2018-06-23 16:05] kstack7 commented on #609
Updated links to new repo location.

https://www.girldevelopit.com/materials/inter-html

[2018-06-23 16:05] #609 closed, assigned to nobody

[2018-07-13 13:59] btyy77c opened #611 "Change Link in GDI description"
On the main GitHub page (https://github.com/girldevelopit/gdi-website), GDI lists the website as `https://girldevelopit.com` instead of `https://www.girldevelopit.com`.

`https://girldevelopit.com` doesn't work, unfortunately.

Someone should change the link so it goes to `https://www.girldevelopit.com`.  Also, anyone with access should setup a redirect so users don't get confused.

[2018-08-19 14:38] greysteil opened #633 "Suggestion: use Dependabot to keep dependencies up-to-date"
Hey @leekinney,

First up, thanks for all your work on GDI. You are awesome, and so are the rest of the team .Consistently so impressed by what you do.

I noticed some out-of-date dependencies in the `Gemfile` and `Gemfile.lock` for this repo, and some of them are insecure (`sprockets` and `nokogiri` are the two I immediately noticed). Would you be up for using a tool I built to keep them up-to-da

[2019-02-03 23:25] lenoraporter commented on #605
Looks like this one was done.

[2020-11-04 14:01] #611 closed, assigned to nobody